/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
#popup {
  position: absolute;
  z-index: 90;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
#popup.fadein {
  opacity: 1;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
#popupContainer {
  width: 902px;
  height: auto;
  margin: 230px auto;
  padding: 76px;
  border: 2px solid white;
  margin-top: 15%;
}
#popupContainer.purchase {
  margin: 100px auto;
}
#popupContainer h1 {
  font-size: 32px;
  font-weight: 300;
  color: #f7f7f7;
  text-align: center;
  margin-bottom: 39px;
  line-height: 50px;
}
/*#popupContainer.purchase h1 {
  padding-top: 0;
}

#popupContainer.headerOnly h1 {
  padding-top:round(@screen-scale*100px);
}
*/
#popupContainer p {
  text-align: center;
  padding: 0 20px;
}
/*
#popupContainer.purchase p {
  line-height: @screen-scale*39px;
}

#popupContainer.purchase table {
  margin-top: round(@screen-scale*30px);
  width: 100%;
  padding: 0 @screen-scale*39px;
}

#popupContainer.purchase table tr {
  line-height: @screen-scale*30px;
  vertical-align: top;
}

#popupContainer.purchase table tr.orderTotal {
  font-weight: bold;
}

#popupContainer.purchase table tr.separator {
  height: round(@screen-scale*39px);
  vertical-align: middle;
}

#popupContainer.purchase table td:first-child {
  width: 80%;
}

#popupContainer.purchase table td:nth-child(2) {
  padding-left: round(@screen-scale*6px);
  text-align: right;
}

#popupContainer.purchase table tr.separator div {
  border-bottom: 1px solid @main-text-color;
  margin-left: @screen-scale*-30px;
  margin-right: @screen-scale*-30px;
}

#popupContainer.purchase table tr.rowWithSpacing {
  height: @screen-scale*85px;
  vertical-align: bottom;
}

#popupContainer.purchase table tr.rowWithTopSpacing {
  height: @screen-scale*51px;
  vertical-align: bottom;
}
*/
/*#popupContainer.moveUp {
  margin-top: round(@screen-scale*30px) !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



.errorMessage {
  width:round(@screen-scale*560px);
  margin:0 auto;
  color:#fff;
  font-size:round(@screen-scale*26px);
  line-height:round(@screen-scale*30px);
  text-align: center;
  padding-bottom: round(@screen-scale*30px);
}
*/
#popupButtons {
  margin: 25px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#popupButtons .buttonContainerContent {
  display: inline-block;
}
#popupContainer.purchase #popupButtons {
  margin-bottom: 0;
}
#popupContainer.error {
  width: 1102px;
  height: auto;
  margin: 230px auto;
  padding: 76px;
  border: 0px solid white;
}
#popupContainer.error h1 {
  text-align: left;
  font-size: 50px;
  width: 1102px;
  border-bottom: 2px solid #4b4b4b;
  padding-bottom: 40px;
}
#popupContainer.error p {
  text-align: left;
  font-size: 22px;
  width: 700px;
  float: left;
  margin: 0;
  padding: 0;
  color: #838383;
  margin-top: -10px;
}
#popupContainer.error #popupButtons {
  width: 300px;
  float: right;
  margin: 0;
  padding: 0;
  margin-right: -15px;
  margin-top: -10px;
  text-align: right;
}
#popupContainer .spsLogo {
  background: url('../../1080/media/logo.png') no-repeat center center;
  width: 230px;
  height: 91px;
  position: absolute;
  top: 75px;
  left: 840px;
  visibility: hidden;
}
#popupContainer.error .spsLogo {
  visibility: visible;
}
#popupErrorButtons {
  width: 560px;
  margin: 0 auto;
}
#popupUnsubscribeButtons {
  width: 300px;
  margin: 0 auto;
}
.userInformation {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
  font-size: 24px;
}
#paymentRedemptionButton {
  width: 456px;
  display: block;
  margin: 0 auto;
}
#leftButton,
#rightButton,
#paymentRedemptionButton,
.button {
  height: 52px;
  line-height: 52px;
  text-align: center;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 20px;
  background: black;
  border: 2px solid #9c9c9c;
  color: #9c9c9c;
  display: inline-block;
  position: relative;
  margin: 10px;
}
#leftButton {
  margin-right: 30px;
}
#leftButton.focus,
#rightButton.focus,
.button.focus {
  border: 2px solid #efefef;
  color: black;
  background: #efefef;
}
/*#popupContainer.widePopup{
  width: round(@screen-scale*960px);
}*/
