@import "../../globals.less";
@import "../../theme.less";

.payment{
  width: @full-screen-width;
  height: @full-screen-height;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
  top: 0px;
}

#paymentContent{
  width: @full-screen-width;
  height: @full-screen-height;
  left: 0px;
  top: 0px;
  position: absolute;
}

.payment #logo{
  width: round(@screen-scale*230px);
  height: round(@screen-scale*91px);
  background: url('../../../@{screen-width}/media/logo.png') top center no-repeat;
  margin-top: round(@screen-scale*112px);
  margin-left: round(@screen-scale*-115px);
  left: 50%;
  position: relative;
}

.payment .paymentContainer{
  width: round(@screen-scale*1081px);
  margin-left: round(@screen-scale*577px);
  margin-top: round(@screen-scale*125px);
}

.change-payment .paymentContainer {
  margin-left: round(@screen-scale*414px);
}

#thumbContainer {
  position: absolute;
  top: round(@screen-scale*336px);
  left: round(@screen-scale*245px);
}

.paymentConfirmation .thumb{
  width: round(@screen-scale*213px);
  margin-left: round(@screen-scale*15px);
}

#thumbContainer .rentalDescription {
  width: round(@screen-scale*280px);
  font-size: round(@screen-scale*24px);
}
#thumbContainer .rentalDescription.disable {
  display: none;
}

.payment .divider{
  width: 100%;
  height: 1px;
  background: #4b4b4b;
  margin: round(@screen-scale*22px) 0px;
}

.paymentConfirmation .row{
  width: 100%;
  color: #b3b3b3;
}

.paymentConfirmation .row.product-title {
  height: round(@screen-scale*39px);
  font-size: round(@screen-scale*20px);
}

.paymentConfirmation .row.product-tax {
  height: round(@screen-scale*39px);
  font-size: round(@screen-scale*20px);
}

.paymentConfirmation .row.order-total {
  height: round(@screen-scale*39px);
  font-size: round(@screen-scale*32px);
  font-weight: lighter;
}

.paymentConfirmation .payment-info{
  position: relative;
}

.paymentConfirmation .payment-info .payment-item{
  font-weight: 600;
  font-size: round(@screen-scale*20px);
  margin-top: round(@screen-scale*15px);
}

.paymentConfirmation .payment-info .payment-item.disable{
  display: none;
}

.paymentConfirmation #changePayment{
  position: absolute;
  top: 0px;
  right: 0px;
}

.paymentConfirmation .left{
  float: left;
}

.paymentConfirmation .right{
  float: right;
}


.paymentConfirmation .payment-title{
  font-size: 20px;
  color: #b3b3b3;
}

.payment .buttons{
  float: right;
}

.payment .button{
  .large-button();
  .text-button-small();
  margin-left: round(@screen-scale*6px);
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.payment .payment-option {
  margin-bottom: round(@screen-scale*15px);
}

.payment .change-payment .divider-bottom{
  margin-top: round(@screen-scale*7px);
}

.payment .button.disable{
  display: none;
}

.payment .button.inactive {
  opacity: 0.6;
}

.payment .button.focus{
  border:1px solid #efefef;
  background: #efefef;
  color: black;

}

.payment .button.inactive.focus{
  border:1px solid #9c9c9c;
  background: black;
  color: white;
}
.payment .payment-option .lowercase {
  text-transform: none;
}

.payment .payment-option.select{
  border: 2px solid white;
}


.paypal-icon{
  width: round(@screen-scale*104px);
  height: round(@screen-scale*26px);
  background: url('../../../@{screen-width}/media/paypal-icon.png') top center no-repeat;
  position: relative;
  display: inline-block;
  margin-right: round(@screen-scale*20px);
  top: round(@screen-scale*4px);
  margin-top: 0px;
}

.focus .paypal-icon {
  background: url('../../../@{screen-width}/media/paypal-icon-focus.png') top center no-repeat;
}

/* Payment success */
.payment-success .paymentContainer{
  margin-left: round(@screen-scale*414px);
}

.payment-success .paymentContainer .thumbnail {
  float: left;
  margin-right: @screen-scale*30px;
}

.payment-success .paymentContainer .thumbnail img {
  height: round(@screen-scale*280px);
}

.payment.payment-success .divider.withThumbnail {
  width: round(@screen-scale*863px);
  float: right;
  margin-top: @screen-scale*12px;
}

.success-message{
  color: #838383;
  font-size: round(@screen-scale*20px);
  width: round(@screen-scale*650px);
  float:left;
}


/* Help container */

.helpContainer{
  width: round(@screen-scale*1081px);
  margin-left: round(@screen-scale*414px);
  bottom: round(@screen-scale*45px);
  position: absolute;
}

.helpContainer .message{
  color: #444444;
  font-size: round(@screen-scale*20px);
  width: round(@screen-scale*715px);
}

.helpContainer #helpButton{
  float: right;
  position: absolute;
  top: round(@screen-scale*49px);
  right: 0px;
}

/* Promotion code */
.login.promocode #logo{
  margin-top: round(@screen-scale*100px);
}

.login.promocode .loginContainer{
  margin-top: round(@screen-scale*60px);
}

.login.promocode #inputField{
  top: round(@screen-scale*330px);
}

.login.promocode #ime {
  top: round(@screen-scale*459px);
}
.login.promocode .buttons {
  top: round(@screen-scale*459px);
}


.login.promocode .subtitle{
  max-width: round(@screen-scale*520px);
}

.helpContainer.disable{
  display: none;
}