/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
.payment {
  width: 1920px;
  height: 1080px;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
  top: 0px;
}
#paymentContent {
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.payment #logo {
  width: 230px;
  height: 91px;
  background: url('../../../1080/media/logo.png') top center no-repeat;
  margin-top: 112px;
  margin-left: -115px;
  left: 50%;
  position: relative;
}
.payment .paymentContainer {
  width: 1081px;
  margin-left: 577px;
  margin-top: 125px;
}
.change-payment .paymentContainer {
  margin-left: 414px;
}
#thumbContainer {
  position: absolute;
  top: 336px;
  left: 245px;
}
.paymentConfirmation .thumb {
  width: 213px;
  margin-left: 15px;
}
#thumbContainer .rentalDescription {
  width: 280px;
  font-size: 24px;
}
#thumbContainer .rentalDescription.disable {
  display: none;
}
.payment .divider {
  width: 100%;
  height: 1px;
  background: #4b4b4b;
  margin: 22px 0px;
}
.paymentConfirmation .row {
  width: 100%;
  color: #b3b3b3;
}
.paymentConfirmation .row.product-title {
  height: 39px;
  font-size: 20px;
}
.paymentConfirmation .row.product-tax {
  height: 39px;
  font-size: 20px;
}
.paymentConfirmation .row.order-total {
  height: 39px;
  font-size: 32px;
  font-weight: lighter;
}
.paymentConfirmation .payment-info {
  position: relative;
}
.paymentConfirmation .payment-info .payment-item {
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
}
.paymentConfirmation .payment-info .payment-item.disable {
  display: none;
}
.paymentConfirmation #changePayment {
  position: absolute;
  top: 0px;
  right: 0px;
}
.paymentConfirmation .left {
  float: left;
}
.paymentConfirmation .right {
  float: right;
}
.paymentConfirmation .payment-title {
  font-size: 20px;
  color: #b3b3b3;
}
.payment .buttons {
  float: right;
}
.payment .button {
  height: 58px;
  line-height: 58px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 20px;
  background: black;
  border: 1px solid #9c9c9c;
  color: white;
  font-family: opensans;
  font-size: 24px;
  color: #f7f7f7;
  margin-left: 6px;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.payment .payment-option {
  margin-bottom: 15px;
}
.payment .change-payment .divider-bottom {
  margin-top: 7px;
}
.payment .button.disable {
  display: none;
}
.payment .button.inactive {
  opacity: 0.6;
}
.payment .button.focus {
  border: 1px solid #efefef;
  background: #efefef;
  color: black;
}
.payment .button.inactive.focus {
  border: 1px solid #9c9c9c;
  background: black;
  color: white;
}
.payment .payment-option .lowercase {
  text-transform: none;
}
.payment .payment-option.select {
  border: 2px solid white;
}
.paypal-icon {
  width: 104px;
  height: 26px;
  background: url('../../../1080/media/paypal-icon.png') top center no-repeat;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  top: 4px;
  margin-top: 0px;
}
.focus .paypal-icon {
  background: url('../../../1080/media/paypal-icon-focus.png') top center no-repeat;
}
/* Payment success */
.payment-success .paymentContainer {
  margin-left: 414px;
}
.payment-success .paymentContainer .thumbnail {
  float: left;
  margin-right: 30px;
}
.payment-success .paymentContainer .thumbnail img {
  height: 280px;
}
.payment.payment-success .divider.withThumbnail {
  width: 863px;
  float: right;
  margin-top: 12px;
}
.success-message {
  color: #838383;
  font-size: 20px;
  width: 650px;
  float: left;
}
/* Help container */
.helpContainer {
  width: 1081px;
  margin-left: 414px;
  bottom: 45px;
  position: absolute;
}
.helpContainer .message {
  color: #444444;
  font-size: 20px;
  width: 715px;
}
.helpContainer #helpButton {
  float: right;
  position: absolute;
  top: 49px;
  right: 0px;
}
/* Promotion code */
.login.promocode #logo {
  margin-top: 100px;
}
.login.promocode .loginContainer {
  margin-top: 60px;
}
.login.promocode #inputField {
  top: 330px;
}
.login.promocode #ime {
  top: 459px;
}
.login.promocode .buttons {
  top: 459px;
}
.login.promocode .subtitle {
  max-width: 520px;
}
.helpContainer.disable {
  display: none;
}
