@import "../../globals.less";
@import "../../theme.less";

#keyboard{
    position:absolute;
    bottom:0px;
    left:0px;
    width:round(@screen-scale*1920px);
    height:round(@screen-scale*450px);
    background-color: rgba(17,18,19,0.7);
    .text-main();
}

@-webkit-keyframes keyboardAni {
    from {bottom:round(@screen-scale*-380px);}
    to {bottom:0px;}
}
@-o-keyframes keyboardAni {
    from {bottom:round(@screen-scale*-380px);}
    to {bottom:0px;}
}
@keyframes keyboardAni {
  from {bottom:round(@screen-scale*-380px);}
  to {bottom:0px;}
}
.clearRow {
    clear:both;
}
.hidden {
    display:none;
}

#input {
    display: none;
    width:round(@screen-scale*1220px);
    height:round(@screen-scale*65px);
    position: relative;
    top:0px;
    left:round(@screen-scale*30px);
    background: rgba(0,0,0,0.5);
    color:#FFF;
}

/*make sure .input-element has same font-type and font-size for correct placement*/
#input input {
    /*font-family: arial;*/
    width:round(@screen-scale*550px);
    height:round(@screen-scale*35px);
    line-height:round(@screen-scale*32px);
    font-size:round(@screen-scale*24px);
    padding-left:round(@screen-scale*5px);
    border-color: #FFF;
    background-color: #FFF;
}

#input input.focus {
    border-color: #219161;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-box-shadow: 0 0 round(@screen-scale*10px) #FFF;
    -moz-box-shadow: 0 0 round(@screen-scale*10px) #FFF;
    -o-box-shadow: 0 0 round(@screen-scale*10px) #FFF;
    box-shadow: 0 0 round(@screen-scale*10px) #FFF;
}

.testform {
    width:round(@screen-scale*550px);
    margin:0 auto;
    padding-top:round(@screen-scale*12px);
    height:round(@screen-scale*35px);
    line-height: round(@screen-scale*30px);
}

#keyboardScreen {
    width:round(@screen-scale*1920px);
    height:round(@screen-scale*450px);
    position:relative;
    top:round(@screen-scale*30px);
    left:round(@screen-scale*280px);
}

#keyboardFrame {
    width:round(@screen-scale*1920px);
    margin:0 auto;
    padding-top:round(@screen-scale*20px);
}

#keyboardScreen .character,
#keyboardScreen .characterBe,
#keyboardScreen .characterSign,
#keyboardScreen .characterExtra,
#keyboardScreen .characterMoveCarot,
#keyboardScreen .characterSpecial,
#keyboardScreen .numbers,
#keyboardScreen .special,
#keyboardScreen .button {
    list-style-type: none;
    float:left;
    height:round(@screen-scale*70px);
    width:round(@screen-scale*70px);
    line-height: round(@screen-scale*70px);
    background-color: @keyboard-key-background-color;
    border-radius: @keyboard-key-border-radius;
    border: @keyboard-key-border-width;
    border-color: @keyboard-key-border-color;
    color: @keyboard-key-text-color;
    margin:round(@screen-scale*5px);
    padding:round(@screen-scale*5px);
    font-weight: normal;
    text-align: center;
}

#keyboardScreen .character.deactivated,
#keyboardScreen .characterBe.deactivated,
#keyboardScreen .characterSign.deactivated,
#keyboardScreen .characterExtra.deactivated,
#keyboardScreen .characterMoveCarot.deactivated,
#keyboardScreen .characterSpecial.deactivated,
#keyboardScreen .special.deactivated,
#keyboardScreen .button.deactivated {
  color:#000;
  background-color: #323232;
}

#keyboardScreen .caps, #keyboardScreen .submit, #keyboardScreen .switchlan {
    background-color: @keyboard-key-background-color;
}

#keyboardScreen .button {   width:round(@screen-scale*160px);  }
#keyboardScreen .smallbutton {   width:round(@screen-scale*70px);  }
#keyboardScreen .special {   width:round(@screen-scale*160px);  }
#keyboardScreen .space {
    width:round(@screen-scale*430px);
}
#keyboardScreen .characterExtra {
    font-size:round(@screen-scale*30px);
}

#keyboardScreen .character.uppercase,
#keyboardScreen .characterSpecial.uppercase,
#keyboardScreen .characterBe.uppercase {
    text-transform: capitalize;
}

#keyboardFrame .numpad {
    float:left;
    width:round(@screen-scale*350px);
    height:round(@screen-scale*500px);
    margin-top:round(@screen-scale*10px);
}

#keyboardFrame .numpad li {
    list-style-type: none;
    float:left;
}

#keyboardFrame .functions  {
    display: none;
    float:left;
    width:round(@screen-scale*260px);
    height:round(@screen-scale*500px);
    margin-top:round(@screen-scale*10px);
    font-size:round(@screen-scale*30px);
}

#keyboardFrame .characters {
    float:left;
    width:round(@screen-scale*1050px);
    height:round(@screen-scale*500px);
    margin-top:round(@screen-scale*10px);
    font-size:round(@screen-scale*30px);
}

#keyboardFrame .character,
#keyboardFrame .characterBe,
#keyboardFrame .numpad,
#keyboardFrame .characterSign,
#keyboardFrame .characterSpecial {
    font-size:round(@screen-scale*30px);
}

#keyboardFrame .characters ul,
#keyboardFrame .extras ul,
#keyboardFrame .numpad ul,
#keyboardFrame .functions ul {
    margin:0;
    padding:0;
}

#keyboardScreen .character.focus,
#keyboardScreen .characterSpecial.focus,
#keyboardScreen .characterBe.focus,
#keyboardScreen .characterSign.focus,
#keyboardScreen .characterExtra.focus,
#keyboardScreen .characterMoveCarot.focus,
#keyboardScreen .numbers.focus,
#keyboardScreen .special.focus,
#keyboardScreen .button.focus  {
    background-color: @keyboard-key-focus-background-color;
    color: @keyboard-key-focus-text-color;
    height:round(@screen-scale*70px);
    width:round(@screen-scale*70px);
    line-height: round(@screen-scale*70px);
    margin-right: round(@screen-scale*5px);
    margin-bottom: round(@screen-scale*5px);
    margin-left: round(@screen-scale*5px);
    margin-top: round(@screen-scale*5px);
}
#keyboardScreen .button.focus {   width:round(@screen-scale*160px);  }
#keyboardScreen .smallbutton.focus {   width:round(@screen-scale*70px);  }
#keyboardScreen .special.focus {   width:round(@screen-scale*160px);  }
#keyboardScreen .space.focus {
    width:round(@screen-scale*430px);
    font-size: 0px;
    background-color: @keyboard-key-focus-background-color;
    color: @keyboard-key-text-color;
    margin-right: round(@screen-scale*5px);
    margin-bottom: round(@screen-scale*5px);
    margin-left:round(@screen-scale*5px);
    margin-top: round(@screen-scale*5px);
}

/*images*/

/*#num_10 {*/
    /*width:40px; height:40px;*/
    /*background: url("../../media/sprite.png") no-repeat 5px 5px;*/
    /*overflow:hidden;*/
/*}*/
/*#num_10.focus {*/
    /*background: url("../../media/sprite.png") no-repeat 10px -60px;*/
/*}*/
/*#num_11 {*/
    /*width:40px; height:40px;*/
    /*background: url("../../media/sprite.png") no-repeat -30px 5px;*/
    /*overflow:hidden;*/
/*}*/
/*#num_11.focus {*/
    /*background: url("../../media/sprite.png") no-repeat -25px -60px;*/
/*}*/

/*.space {    */
    /*width:120px; height:40px;*/
    /*background: url("../../media/sprite.png") no-repeat 70px -33px;*/
    /*overflow:hidden;*/
/*}*/
/*.space.focus {*/
    /*background: url("../../media/sprite.png") no-repeat 75px -98px;*/
/*}*/

#keyboardLoading {
    float:right;
    width:round(@screen-scale*150px);
    color:#777;
    margin-top:round(@screen-scale*25px);
    height:round(@screen-scale*30px);
    line-height: round(@screen-scale*30px);
    margin-right:round(@screen-scale*130px);
}

#backButton {
    position:absolute;
    bottom:round(@screen-scale*20px);
    right:round(@screen-scale*25px);
    width:round(@screen-scale*60px);
    height:round(@screen-scale*25px);
}

#backButton .closeTxt {
    font-size: round(@screen-scale*30px);
    color:#FFF;
    margin-top:round(@screen-scale*-20px);
    float:right;
}
#backButton.focus .closeTxt {
    color: #777;
}

#backButton .close{
  position:relative;
  width:0.3em;
  height:1.5em;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#backButton .close:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:0.3em;
  height:1.5em;
  background: #FFF;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#backButton.focus .close, #backButton.focus .close:after {
    background: #777;
}

@-webkit-keyframes ajax-loader-rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
   0% { -moz-transform: rotate(0deg); }
   100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes ajax-loader-rotate {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ajax-loader {
  opacity: .8;
  display: block;
  border-radius: 50%;

  font-size: 29px;
  width: .25em;
  height: .25em;

  box-shadow:
    0 -.4em       0 0 rgba(0,0,0,1),
    -.28em -.28em 0 0 rgba(0,0,0,.75),
    -.4em 0       0 0 rgba(0,0,0,.50),
    -.28em .28em  0 0 rgba(0,0,0,.25)
  ;

  -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
  -o-animation: .85s ajax-loader-rotate steps(8) infinite;
  animation: .85s ajax-loader-rotate steps(8) infinite;
}

@keyframes nodeInserted {
  from { clip: rect(1px, auto, auto, auto); }
  to { clip: rect(0px, auto, auto, auto); }
}

.characters li{
  animation-duration: 0.001s;
  animation-name: nodeInserted;
}

#sizer
{
    position: absolute;
    display: inline-block;
    visibility: hidden;
    margin: 3px; /* simulate padding and border without affecting height and width */
    font-size: 24px;
}

.input-element {
     border: 0px;
     padding:round(@screen-scale*3px);
     background: #fff;
     size: round(@screen-scale*24px);
     font-size: round(@screen-scale*24px);
   }

.tmp-element {
    visibility: hidden;
    white-space: pre;
}

.fakeCursor {
    /*background: url("../../media/fakecursor.png") no-repeat top left;*/
    width:round(@screen-scale*10px);
    height:round(@screen-scale*20px);
    position: absolute;
    left:round(@screen-scale*-50px);
    top:round(@screen-scale*-12px);
    color:#FFF;
}

#closeKeyboard {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
