/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
#debugText {
  position: absolute;
  z-index: 20;
}
#vpPlayer video {
  position: absolute;
}
#overlay {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
#overlay #header {
  height: 360px;
  width: 1730px;
  background-image: url('../../../1080/media/videoplayer/top-bg.png');
  background-repeat: repeat-x;
  padding: 26px 95px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#overlay .vpContainer {
  position: absolute;
  bottom: 0px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  height: 360px;
  width: 1920px;
  background-image: url('../../../1080/media/videoplayer/bottom-bg.png');
  background-repeat: repeat-x;
}
#overlay .vpContainer.leanback-visible {
  -o-transform: translate(0px, -120px);
  -webkit-transform: translate3d(0px, -120px, 0);
}
#overlay .vpContainer.hide {
  -o-transform: translate(0px, 1100px);
  -webkit-transform: translate3d(0px, 1100px, 0);
}
#overlay .vpContainer.leanback .background {
  position: absolute;
  bottom: -120px;
  height: 470px;
  width: 1920px;
  background-image: -o-linear-gradient(top, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.1) 20%, rgba(2, 2, 2, 0.8) 80%, #020202 100%);
  background-image: -webkit-linear-gradient(top, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.1) 20%, rgba(2, 2, 2, 0.8) 80%, #020202 100%);
}
#overlay #controls {
  width: 1920px;
  height: 120px;
  position: absolute;
  bottom: 0px;
}
#overlay #controls .buttonControls {
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  float: left;
  margin-left: 95px;
  margin-top: 21px;
  font-size: 18px;
}
#overlay .playerButton {
  float: left;
  width: 70px;
  height: 70px;
  background-image: url('../../../1080/media/videoplayer/buttons.png');
  margin-right: 9px;
  background-repeat: no-repeat;
}
#overlay .playerButton.disable {
  display: none;
}
#overlay #controls .buttonControls .playerButton:last-child,
#overlay #controls .buttonControls #forward.playerButton,
#overlay #controls .buttonControls.cc #cc.playerButton {
  padding-right: 0;
}
#overlay #controls .buttonControls #forward .speed,
#overlay #controls .buttonControls #rewind .speed {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-weight: bold;
  background-color: #202123;
  text-align: center;
  line-height: 60px;
  color: #f7f7f7;
  margin-left: 5px;
  position: absolute;
  bottom: 205px;
  font-size: 24px;
  display: none;
}
#overlay #controls .buttonControls.cc #forward.playerButton,
#overlay #controls .buttonControls.subs #forward.playerButton,
#overlay #controls .buttonControls.cc.subs #cc.playerButton {
  margin-right: 9px;
}
#overlay #controls .buttonControls #rewindChapter {
  background-position: 0px 0px;
}
#overlay #controls .buttonControls #rewind {
  background-position: 0px -70px;
}
#overlay #controls .buttonControls #play.pause {
  background-position: 0px -140px;
}
#overlay #controls .buttonControls #play {
  background-position: 1px -209px;
}
#overlay #controls .buttonControls #stop {
  background-position: 0px -230px;
}
#overlay #controls .buttonControls #forward {
  background-position: 0px -280px;
}
#overlay #controls .buttonControls #forwardChapter {
  background-position: 0px -350px;
}
#overlay #header #subs {
  background-position: 0px -420px;
}
#overlay #header #audio {
  background-position: 0px -490px;
}
#overlay #controls .buttonControls #rewindChapter.focus {
  background-position: -71px 0px;
}
#overlay #controls .buttonControls #rewind.focus {
  background-position: -70px -70px;
}
#overlay #controls .buttonControls #play.pause.focus {
  background-position: -70px -140px;
}
#overlay #controls .buttonControls #play.focus {
  background-position: -69px -209px;
}
#overlay #controls .buttonControls #stop.focus {
  background-position: -70px -230px;
}
#overlay #controls .buttonControls #forward.focus {
  background-position: -70px -280px;
}
#overlay #controls .buttonControls #forwardChapter.focus {
  background-position: -68px -350px;
}
/*#overlay #header #subs.focus {

#overlay #controls .buttonControls #extras {
  background-position: 0px round(@screen-scale*-560px);
}

#overlay #controls .buttonControls #extras.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-560px);
}
#overlay #controls .buttonControls #extras.active {
  background-position: round(@screen-scale*-141px) round(@screen-scale*-560px);
}
#overlay #controls .buttonControls #extras.active.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-560px);
}

#overlay #header #subs.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-420px);
}
#overlay #header #audio.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-490px);
}

#overlay #header #subs.select {
  background-position: round(@screen-scale*-141px) round(@screen-scale*-420px);
}
#overlay #header #audio.select{
  background-position: round(@screen-scale*-141px) round(@screen-scale*-490px);
}
#overlay #header #extras.active {
  background-position: round(@screen-scale*-141px) round(@screen-scale*-560px);
}
#overlay #header #extras.active.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-560px);
}*/
#overlay #controls .audio-sub-button {
  width: auto;
  background: none;
  color: #717171;
  margin-top: 24px;
}
#overlay #controls .audio-sub-button.focus {
  color: #ffffff;
}
#overlay #controls .audio-sub-button span {
  width: 28px;
  height: 24px;
  background-image: url('../../../1080/media/videoplayer/subs_audio.png');
  margin-right: 5px;
  display: inline-block;
  top: 7px;
  position: relative;
}
#overlay #controls #subs {
  margin-left: 27px;
}
#overlay #controls #audio {
  margin-left: 38px;
}
#overlay #controls #subs span {
  background-position: 0px 0px;
}
#overlay #controls #audio span {
  background-position: -28px 0px;
  margin-right: 10px;
}
#overlay #controls #subs.focus span {
  background-position: 0px -24px;
}
#overlay #controls #audio.focus span {
  background-position: -28px -24px;
}
#overlay .playerTimes {
  float: right;
  margin-right: 103px;
  margin-top: 51px;
  font-size: 18px;
  color: #fff;
  margin-top: 26px;
}
#overlay .previewPlayerTimes {
  display: none;
  float: right;
  margin-right: 103px;
  font-size: 18px;
  color: #fff;
  margin-top: 26px;
}
#overlay .progressTimeIcon {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  background-image: url('../../../1080/media/detail-buttonicons.png');
  background-size: 60px 210px;
  width: 14px;
  height: 14px;
  background-position: 0px -180px;
}
#overlay .remaining {
  color: #b4b4b4;
}
#overlay #remainingTime {
  padding-left: 10px;
}
#overlay .purchaseOptions {
  display: none;
}
#overlay #purchasePreviewProduct {
  width: 1050px;
  color: #b4b4b4;
  font-family: opensans;
  font-size: 16px;
  text-align: right;
  float: right;
  line-height: 60px;
  margin-right: 20px;
}
#overlay #leftPreviewButton,
#overlay #rightPreviewButton {
  float: right;
  width: 250px;
  height: 60px;
  background-color: #000;
  border: 1px solid #b4b4b4;
  color: #b4b4b4;
  font-family: opensans;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  margin-right: 15px;
  text-align: center;
}
#overlay #leftPreviewButton.focus,
#overlay #rightPreviewButton.focus {
  background-color: #f0f0f0;
  color: #000;
}
#purchaseSuccesfull {
  display: none;
  position: absolute;
  top: 310px;
  left: 580px;
  width: 750px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  z-index: 20;
}
#purchaseSuccesfull .thumb {
  width: 240px;
  height: 300px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}
#purchaseSuccesfull .thumb img {
  width: 200px;
  height: 280px;
}
#purchaseSuccesfull .content {
  width: 450px;
  float: left;
}
#purchaseSuccesfull .content p {
  color: #b4b4b4;
  font-family: opensans;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}
#purchaseSuccesfull .buttons {
  height: 100px;
}
#purchaseSuccesfull .buttons #previewContinueButton,
#purchaseSuccesfull .buttons #previewBackButton {
  float: left;
  width: 250px;
  height: 60px;
  background-color: #000;
  border: 1px solid #b4b4b4;
  color: #b4b4b4;
  font-family: opensans;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  margin-right: 15px;
  text-align: center;
}
#purchaseSuccesfull .buttons #previewBackButton {
  width: 115px;
  background-color: #000;
  margin-right: 0px;
}
#purchaseSuccesfull .buttons #previewContinueButton.focus,
#purchaseSuccesfull .buttons #previewBackButton.focus {
  background-color: #f0f0f0;
  color: #000;
}
#overlay #progress {
  width: 1920px;
  bottom: 124px;
  position: absolute;
}
#overlay #progress #progress-dot {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 10px;
  position: absolute;
  left: 0%;
  top: 3px;
  margin-left: -10px;
  z-index: 100;
}
#overlay .progress {
  width: 1714px;
  height: 13px;
  margin: 0 103px;
  margin-bottom: 2px;
  position: relative;
}
#overlay .progress #progressBar {
  float: left;
  width: 1714px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 7px;
}
#progressBar #video-progress {
  height: 12px;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.8);
}
#overlay .progress #curTime,
#overlay .progress #totalTime {
  font-family: opensans;
  font-size: 27px;
  color: #f7f7f7;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 130px;
}
#overlay .progress #curTime {
  padding-right: 20px;
  text-align: left;
}
#overlay .progress #totalTime {
  padding-left: 20px;
  text-align: right;
  right: 0px;
}
/* Chapters */
#chapters {
  float: left;
  width: 1714px;
  height: 16px;
  margin-top: 0px;
  position: absolute;
}
#chapters .chapter-point {
  width: 8px;
  height: 12px;
  position: absolute;
  margin-top: 7px;
  margin-left: -8px;
  padding-left: 6px;
  padding-right: 6px;
}
#chapters .chapter-point:after {
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
}
#chapters .chapter-point .marker {
  width: 8px;
  background: white;
  height: 100%;
  display: block;
}
#chapter-thumb-container {
  width: 292px;
  height: 208px;
  background: #717171;
  position: absolute;
  left: 0px;
  top: -225px;
  display: none;
  font-size: 20px;
  text-align: center;
}
#chapter-thumb {
  display: block;
  position: relative;
  width: 292px;
  height: 164px;
}
#chapter-thumb-container .chapter-info {
  margin-top: 7px;
}
#chapter-arrow-down {
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 12px solid #717171;
  margin-top: 10px;
  left: -14px;
  position: relative;
}
#overlay .videoInfo {
  height: 99px;
  width: 1920px;
  position: absolute;
  bottom: 131px;
}
#overlay .videoInfo .title {
  font-size: 32px;
  font-weight: 300;
  color: #f7f7f7;
  color: #ffffff;
  margin-left: 103px;
  float: left;
  margin-top: 25px;
}
#overlay .videoInfo .year {
  font-size: 16px;
  color: #717171;
  margin-left: 18px;
  margin-top: 42px;
  float: left;
}
#overlay .videoInfo .quality {
  position: absolute;
  right: 103px;
  top: 22px;
  font-size: 28px;
  color: #b4b4b4;
}
#subtitleContainer {
  position: absolute;
  display: table;
  bottom: 100px;
  left: 100px;
  width: 1720px;
  height: 150px;
  color: #FFFFFF;
  font-family: opensans;
  font-size: 55px;
  line-height: 60px;
  text-shadow: 1px 1px 1px #888888;
  text-align: center;
  z-index: 8;
}
#subtitleContainer .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#subtitleContainer .background {
  padding: 10px;
  display: inline-block;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0);
  visibility: hidden;
}
#subtitleContainer .background p {
  line-height: 40px;
  text-align: center;
}
#overlay #controls .buttonControls #alerts {
  width: 221px;
  line-height: 70px;
  text-align: center;
  background-image: none;
  display: none;
}
#overlay #controls .audio-sub-button {
  width: auto;
  background: none;
  color: #717171;
  margin-top: 17px;
}
#overlay #controls .audio-sub-button.focus {
  color: #ffffff;
}
#overlay #controls .audio-sub-button span {
  width: 28px;
  height: 24px;
  background-image: url('../../../1080/media/videoplayer/subs_audio.png');
  margin-right: 5px;
  display: inline-block;
  top: 7px;
  position: relative;
}
#overlay #controls #subs {
  margin-left: 27px;
}
#overlay #controls #audio {
  margin-left: 38px;
}
#overlay #controls #subs span {
  background-position: 0px 0px;
}
#overlay #controls #audio span {
  background-position: -28px 0px;
  margin-right: 10px;
}
#overlay #controls #subs.focus span {
  background-position: 0px -24px;
}
#overlay #controls #audio.focus span {
  background-position: -28px -24px;
}
/* Trivia messages */
#triviaContainer {
  position: absolute;
  width: auto;
  height: auto;
  top: 37px;
  right: 78px;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  z-index: 20;
}
#triviaContainer.disabled {
  display: none !important;
}
#triviaContainer.video {
  height: 145px;
}
#triviaContainer .thumbnail {
  display: none;
  height: 145px;
  background: black;
  background-size: cover;
  background-position: center;
  float: left;
  width: 235px;
  margin-right: 27px;
}
#triviaContainer .thumbnail .icon {
  width: 64px;
  height: 64px;
  background-image: url('../../../1080/media/videoplayer/buttons.png');
  background-position: 0px -633px;
  margin-top: 38px;
  margin-left: 79px;
}
#triviaContainer .focus .thumbnail .icon {
  background-position: -71px -634px;
}
#triviaContainer.video .thumbnail {
  display: block;
}
#triviaContainer .message {
  font-family: opensans;
  font-size: 27px;
  color: #f7f7f7;
  font-weight: 300;
  position: relative;
  padding: 24px 34px;
  width: 485px;
  height: auto;
  color: #ebebeb;
}
#triviaContainer.video .videoDescription {
  height: 48px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#triviaContainer.video .message .videoType {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  margin-top: -18px;
}
/* Leanback */
#overlay .vpContainer.leanback .videoInfo {
  bottom: 224px;
  background: none;
}
.vpContainer.leanback #leanback {
  height: 122px;
  width: 1920px;
  position: absolute;
  bottom: 0px;
}
#leanback .thumbnail-container {
  width: 10000px;
  height: 185px;
  overflow: hidden;
  margin-left: 100px;
}
#leanback .thumbnail-container .scroll-container {
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#leanback .thumbnail-container .extra-thumbnail {
  float: left;
  width: 292px;
  height: 165px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 24px;
  position: relative;
}
#leanback .thumbnail-container .thumbnail-border {
  width: 288px;
  height: 161px;
  border: 2px solid white;
  position: absolute;
  display: none;
}
#leanback .thumbnail-container .focus .thumbnail-border {
  display: block;
}
#leanback .thumbnail-container .extra-thumbnail img {
  width: 100%;
  height: 100%;
}
/* Autoplay */
.autoplay-controls {
  position: absolute;
  height: auto;
  width: 531px;
  right: 23px;
  top: 169px;
}
.autoplay-controls .counter {
  font-size: 20px;
  line-height: 20px;
  color: #b4b4b4;
  margin-bottom: 20px;
}
.autoplay-controls img {
  width: 292px;
  height: 164px;
  margin-bottom: 45px;
}
.autoplay-controls .autoplay-title {
  font-size: 32px;
  color: white;
}
.autoplay-controls .autoplay-subtitle {
  font-size: 20px;
  color: #b4b4b4;
  margin-top: 4px;
}
.autoplay-controls .autoplay-description {
  font-size: 20px;
  color: #838383;
  margin-top: 20px;
}
.autoplay-controls .button {
  height: 58px;
  line-height: 58px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 20px;
  background: black;
  border: 1px solid #9c9c9c;
  color: white;
  font-family: opensans;
  font-size: 24px;
  color: #f7f7f7;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  margin-top: 38px;
}
.autoplay-controls .button.disable {
  display: none;
}
.autoplay-controls .button.inactive {
  opacity: 0.6;
}
.autoplay-controls .button.focus {
  border: 1px solid #efefef;
  background: #efefef;
  color: black;
}
#videoWrapper {
  width: 1322px;
  height: 742px;
  position: absolute;
  top: 169px;
  left: 23px;
}
#videoWrapper.focus {
  border: 2px solid white;
}
