/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
@import "loading.css";
@import "popups/popup.css";
@import "screens/splashscreen/splashscreen.css";
@font-face {
  src: url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
  font-family: opensans;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../fonts/opensans-light.woff') format('woff'), url('../fonts/opensans-light.ttf') format('truetype');
  font-family: opensans;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
  font-family: opensans;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  src: url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype');
  font-family: opensans;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype');
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../fonts/comicsans-msregular.ttf') format('truetype');
  font-family: 'comicsans';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../fonts/arial-regular.ttf') format('truetype');
  font-family: 'arial';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../fonts/courier-regular.ttf') format('truetype');
  font-family: 'courier';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../fonts/times-regular.ttf') format('truetype');
  font-family: 'times';
  font-weight: normal;
  font-style: normal;
}
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  color: #f7f7f7;
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
  -o-touch-callout: none;
  -o-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #000000;
  font-family: opensans;
  font-size: 18px;
  color: #f7f7f7;
}
body.nobackground {
  background: none;
}
:focus {
  outline: 0 solid;
}
a:link {
  text-decoration: none;
  color: #fff;
}
#rootContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.menuBg {
  position: absolute;
  height: 100%;
  width: 85px;
  background: #141414;
}
.focus {
  cursor: pointer;
}
.focus.disable {
  cursor: default;
}
.noAnimation {
  -o-border-radius: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
#vendor {
  visibility: hidden;
}
input {
  font-size: 18px;
  border: 0px solid #202123;
  color: black;
  background-color: white;
  padding: 0 10px;
  margin: 0;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
  line-height: 35px;
  width: 500px;
}
button {
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  border: 2px solid #f44336;
}
#screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: "opensans";
  font-weight: normal;
  overflow: hidden;
}
#container {
  width: 100%;
  height: 100%;
}
#info {
  position: absolute;
  top: 200px;
  left: 20px;
}
.title,
.playlistTitle {
  font-size: 36px;
  font-weight: bold;
  color: #f7f7f7;
  float: left;
}
#backgroundContainer {
  width: 100%;
  height: 100%;
  background: black url('../1080/media/theme/placeholder.jpg') no-repeat center;
  background-size: cover;
}
#backgroundContainer.vplayer {
  display: none;
}
#backgroundContainer img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  opacity: 1;
  -o-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
#backgroundContainer img.disable {
  opacity: 0;
}
.cpe {
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
  width: 1920px;
  height: 1080px;
  visibility: hidden;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  z-index: 100;
}
#viewPort {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 1080px;
  width: 1920px;
  top: 50%;
  margin-top: -540px;
}
#otiframe {
  opacity: 0;
  display: none;
}
.navigationContainer {
  display: none;
}
#container.detail .navigationContainer,
#settings_1 .navigationContainer {
  width: inherit;
}
.navigationContainer .navigationButton {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 80px;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transform: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.navigationContainer .navigationButton.vertical {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: inherit;
  height: 80px;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transform: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.navigationContainer .navigationButton:hover {
  opacity: 1;
}
.navigationContainer .navigationButton .icon {
  position: absolute;
  top: 50%;
  margin-top: -29px;
  width: 80px;
  height: 58px;
  background: transparent url('../1080/media/nav-icons.png') no-repeat 12px -70px;
}
.navigationContainer .navigationButton.vertical .icon {
  position: absolute;
  left: 50%;
  margin-left: -29px;
  height: 80px;
  width: 58px;
  background: transparent url('../1080/media/nav-icons.png') no-repeat 0px -70px;
}
.navigationContainer .navigationButton.vertical:hover .icon {
  background-position-x: -66px;
}
.navigationContainer .navigationButton:hover .icon {
  background-position-x: -54px;
}
.navigationContainer #navigationLeft {
  position: absolute;
  left: 312px;
}
.navigationContainer #navigationLeftVideos,
.navigationContainer #navigationLeftImages {
  position: absolute;
  left: 0px;
}
.navigationContainer #navigationRight,
.navigationContainer #navigationRightVideos,
.navigationContainer #navigationRightImages {
  display: block;
  position: absolute;
  right: 0px;
}
.navigationContainer #navigationRight.navigationButton .icon,
.navigationContainer #navigationRightVideos.navigationButton .icon,
.navigationContainer #navigationRightImages.navigationButton .icon {
  background-position-y: -140px;
}
.navigationContainer {
  display: block !important;
}
.navigationContainer #navigationTop {
  position: fixed;
  top: 0px;
}
.navigationContainer #navigationBottom {
  display: block;
  position: fixed;
  bottom: 0px;
}
#settings_1 .navigationContainer #navigationBottom,
#settings_1 .navigationContainer #navigationTop {
  width: 85%;
}
.navigationContainer #navigationTop.navigationButton .icon {
  background-position-y: -300px;
}
.navigationContainer #navigationBottom.navigationButton .icon {
  background-position-y: -370px;
}
@keyframes foregroundAnimation {
  0% {
    -o-transform: scale(1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  45% {
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale3d(1.3, 1.3, 1);
  }
  50% {
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale3d(1.3, 1.3, 1);
  }
  95% {
    -o-transform: scale(1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    -o-transform: scale(1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes backgroundAnimation {
  0% {
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale3d(1.3, 1.3, 1);
  }
  45% {
    -o-transform: scale(1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  50% {
    -o-transform: scale(1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  95% {
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale3d(1.3, 1.3, 1);
  }
  100% {
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale3d(1.3, 1.3, 1);
  }
}
/* Windows 10 specific css */
html,
body {
  -ms-content-zooming: none;
}
@-ms-viewport {
  width: 1920px;
}
