/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
#container.settings {
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
}
.settings #content {
  position: absolute;
  height: 1080px;
  width: 1598px;
  left: 322px;
}
.settings #content .content {
  padding-top: 248px;
  padding-left: 262px;
  width: 1082px;
  -o-transition: padding-top 200ms ease-in-out;
  -webkit-transition: padding-top 200ms ease-in-out;
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.settings #content .content h1 {
  font-size: 32px;
  font-weight: 300;
  color: #f7f7f7;
}
.settings #content .content .versionNumber {
  float: right;
  margin-top: -26px;
  color: #4c4c4c;
  font-size: 17px;
}
.settings #content .content .divider {
  width: 100%;
  height: 1px;
  background-color: #4b4b4b;
  margin-top: 20px;
  margin-bottom: 20px;
}
.settings #content .content p {
  font-size: 20px;
  color: #b3b3b3;
  line-height: 32px;
}
.settings #content .content .white {
  color: white;
}
.settings #content .content p.margin-bottom {
  margin-bottom: 30px;
}
.settings .button {
  height: 58px;
  line-height: 58px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 20px;
  background: black;
  border: 1px solid #9c9c9c;
  color: white;
  font-family: opensans;
  font-size: 24px;
  color: #f7f7f7;
  margin-left: 0px;
  margin-right: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.settings .button.payment-button {
  margin-bottom: 22px;
}
.settings .button.payment-button.select {
  border: 2px solid white;
}
.settings .button#button_account {
  margin-top: 15px;
  margin-bottom: 40px;
}
.settings .payment-content {
  margin-bottom: 32px;
}
.settings .payment-methods {
  margin-top: 15px;
  width: 1600px;
  height: 68px;
  position: relative;
}
.settings .payment-methods p {
  max-width: 1000px;
}
.settings .payment-methods .payment-scroll-container {
  width: 5000px;
  left: 0px;
  position: absolute;
}
.settings .payment-button .lowercase {
  text-transform: none;
}
.settings .pin-settings {
  display: none;
}
.settings .pin-settings.visible {
  display: block;
}
.settings .pin-title {
  margin-bottom: 15px;
}
.settings .uv-account-description {
  margin-top: 30px;
}
.settings .uv-account-description .uv-icon {
  margin-right: 10px;
}
.settings .button.disable {
  display: none;
}
.settings .button.focus {
  border: 1px solid #efefef;
  color: black;
  background: #efefef;
}
/* Redemption */
.settings #content .redemption .content {
  padding-top: 75px;
  padding-left: 150px !important;
}
.settings #content .redemption #logo {
  margin-top: 30px !important;
}
.settings #content .redemption #inputField {
  display: block !important;
  position: absolute !important;
  opacity: 1 !important;
  top: 426px !important;
  height: 80px !important;
  left: 450px !important;
  width: 436px !important;
  height: 57px !important;
  background: #d7d7d7;
  line-height: 57px !important;
  font-size: 24px !important;
  color: black;
  padding-left: 24px !important;
}
.settings #content .redemption .header {
  margin-top: 130px !important;
  height: 50px !important;
}
.settings #content .redemption .redemption-code {
  height: 57px;
  margin-top: 54px;
  margin-bottom: 54px;
}
.settings #content .redemption .redemption-char {
  width: 53px;
  height: 57px;
  background: #d7d7d7;
  margin-right: 10px;
  float: left;
}
.settings #content .redemption .redemption-char .text {
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 57px;
  height: 57px;
  text-transform: uppercase;
}
.settings #content .redemption #redemptionChar-3,
.settings #content .redemption #redemptionChar-7,
.settings #content .redemption #redemptionChar-11 {
  margin-right: 38px;
}
.settings #content .redemption #redemptionChar-15 {
  margin-right: 0px;
}
.settings #content .redemption .description {
  font-size: 15px;
  color: #767676;
}
/* Visible, but out of screen */
.settings #content .redemption #inputField {
  display: block;
  opacity: 0;
  position: absolute;
  top: -100px;
  height: 80px;
}
.settings #content .redemption .buttons {
  width: 100%;
  text-align: center;
  top: 100px;
  position: relative;
}
.settings #content .redemption .actionResult {
  font-size: 20px;
  color: #f31f65;
}
.settings #content .redemption-success .content {
  padding-top: 230px;
}
.settings #content .redemption-success .content .top img {
  height: 280px;
  margin-right: 30px;
}
.settings #content .redemption-success h1 {
  display: inline-block;
  color: #848484;
}
.settings #content .redemption-success h1 .white {
  color: white;
}
.settings #content .redemption-success .buttons {
  position: absolute;
  top: 780px;
  left: 140px;
}
.settings #content .redemption-success #redemptionBack {
  margin-right: 0px;
}
.settings #content .redemptionTitle {
  position: absolute;
  color: #848484;
  font-size: 32px;
  height: 70px;
  width: 1000px;
  left: 140px;
  padding-top: 80px;
}
.settings #content .redemptionPlaylistContent {
  position: absolute;
  height: 100%;
  width: 99999px;
  left: -100px;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -o-transform: translate(237px, 0);
  -webkit-transform: translate3d(237px, 0, 0);
  padding-top: 130px;
}
.settings #content .redemptionPlaylistContent .product {
  width: 219px;
  height: 330px;
  float: left;
  margin-bottom: ound(18px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.57);
  background-color: #141414;
  position: relative;
  opacity: 1;
  overflow: hidden;
  margin-right: 18px;
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.settings #content .redemptionPlaylistContent .product .productBorder {
  position: absolute;
  height: 322px;
  width: 211px;
  border: 4px solid white;
  display: none;
  z-index: 2;
}
.settings #content .redemptionPlaylistContent .product img {
  width: 219px;
  height: 330px;
  background-size: cover;
  background-position: center;
}
.settings #content .redemptionPlaylistContent .product.focus .productBorder {
  display: block;
}
/* FAQ */
.settings #content .faq .content {
  padding-left: 100px;
  padding-top: 63px;
  width: 1400px;
}
.settings #content .faq .faq-scroll {
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
}
.settings .faq .faq-item {
  height: 77px;
  border: 2px solid #252525;
  overflow: hidden;
  color: white;
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.settings .faq .faq-item.open {
  height: auto;
}
.settings .faq .faq-item.focus {
  border: 2px solid white;
  box-shadow: 0 0 8px #ffffff;
}
.settings .faq .faq-item.focus .glow {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 8px #ffffff;
  position: absolute;
}
.settings .faq .faq-item .sign {
  font-size: 40px;
  margin-left: 30px;
  margin-right: 18px;
  top: 5px;
  position: relative;
}
.settings .faq .faq-item .answer {
  color: #b3b3b3;
  font-size: 16px;
  line-height: 28px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 59px;
  display: none;
}
.settings .faq .faq-item.open .answer {
  display: block;
}
.settings .faq .faq-container {
  overflow: hidden;
}
/* Contact */
.settings #content .contact .content {
  padding-top: 308px;
  height: 770px;
}
.contact .contact-options {
  margin-top: 65px;
}
.contact .option-title {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.contact .option-title .icon {
  height: 15px;
  width: 4px;
  margin-right: 10px;
  background: #039eb0;
  display: inline-block;
  margin-top: -1px;
}
.contact .option-value {
  margin-top: 2px;
  margin-bottom: 33px;
  color: #929292;
  font-size: 34px;
}
.contact .option-value a {
  color: #929292;
}
.settings #content .contact .copyright {
  position: absolute;
  bottom: 40px;
}
/* Privacy, Terms */
.settings #content .serviceText .content h1 {
  display: inline-block;
}
.settings #content .serviceText .content {
  padding-top: 73px;
  padding-left: 0px;
  width: 1400px;
  margin-left: 103px;
  overflow: hidden;
}
.settings #content .serviceText .contentText {
  height: 875px;
  -o-transition: margin-left 200ms ease-in-out;
  -webkit-transition: margin-left 200ms ease-in-out;
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.settings #content .serviceText .contentText h1 {
  margin-bottom: 10px;
}
.settings #content .serviceText .contentText h3 {
  color: white;
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: normal;
}
.settings #content .serviceText .pageLeft {
  width: 39px;
  height: 72px;
  background-image: url("../../../1080/media/imageviewer-arrows.png");
  background-position: -2px -144px;
  background-repeat: no-repeat;
  position: absolute;
  left: 36px;
  top: 50%;
  margin-top: -36px;
}
.settings #content .serviceText .pageLeft.focus {
  background-position: -2px -72px;
}
.settings #content .serviceText .pageRight {
  width: 39px;
  height: 72px;
  background-image: url("../../../1080/media/imageviewer-arrows.png");
  background-position: -42px -144px;
  background-repeat: no-repeat;
  position: absolute;
  right: 36px;
  top: 50%;
  margin-top: -36px;
}
.settings #content .serviceText .pageRight.focus {
  background-position: -42px -72px;
}
.settings #content .serviceText .pageLeft.disable,
.settings #content .serviceText .pageRight.disable {
  display: none;
}
.settings #content .serviceText .paginator {
  float: right;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
}
