/** Theme **/

@import "globals.less";
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
.text-title-larger() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-larger;
  font-weight: bold;
  color: @main-text-color;
}


.text-title() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-large;
  font-weight: bold;
  color: @main-text-color;
}

.text-light-large(){
  font-size: @main-font-size-large;
  font-weight: 300;
  color: @main-text-color;
}

.text-light-xlarge() {
  font-size: @main-font-size-xlarge;
  font-weight: 300;
  color: #b7b7b7;
}


/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
.text-main() {
  font-family: @font;
  font-size: @main-font-size;
  color: @main-text-color;
}
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
.text-smaller() {
  font-family: @font;
  font-size: @main-font-size-smaller;
  color: @main-text-color;
}

.text-smallest() {
  font-family: @font;
  font-size: @main-font-size-smallest;
  color: @main-text-color;
}

.text-submenu-button() {
  font-family: @font;
  font-size: @submenu-button-font-size;
  color: @submenu-button-text-color;
}
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
.text-button-small() {
  font-family: @font;
  font-size: @main-button-font-size-small;
  color: @main-button-text-color;
}

.text-input() {
//  font-family: @main-font-bold;
  font-size: @main-font-size-smaller;
  color: @main-input-text-color;
}
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
// Buttons
.button() {
  height: @screen-scale*52px;
  line-height: @screen-scale*52px;
  text-align: center;
  padding-left: round(@screen-scale*19px);
  padding-right: round(@screen-scale*19px);
  font-size: @main-font-size-small;
  background: black;
  border: 2px solid #9c9c9c;
  color: #9c9c9c;
}

.large-button() {
  height: @screen-scale*58px;
  line-height: @screen-scale*58px;
  text-align: center;
  padding-left: round(@screen-scale*32px);
  padding-right: round(@screen-scale*32px);
  font-size: @main-font-size-small;
  background: black;
  border: 1px solid #9c9c9c;
  color: white;
}

// General
@main-font-size-smallest: @screen-scale*14px;
@main-font-size-smaller: @screen-scale*18px;
@main-font-size-small: round(@screen-scale*20px);
@main-font-size: @screen-scale*27px;
@main-font-size-large: @screen-scale*32px;

@main-font-size-larger: @screen-scale*36px;/*
@main-font-size-largest: @screen-scale*40px;*/
@main-font-size-xlarge: @screen-scale*55px;
@main-text-color: @global-text-default-color;
@main-background-color: #000000;

// Buttons
@main-button-font-size-small: @screen-scale*24px;
@main-button-font-size: @screen-scale*30px;
@main-button-background-color: @global-default-color;
@main-button-text-color: @global-text-default-color;
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
@main-button-focus-text-color: black;
@main-button-focus-color: white;/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
// Menu
@main-menu-width: round(@screen-scale*78px);

@menu-background-color: #141414;

@menu-button-focus-color: #039eb0;
@menu-button-focus-text-color: white;
@menu-button-active-text-color: white;

@submenu-button-font-size: @screen-scale*20px;
@submenu-button-text-color: #747474;
/*
// Login
@login-container-background-color: transparent;
*/
// Keyboard
@keyboard-key-background-color: #141414;
@keyboard-key-text-color: #fefefe;
@keyboard-key-border-radius: 0px;
@keyboard-key-border-width: 2px;
@keyboard-key-border-color: #2c2c2c;

@keyboard-key-focus-background-color: #141414;
@keyboard-key-focus-text-color: #fefefe;
@keyboard-key-focus-border-color: white;

// Input
@main-input-background-color: white;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: black;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;

// Popup
@popup-background-overlay-color: rgba(0, 0, 0, 0.9);

// Player
@progressbar-background-color: #5c5e64;
@progressbar-color: #ffffff;
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
