/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input() {
//  font-family: @main-font-bold;
  font-size: @main-font-size-small;
  color: @main-input-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
.login,
.pin {
  width: 1920px;
  height: 1080px;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(to top, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
  top: 0px;
}
#loginContent {
  width: 1598px;
  height: 1080px;
  left: 322px;
  top: 0px;
  position: absolute;
}
#loginContent.fullscreen {
  width: 1920px;
  left: 0px;
}
.login #logo,
.pin #logo {
  width: 230px;
  height: 91px;
  background: url('../../../1080/media/logo.png') top center no-repeat;
  margin-top: 112px;
  margin-left: -115px;
  left: 50%;
  position: relative;
}
.login .loginContainer,
.pin .pinContainer {
  width: 1083px;
  margin-left: 257px;
  margin-top: 85px;
}
.login .fullscreen .loginContainer,
.pin .fullscreen .pinContainer {
  margin-left: 418px;
}
.login .helpContainer.disabled {
  display: none;
}
.header {
  width: 100%;
  height: 32px;
}
.header.long-email {
  height: 68px;
}
.header .title {
  font-weight: lighter;
  font-size: 32px;
  color: white;
}
.header .sps-logo {
  width: 259px;
  height: 23px;
  background: url('../../../1080/media/sps-logo.png');
  float: right;
  background-repeat: no-repeat;
  margin-top: 11px;
}
.login.register .disclaimer {
  width: 1087px;
  font-weight: lighter;
  font-size: 12px;
  color: #b3b3b3;
  position: absolute;
  top: 640px;
  line-height: 18px;
}
.login.register .noAccount,
.login.register .redeemPromoCode {
  width: 500px;
  height: 250px;
  position: absolute;
  top: 750px;
  font-size: 20px;
}
.login.register .redeemPromoCode {
  display: none;
  right: 335px;
}
.login.register .noAccount .extraBlockTitle,
.login.register .redeemPromoCode .extraBlockTitle {
  font-size: 20px;
  line-height: 30px;
  color: #b3b3b3;
  margin-bottom: 30px;
  margin-left: 5px;
}
.login .loginContainer.step-3,
.login .loginContainer.step-4 {
  margin-top: 257px;
}
.login .divider,
.pin .divider {
  width: 100%;
  height: 1px;
  background: #4b4b4b;
  margin: 22px 0px;
  margin-top: 30px;
}
.login .helpContainer .divider {
  margin-top: 22px;
}
.login .subtitle,
.pin .subtitle {
  color: #b3b3b3;
  font-size: 20px;
  max-width: 486px;
}
.pin .pinContainer.paymentError .subtitle {
  max-width: 715px;
}
.login .title .grey {
  color: #848484;
}
.login .white {
  color: #ebebeb;
}
.login #loginResult,
.pin #loginResult {
  color: #f31f65;
  font-size: 20px;
  max-width: 486px;
}
.login .code {
  font-size: 80px;
  color: white;
  float: right;
  position: absolute;
  top: 534px;
  right: 422px;
}
.login .code.long-email {
  top: 570px;
}
.login #inputField,
.pin #inputField,
.login #inputFieldEmail,
.login #inputFieldPassword {
  width: 436px;
  height: 57px;
  background: #d7d7d7;
  line-height: 57px;
  font-size: 24px;
  color: black;
  padding-left: 24px;
  position: absolute;
  top: 360px;
  left: 878px;
}
.login #inputFieldEmail {
  top: 380px;
  left: 748px;
  width: 415px;
}
.login #inputFieldPassword {
  top: 470px;
  left: 748px;
  width: 415px;
}
.login #ime {
  top: 500px;
}
.fullscreen #inputField {
  left: 1039px;
}
.pin #inputField {
  display: none;
}
.pin .confirmPassword #inputField {
  display: block;
}
.pin #pin #pinNumber {
  position: absolute;
  top: -1000px;
  left: 0px;
  outline: 0;
  background-color: transparent;
  border: 0px solid;
  cursor: pointer;
  height: 120px;
  padding-left: 30px;
  z-index: -1;
  opacity: 0;
}
.pin #pin #pinNumber.focus {
  outline: 0px;
}
.pin #pin {
  position: absolute;
  top: 572px;
  left: 722px;
  width: 660px;
}
.pin .fullscreen #pin {
  left: 883px;
}
.pin #pin .pinfield {
  background: none;
  width: 133px;
  height: 178px;
  border: 2px solid #4b4b4b;
  margin-right: 24px;
  font-size: 54px;
  line-height: 178px;
  color: white;
  float: left;
  text-align: center;
}
.pin #pin .pinfield.active {
  border: 2px solid #9c9c9c;
}
.login .buttons,
.pin .buttons {
  position: absolute;
  top: 495px;
  text-align: center;
  width: 1082px;
}
.login.register .buttons {
  top: 560px;
  width: 1100px;
}
.login.register .divider.second {
  margin-top: 330px;
}
.login .helpContainer {
  width: 1081px;
  margin-left: 414px;
  bottom: 90px;
}
.login .step-4 .buttons {
  width: auto;
  right: 425px;
  top: 555px;
  text-align: right;
}
.pin .buttons {
  width: auto;
  right: 264px;
  text-align: right;
  top: 704px;
}
.pin .pinContainer.paymentError .buttons,
.pin .pinContainer.usePin .buttons {
  top: 414px;
}
.pin .fullscreen .buttons {
  right: 415px;
}
.pin .confirmPassword .buttons {
  top: 495px;
  text-align: center;
  width: 1082px;
  right: auto;
}
.pin #ime {
  top: 460px;
}
.pin .confirmPassword #ime {
  top: 540px;
}
.pin #pin {
  top: 492px;
}
.pin .purchase.confirmPassword #ime {
  top: 540px;
}
.pin .purchase.confirmPassword .buttons {
  top: 495px;
  right: auto;
}
.login .button,
.pin .button {
  height: 58px;
  line-height: 58px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 20px;
  background: black;
  border: 1px solid #9c9c9c;
  color: white;
  font-family: opensans;
  font-size: 24px;
  color: #f7f7f7;
  margin-left: 6px;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.login .button.disable,
.pin .button.disable {
  display: none;
}
.login .button.disabled {
  opacity: 0.4;
}
.pin .button.inactive {
  opacity: 0.4;
}
.login .button.focus,
.pin .button.focus {
  border: 1px solid #efefef;
  background: #efefef;
  color: black;
}
.pin .button.inactive.focus {
  border: 1px solid #9c9c9c;
  background: black;
  color: white;
}
