@import "../../globals.less";
@import "../../theme.less";

.login, .pin{
  width: @full-screen-width;
  height: @full-screen-height;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(to top, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
  top: 0px;
}

#loginContent{
  width: round(@screen-scale*1598px);
  height: @full-screen-height;
  left: round(@screen-scale*322px);
  top: 0px;
  position: absolute;
}

#loginContent.fullscreen{
  width: @full-screen-width;
  left: 0px;
}

.login #logo, .pin #logo{
  width: round(@screen-scale*230px);
  height: round(@screen-scale*91px);
  background: url('../../../@{screen-width}/media/logo.png') top center no-repeat;
  margin-top: round(@screen-scale*112px);
  margin-left: round(@screen-scale*-115px);
  left: 50%;
  position: relative;
}

.login .loginContainer, .pin .pinContainer{
  width: round(@screen-scale*1083px);
  margin-left: round(@screen-scale*257px);
  margin-top: round(@screen-scale*85px);
}

.login .fullscreen .loginContainer, .pin .fullscreen .pinContainer{
  margin-left: round(@screen-scale*418px);
}

.login .helpContainer.disabled{
  display: none;
}

.header{
  width: 100%;
  height: round(@screen-scale*32px);
}

.header.long-email{
  height: round(@screen-scale*68px);
}

.header .title{
  font-weight: lighter;
  font-size: round(@screen-scale*32px);
  color: white;
}

.header .sps-logo {
  width: round(@screen-scale*259px);
  height: round(@screen-scale*23px);
  background: url('../../../@{screen-width}/media/sps-logo.png');
  float: right;
  background-repeat: no-repeat;
  margin-top: round(@screen-scale*11px);
}

.login.register .disclaimer {
  width: round(@screen-scale*1087px);
  font-weight: lighter;
  font-size: round(@screen-scale*12px);
  color: #b3b3b3;
  position: absolute;
  top: round(@screen-scale*640px);
  line-height:round(@screen-scale*18px);
}

.login.register .noAccount, .login.register .redeemPromoCode{
  width: round(@screen-scale*500px);
  height:round(@screen-scale*250px);
  position:absolute;
  top: round(@screen-scale*750px);
  font-size: round(@screen-scale*20px);
}

.login.register .redeemPromoCode {
  display:none;  
  right: round(@screen-scale*335px);
}

.login.register .noAccount  {
  
}

.login.register .noAccount .extraBlockTitle,
.login.register .redeemPromoCode .extraBlockTitle {
  font-size: round(@screen-scale*20px);
  line-height: round(@screen-scale*30px);
  color: #b3b3b3;
  margin-bottom: round(@screen-scale*30px);
  margin-left: round(@screen-scale*5px);
}


.login .loginContainer.step-3, .login .loginContainer.step-4{
  margin-top: round(@screen-scale*257px);
}

.login .divider, .pin .divider{
  width: 100%;
  height: 1px;
  background: #4b4b4b;
  margin: round(@screen-scale*22px) 0px;
  margin-top: round(@screen-scale*30px);
}

.login .helpContainer .divider{
  margin-top: round(@screen-scale*22px);
}

.login .subtitle, .pin .subtitle{
  color: #b3b3b3;
  font-size: round(@screen-scale*20px);
  max-width: round(@screen-scale*486px);
}

.pin .pinContainer.paymentError .subtitle{
  max-width: round(@screen-scale*715px);
}


.login .title .grey{
  color: #848484;
}

.login .white{
  color: #ebebeb;
}


.login #loginResult, .pin #loginResult{
  color: #f31f65;
  font-size: round(@screen-scale*20px);
  max-width: round(@screen-scale*486px);
}

.login .code{
  font-size: round(@screen-scale*80px);
  color: white;
  float: right;
  position: absolute;
  top: round(@screen-scale*534px);
  right: round(@screen-scale*422px);
}

.login .code.long-email{
  top: round(@screen-scale*570px);
}


.login #inputField, .pin #inputField, .login #inputFieldEmail, .login #inputFieldPassword{
  width: round(@screen-scale*436px);
  height: round(@screen-scale*57px);
  background: #d7d7d7;
  line-height: round(@screen-scale*57px);
  font-size: round(@screen-scale*24px);
  color: black;
  padding-left: round(@screen-scale*24px);
  position: absolute;
  top: round(@screen-scale*360px);
  left: round(@screen-scale*878px);
}

.login #inputFieldEmail {
  top: round(@screen-scale*380px);
  left: round(@screen-scale*748px);
  width: round(@screen-scale*415px);
}

.login #inputFieldPassword{
  top: round(@screen-scale*470px);
  left: round(@screen-scale*748px);
  width: round(@screen-scale*415px);
}

.login #ime{
  top: round(@screen-scale*500px);
}

.fullscreen #inputField{
  left: round(@screen-scale*1039px);
}


.pin #inputField{
  display: none;
}

.pin .confirmPassword #inputField{
  display: block;
}

.pin #pin #pinNumber{
  position: absolute;
  top: -1000px;
  left: 0px;
  outline: 0;
  background-color: transparent;
  border: 0px solid;
  cursor: pointer;
  height: @screen-scale*120px;
  padding-left: @screen-scale*30px;
  z-index: -1;
  opacity: 0;
}

.pin #pin #pinNumber.focus {
  outline: 0px;
}

.pin #pin{
  position: absolute;
  top: round(@screen-scale*572px);
  left: round(@screen-scale*722px);
  width: round(@screen-scale*660px);
}

.pin .fullscreen #pin{
  left: round(@screen-scale*883px);
}


.pin #pin .pinfield{
  background: none;
  width: round(@screen-scale*133px);
  height: round(@screen-scale*178px);
  border: 2px solid #4b4b4b;
  margin-right: round(@screen-scale*24px);
  font-size: round(@screen-scale*54px);
  line-height: round(@screen-scale*178px);
  color: white;
  float: left;
  text-align: center;
}

.pin #pin .pinfield.active{
  border: 2px solid #9c9c9c;
}

.login .buttons, .pin .buttons{
  position: absolute;
  top: round(@screen-scale*495px);
  text-align: center;
  width: round(@screen-scale*1082px);
}
.login.register .buttons {
  top: round(@screen-scale*560px);
  width: round(@screen-scale*1100px);
}

.login.register .divider.second {
  margin-top:round(@screen-scale*330px);
}


.login .helpContainer{
  width: round(@screen-scale*1081px);
  margin-left: round(@screen-scale*414px);
  bottom: round(@screen-scale*90px);
}

.login .step-4 .buttons{
  text-align: right;
  width: auto;
  right: round(@screen-scale*425px);
  top: round(@screen-scale*555px);
  text-align: right;
}

.pin .buttons{
  text-align: right;
  width: auto;
  right: round(@screen-scale*264px);
  text-align: right;

  top: round(@screen-scale*704px);
}

.pin .pinContainer.paymentError .buttons,
.pin .pinContainer.usePin .buttons{
    top: round(@screen-scale*414px);
}

.pin .fullscreen .buttons{
  right: round(@screen-scale*415px);
}


.pin .confirmPassword .buttons{
  top: round(@screen-scale*495px);
  text-align: center;
  width: round(@screen-scale*1082px);
  right: auto;
}


.pin #ime {
  top: round(@screen-scale*460px);
}

.pin .confirmPassword #ime {
  top: round(@screen-scale*540px);
}


  .pin #pin {
  top: round(@screen-scale*492px);
}


.pin .purchase.confirmPassword #ime {
  top: round(@screen-scale*540px);
}

.pin .purchase.confirmPassword .buttons{
  top: round(@screen-scale*495px);
  right: auto;
}


.login .button, .pin .button{
  .large-button();
  .text-button-small();
  margin-left: round(@screen-scale*6px);
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.login .button.disable, .pin .button.disable{
  display: none;
}

.login .button.disabled {
  opacity: 0.4;
}

.pin .button.inactive {
  opacity: 0.4;
}

.login .button.focus, .pin .button.focus{
  border:1px solid #efefef;
  background: #efefef;
  color: black;

}

.pin .button.inactive.focus{
  border:1px solid #9c9c9c;
  background: black;
  color: white;
}
