@import "../globals.less";
@import "../theme.less";


#popup {
  position:absolute;
  z-index:90;
  display: none;
  width: 100%;
  height: 100%;
  overflow:hidden;
  top: 0px;
  left: 0px;
  opacity: 0;
  background-color: @popup-background-overlay-color;
}


#popup.fadein {
  opacity:1;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

#popupContainer {
  width:round(@screen-scale*630px);
  height:auto;
  margin:round(@screen-scale*230px) auto;
  padding:round(@screen-scale*76px);
  border: 1px solid #4b4b4b;
  margin-top: 15%;
  background-color: rgba(0, 0, 0, 1);
}

#popupContainer .closeButton {
  position:static !important;
  float:right;
  margin-top: -50px;
}

#popupContainer.purchase {
  margin:round(@screen-scale*100px) auto;
}

#popupContainer h1 {
  .text-light-large();
  text-align: center;
  margin-bottom:round(@screen-scale*20px);
  margin-top: round(@screen-scale*50px);
}

/*#popupContainer.purchase h1 {
  padding-top: 0;
}

#popupContainer.headerOnly h1 {
  padding-top:round(@screen-scale*100px);
}
*/
#popupContainer p {
  .text-light-large();
  text-align: center;
  padding: 0 round(@screen-scale*20px);
}
/*
#popupContainer.purchase p {
  line-height: @screen-scale*39px;
}

#popupContainer.purchase table {
  margin-top: round(@screen-scale*30px);
  width: 100%;
  padding: 0 @screen-scale*39px;
}

#popupContainer.purchase table tr {
  line-height: @screen-scale*30px;
  vertical-align: top;
}

#popupContainer.purchase table tr.orderTotal {
  font-weight: bold;
}

#popupContainer.purchase table tr.separator {
  height: round(@screen-scale*39px);
  vertical-align: middle;
}

#popupContainer.purchase table td:first-child {
  width: 80%;
}

#popupContainer.purchase table td:nth-child(2) {
  padding-left: round(@screen-scale*6px);
  text-align: right;
}

#popupContainer.purchase table tr.separator div {
  border-bottom: 1px solid @main-text-color;
  margin-left: @screen-scale*-30px;
  margin-right: @screen-scale*-30px;
}

#popupContainer.purchase table tr.rowWithSpacing {
  height: @screen-scale*85px;
  vertical-align: bottom;
}

#popupContainer.purchase table tr.rowWithTopSpacing {
  height: @screen-scale*51px;
  vertical-align: bottom;
}
*/

//#popupContainer.purchase table tr.taxItem {
///*  .text-small();*/
//  line-height: @screen-scale*21px;
//}

/*#popupContainer.moveUp {
  margin-top: round(@screen-scale*30px) !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



.errorMessage {
  width:round(@screen-scale*560px);
  margin:0 auto;
  color:#fff;
  font-size:round(@screen-scale*26px);
  line-height:round(@screen-scale*30px);
  text-align: center;
  padding-bottom: round(@screen-scale*30px);
}
*/

#popupButtons {
  margin:@screen-scale* 25px;
  text-align: center;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#popupButtons .buttonContainerContent {
  display: inline-block;
}

#popupContainer.purchase #popupButtons {
  margin-bottom: 0;
}

#popupContainer.error {
  width:round(@screen-scale*1102px);
  height:auto;
  margin:round(@screen-scale*230px) auto;
  padding:round(@screen-scale*76px);
  border: 0px solid white;
}

#popupContainer.error h1 {
  text-align: left;
  font-size:round(@screen-scale*50px);
  width:round(@screen-scale*1102px);
  border-bottom:2px solid #4b4b4b;
  padding-bottom: round(@screen-scale*40px);
}
#popupContainer.error p {
  text-align: left;
  font-size:round(@screen-scale*22px);
  width:round(@screen-scale*700px);
  float:left;
  margin:0;
  padding: 0;
  color:#838383;
  margin-top: round(@screen-scale*-10px);
}

#popupContainer.error #popupButtons {
  width:round(@screen-scale*300px);
  float:right;
  margin:0;
  padding: 0;
  margin-right: round(@screen-scale*-15px);
  margin-top: round(@screen-scale*-10px);
  text-align: right;
}

#popupContainer .spsLogo {
  background: url('../../@{screen-width}/media/logo.png') no-repeat center center;
  width:round(@screen-scale*230px);
  height:round(@screen-scale*91px);
  position: absolute;
  top:round(@screen-scale*75px);
  left:round(@screen-scale*840px);
  visibility: hidden;
}

#popupContainer.error .spsLogo {
  visibility: visible;
}

#popupErrorButtons {
  width:round(@screen-scale*560px);
  margin:0 auto;
}

#popupUnsubscribeButtons {
  width:round(@screen-scale*300px);
  margin:0 auto;
}

.userInformation {
  width:round(@screen-scale*300px);
  margin:0 auto;
  text-align: center;
  letter-spacing: 1px;
  font-size: round(@screen-scale*24px);
 }

#paymentRedemptionButton {
  width: @screen-scale*456px;
  display: block;
  margin: 0 auto;
}

#leftButton, #rightButton, #paymentRedemptionButton, .button{
  .button();
  display: inline-block;
  position: relative;
}
#leftButton{
  margin-right: round(@screen-scale*30px);
}

#leftButton.focus, #rightButton.focus{
  border: 2px solid #efefef;
  color: black;
  background: #efefef;
}

/*#popupContainer.widePopup{
  width: round(@screen-scale*960px);
}*/

//#uhdButton, #hdButton, #sdButton {
///*  .text-button();*/
//  background-color: @main-button-background-color;
//  line-height: round(@screen-scale*69px);
//  margin: round(@screen-scale*15px) round(@screen-scale*3px) round(@screen-scale*15px) round(@screen-scale*3px);
//  min-width: round(@screen-scale*201px);
//  text-align: center;
//  display: inline-block;
//  padding: 0 round(@screen-scale*20px);
//}
//
//#hdButton.focus, #sdButton.focus, #uhdButton.focus {
//  background-color: @main-button-focus-color;
//  color: @main-button-focus-text-color;
//  font-weight: bold;
//}
//
//
//.promotioncode_warning{
//  width:round(@screen-scale*666px);
//  height: @screen-scale*60px;
//  line-height: @screen-scale*60px;
//  color: @global-text-warning-color;
//  text-align: center;
//  display: block;
//  margin-top: @screen-scale*20px;
//}
//
///* Popup navhelp */
//#popupNavhelp {
//  position: relative;
//  height: round(@screen-scale*45px);
//  width: 100%;
//}
//
//#popupNavhelp #popupBack{
//  float: right;
///*  .text-small();*/
//  background: url('../../@{screen-width}/media/navhelp/navhelpicons.png') no-repeat round(@screen-scale*9px) 0;
//  background-color: rgba(0, 0, 0, 0.25);
//  height: round(@screen-scale*45px);
//  line-height: round(@screen-scale*45px);
//
//  min-width: @screen-scale*45px;
//  background-position:round(@screen-scale*-4px) round(@screen-scale*-294px);
//  padding-left: round(@screen-scale*65px);
//  margin-right: 0;
//}
//
//#popupNavhelp #popupBack.focus {
//  background-color: @main-button-focus-color;
//  font-weight: bold;
//  color: @main-button-focus-text-color;
//}
//
