@import "../../globals.less";
@import "../../theme.less";

#popup.languageOverlay {
  background: rgba(0,0,0,.8);
}

#overlayTitle{
  .text-light-large();
  width: 100%;
  text-align: center;
  margin-top: round(@screen-scale*45px);
}

#languageSettingsContainer, #fontSettingsContainer, #backgroundSettingsContainer {
  position: absolute;
  width: @full-screen-width;
  height: round(@screen-scale*840px);
  top: round(@screen-scale*120px);
  left: 0px;
}
#languageSettingsContainer h1, #fontSettingsContainer h1, #backgroundSettingsContainer h1 {
  .text-light-large();
  font-size: round(@screen-scale*28px);
  margin-bottom: round(@screen-scale*20px);
}

#languageSettingsContainer .divider,
#fontSettingsContainer .divider,
#backgroundSettingsContainer .divider{
  background: #4b4b4b;
  width: 100%;
  height: 1px;
  margin-bottom: round(@screen-scale*74px);
}

#languageSettingsContainer .selector-container{
  width: round(@screen-scale*650px);
  left: round(@screen-scale*617px);
  top: round(@screen-scale*260px);
  height: auto;
  position: absolute;
}

#audioSelectionList .activeLanguage {
  color: @global-text-select-color
}

#fontSettingsContainer .font-selection-container,
#backgroundSettingsContainer .font-selection-container {
  width: round(@screen-scale*570px);
  height: auto;
  float:left;
  margin-left: round(@screen-scale*230px);
  margin-top: round(@screen-scale*80px);
}

#languageSettingsContainer #audioSelection,
#languageSettingsContainer #subtitleSelection {
  position: relative;
  height:round(@screen-scale*255px);
}

#overlaySubtitleMenu {
  .text-light-large();
  width: 100%;
  text-align: center;
  margin-top: round(@screen-scale*45px);
  margin-left: round(@screen-scale*600px);
}

#overlaySubtitleMenu .button {
  float:left;
  height: round(@screen-scale*52px);
  line-height: round(@screen-scale*52px);
  text-align: center;
  padding-left: round(@screen-scale*19px);
  padding-right: round(@screen-scale*19px);
  font-size: round(@screen-scale*20px);
  font-weight: 600;
  background: none;
  border: 2px solid #444444;
  color: white;
  float: left;
  margin-right: round(@screen-scale*18px);
}

#overlaySubtitleMenu .button.active {
  color: black;
  background: white;
  border-color: white;
}

#overlaySubtitleMenu .button.focus {
  color: black;
  background: white;
  border-color: white;
}

#languageSettingsContainer ul {
  position: absolute;
  right: 0px;
  list-style-type: none;
  float: right;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  margin-top: round(@screen-scale*-74px);
}

#fontSettingsContainer ul, #backgroundSettingsContainer ul{
  list-style-type: none;
  float: right;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  margin-top: round(@screen-scale*-74px);
}

#languageSettingsContainer ul li,
#fontSettingsContainer ul li,
#backgroundSettingsContainer ul li{
  .text-main();
  float:left;
  margin-left:round(@screen-scale*24px);
  color: #4b4b4b;
  font-weight: 600;
  font-size: round(@screen-scale*20px);
  padding: 0px;
  height:round(@screen-scale*20px);
  text-transform: uppercase;
  border-top: round(@screen-scale*3px) solid transparent;
  padding-top: round(@screen-scale*10px);
}

#languageSettingsContainer ul li.focus,
#fontSettingsContainer ul li.focus,
#backgroundSettingsContainer ul li.focus{
  color: white;
}

#languageSettingsContainer ul li.active ,
#fontSettingsContainer ul li.active,
#backgroundSettingsContainer ul li.active{
  color: #00bbd1;

}

#languageSettingsContainer ul li.active.focus,
#fontSettingsContainer ul li.active.focus,
#backgroundSettingsContainer ul li.active.focus{
  color: white;
}



#languageSettingsContainer .nextSelection,
#languageSettingsContainer .prevSelection{
  position: absolute;
  width: round(@screen-scale*50px);
  height: round(@screen-scale*54px);
}

#languageSettingsContainer .prevSelection {
  background-position-y: @screen-scale*-95px;
}

#languageSettingsContainer .nextSelection {
  background-position-y: @screen-scale*-144px;
}

#audioSelectionArrowLeft,
#subtitleSelectionArrowLeft {
  left: @screen-scale*-50px;
  top: @screen-scale*100px;
  display: none;
}
#audioSelectionArrowRight,
#subtitleSelectionArrowRight {
  left: @screen-scale*190px;
  top: @screen-scale*100px;
}

#subtitleExampleField {
  width:100%;
  position:absolute;
  bottom:round(@screen-scale*200px);
  height:round(@screen-scale*50px);
  text-align: center;
}

#subtitleExampleField .background {
  padding:round(@screen-scale*10px);
  display:inline-block;
  border:2px solid;
  border-color:transparent;

}

#subtitleExampleField .background span {
  font-size:round(@screen-scale*55px);
  line-height: round(@screen-scale*40px);
  text-shadow: 1px 1px #000;
  text-align: center;
}