/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input() {
//  font-family: @main-font-bold;
  font-size: @main-font-size-small;
  color: @main-input-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
#popup.languageOverlay {
  background: rgba(0, 0, 0, 0.8);
}
#overlayTitle {
  font-size: 32px;
  font-weight: 300;
  color: #f7f7f7;
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
#languageSettingsContainer,
#fontSettingsContainer,
#backgroundSettingsContainer {
  position: absolute;
  width: 1920px;
  height: 840px;
  top: 120px;
  left: 0px;
}
#languageSettingsContainer h1,
#fontSettingsContainer h1,
#backgroundSettingsContainer h1 {
  font-size: 32px;
  font-weight: 300;
  color: #f7f7f7;
  font-size: 28px;
  margin-bottom: 20px;
}
#languageSettingsContainer .divider,
#fontSettingsContainer .divider,
#backgroundSettingsContainer .divider {
  background: #4b4b4b;
  width: 100%;
  height: 1px;
  margin-bottom: 74px;
}
#languageSettingsContainer .selector-container {
  width: 650px;
  left: 617px;
  top: 260px;
  height: auto;
  position: absolute;
}
#audioSelectionList .activeLanguage {
  color: #f7f7f7;
}
#fontSettingsContainer .font-selection-container,
#backgroundSettingsContainer .font-selection-container {
  width: 570px;
  height: auto;
  float: left;
  margin-left: 230px;
  margin-top: 80px;
}
#languageSettingsContainer #audioSelection,
#languageSettingsContainer #subtitleSelection {
  position: relative;
  height: 255px;
}
#overlaySubtitleMenu {
  font-size: 32px;
  font-weight: 300;
  color: #f7f7f7;
  width: 100%;
  text-align: center;
  margin-top: 45px;
  margin-left: 600px;
}
#overlaySubtitleMenu .button {
  height: 52px;
  line-height: 52px;
  text-align: center;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 20px;
  font-weight: 600;
  background: none;
  border: 2px solid #444444;
  color: white;
  float: left;
  margin-right: 18px;
}
#overlaySubtitleMenu .button.active {
  color: black;
  background: white;
  border-color: white;
}
#overlaySubtitleMenu .button.focus {
  color: black;
  background: white;
  border-color: white;
}
#languageSettingsContainer ul {
  position: absolute;
  right: 0px;
  list-style-type: none;
  float: right;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  margin-top: -74px;
}
#fontSettingsContainer ul,
#backgroundSettingsContainer ul {
  list-style-type: none;
  float: right;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  margin-top: -74px;
}
#languageSettingsContainer ul li,
#fontSettingsContainer ul li,
#backgroundSettingsContainer ul li {
  font-family: opensans;
  font-size: 27px;
  color: #f7f7f7;
  float: left;
  margin-left: 24px;
  color: #4b4b4b;
  font-weight: 600;
  font-size: 20px;
  padding: 0px;
  height: 20px;
  text-transform: uppercase;
  border-top: 3px solid transparent;
  padding-top: 10px;
}
#languageSettingsContainer ul li.focus,
#fontSettingsContainer ul li.focus,
#backgroundSettingsContainer ul li.focus {
  color: white;
}
#languageSettingsContainer ul li.active,
#fontSettingsContainer ul li.active,
#backgroundSettingsContainer ul li.active {
  color: #00bbd1;
}
#languageSettingsContainer ul li.active.focus,
#fontSettingsContainer ul li.active.focus,
#backgroundSettingsContainer ul li.active.focus {
  color: white;
}
#languageSettingsContainer .nextSelection,
#languageSettingsContainer .prevSelection {
  position: absolute;
  width: 50px;
  height: 54px;
}
#languageSettingsContainer .prevSelection {
  background-position-y: -95px;
}
#languageSettingsContainer .nextSelection {
  background-position-y: -144px;
}
#audioSelectionArrowLeft,
#subtitleSelectionArrowLeft {
  left: -50px;
  top: 100px;
  display: none;
}
#audioSelectionArrowRight,
#subtitleSelectionArrowRight {
  left: 190px;
  top: 100px;
}
#subtitleExampleField {
  width: 100%;
  position: absolute;
  bottom: 200px;
  height: 50px;
  text-align: center;
}
#subtitleExampleField .background {
  padding: 10px;
  display: inline-block;
  border: 2px solid;
  border-color: transparent;
}
#subtitleExampleField .background span {
  font-size: 55px;
  line-height: 40px;
  text-shadow: 1px 1px #000;
  text-align: center;
}
