@import "../../globals.less";
@import "../../theme.less";

@playerButtonMarginRight: round(@screen-scale*9px);
@playerPaddingLeft: round(@screen-scale*103px);

#debugText{
  position: absolute;
  z-index: 20;
}

#vpPlayer video{
  position: absolute;
}

#overlay {
  width: @full-screen-width;
  height: @full-screen-height;
  position: absolute;
  top:0;
  left:0;
  z-index:10;
  background-color: rgba(0,0,0,0.5);
}

#overlay #header{
  height: round(@screen-scale*360px);
  width: @full-screen-width - 2*round(@screen-scale*95px);
  background-image:url('../../../@{screen-width}/media/videoplayer/top-bg.png');
  background-repeat: repeat-x;
  padding: round(@screen-scale*26px) round(@screen-scale*95px);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#overlay .vpContainer{
  position: absolute;
  bottom: 0px;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  height: round(@screen-scale*360px);
  width: @full-screen-width;
  background-image:url('../../../@{screen-width}/media/videoplayer/bottom-bg.png');
  background-repeat: repeat-x;
}

#overlay .vpContainer.leanback-visible {
  -o-transform: translate(0px, round(@screen-scale*-120px));
  -webkit-transform: translate3d(0px, round(@screen-scale*-120px), 0);
}

#overlay .vpContainer.hide {
  -o-transform: translate(0px, 1100px);
  -webkit-transform: translate3d(0px, 1100px, 0);
}


#overlay .vpContainer.leanback .background{
  position: absolute;
  bottom: round(@screen-scale*-120px);
  height: round(@screen-scale*470px);
  width: @full-screen-width;
  background-image: -o-linear-gradient(top, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.1) 20%,rgba(2, 2, 2, 0.8) 80%,rgba(2, 2, 2, 1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.1) 20%,rgba(2, 2, 2, 0.8) 80%,rgba(2, 2, 2, 1) 100%);
}

#overlay #controls {
  width:round(@screen-scale*1920px);
  height:round(@screen-scale*120px);
  position: absolute;
  bottom:0px;
}

#overlay #controls .buttonControls {
  width: auto;
  margin:0 auto;
  overflow: hidden;
  float: left;
  margin-left: round(@screen-scale*95px);
  margin-top: round(@screen-scale*21px);
  font-size: round(@screen-scale*18px);
}

#overlay .playerButton {
  float:left;
  width:round(@screen-scale*70px);
  height:round(@screen-scale*70px);
  background-image:url('../../../@{screen-width}/media/videoplayer/buttons.png');
  margin-right:@playerButtonMarginRight;
  background-repeat: no-repeat;
}


#overlay .playerButton.disable {
  display: none;
}

#overlay #controls .buttonControls .playerButton:last-child,
#overlay #controls .buttonControls #forward.playerButton,
#overlay #controls .buttonControls.cc #cc.playerButton {
  padding-right: 0;
}

#overlay #controls .buttonControls #forward .speed, #overlay #controls .buttonControls #rewind .speed {
  border-radius: 50%;
  width:round(@screen-scale*60px);
  height:round(@screen-scale*60px);
  font-weight: bold;
  background-color: @global-default-color;
  text-align: center;
  line-height: round(@screen-scale*60px);
  color: @global-text-default-color;
  margin-left: round(@screen-scale*5px);
  position: absolute;
  bottom: round(@screen-scale*205px);
  font-size: round(@screen-scale*24px);
  display:none;
}

#overlay #controls .buttonControls.cc #forward.playerButton,
#overlay #controls .buttonControls.subs #forward.playerButton,
#overlay #controls .buttonControls.cc.subs #cc.playerButton {
  margin-right:@playerButtonMarginRight;
}

#overlay #controls .buttonControls #rewindChapter {
  background-position: 0px round(@screen-scale*0px);
}
#overlay #controls .buttonControls #rewind {
  background-position: 0px round(@screen-scale*-70px);
}
#overlay #controls .buttonControls #play.pause {
  background-position: 0px round(@screen-scale*-140px);
}
#overlay #controls .buttonControls #play {
  background-position: 1px round(@screen-scale*-209px);
}
#overlay #controls .buttonControls #stop {
  background-position: 0px round(@screen-scale*-230px);
}
#overlay #controls .buttonControls #forward {
  background-position: 0px round(@screen-scale*-280px);
}
#overlay #controls .buttonControls #forwardChapter {
  background-position: 0px round(@screen-scale*-350px);
}

#overlay #header #subs {
  background-position: 0px round(@screen-scale*-420px);
}
#overlay #header #audio {
  background-position: 0px round(@screen-scale*-490px);
}





#overlay #controls .buttonControls #rewindChapter.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*0px);
}
#overlay #controls .buttonControls #rewind.focus {
  background-position: round(@screen-scale*-70px) round(@screen-scale*-70px);
}
#overlay #controls .buttonControls #play.pause.focus {
  background-position: round(@screen-scale*-70px) round(@screen-scale*-140px);
}
#overlay #controls .buttonControls #play.focus {
  background-position: round(@screen-scale*-69px) round(@screen-scale*-209px);
}
#overlay #controls .buttonControls #stop.focus {
  background-position: round(@screen-scale*-70px) round(@screen-scale*-230px);
}
#overlay #controls .buttonControls #forward.focus {
  background-position: round(@screen-scale*-70px) round(@screen-scale*-280px);
}
#overlay #controls .buttonControls #forwardChapter.focus {
  background-position: round(@screen-scale*-68px) round(@screen-scale*-350px);
}

/*#overlay #header #subs.focus {

#overlay #controls .buttonControls #extras {
  background-position: 0px round(@screen-scale*-560px);
}

#overlay #controls .buttonControls #extras.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-560px);
}
#overlay #controls .buttonControls #extras.active {
  background-position: round(@screen-scale*-141px) round(@screen-scale*-560px);
}
#overlay #controls .buttonControls #extras.active.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-560px);
}

#overlay #header #subs.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-420px);
}
#overlay #header #audio.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-490px);
}

#overlay #header #subs.select {
  background-position: round(@screen-scale*-141px) round(@screen-scale*-420px);
}
#overlay #header #audio.select{
  background-position: round(@screen-scale*-141px) round(@screen-scale*-490px);
}
#overlay #header #extras.active {
  background-position: round(@screen-scale*-141px) round(@screen-scale*-560px);
}
#overlay #header #extras.active.focus {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-560px);
}*/

#overlay #controls .audio-sub-button{
  width: auto;
  background: none;
  color: #717171;
  margin-top: round(@screen-scale*24px);
}

#overlay #controls .audio-sub-button.focus {
  color: #ffffff;
}

#overlay #controls .audio-sub-button span{
  width: round(@screen-scale*28px);
  height: round(@screen-scale*24px);
  background-image:url('../../../@{screen-width}/media/videoplayer/subs_audio.png');
  margin-right: round(@screen-scale*5px);
  display: inline-block;
  top: round(@screen-scale*7px);
  position: relative;
}

#overlay #controls #subs{
  margin-left: round(@screen-scale*27px);
}

#overlay #controls #audio{
  margin-left: round(@screen-scale*38px);
}


#overlay #controls #subs span{
  background-position: 0px round(@screen-scale*0px);
}
#overlay #controls #audio span{
  background-position: round(@screen-scale*-28px) round(@screen-scale*0px);
  margin-right: round(@screen-scale*10px);
}
#overlay #controls #subs.focus span{
  background-position: 0px round(@screen-scale*-24px);
}
#overlay #controls #audio.focus span{
  background-position: round(@screen-scale*-28px) round(@screen-scale*-24px);
}

#overlay .playerTimes{
  float: right;
  margin-right: @playerPaddingLeft;
  margin-top: round(@screen-scale*51px);
  font-size: round(@screen-scale*18px);
  color: #fff;
  margin-top: round(@screen-scale*26px);
}

#overlay .previewPlayerTimes{
  display: none;
  float: right;
  margin-right: @playerPaddingLeft;
  font-size: round(@screen-scale*18px);
  color: #fff;
  margin-top: round(@screen-scale*26px);
}

#overlay .progressTimeIcon{
    position: relative;
    display: inline-block;
    margin-right: round(@screen-scale*7px);
    background-image: url('../../../@{screen-width}/media/detail-buttonicons.png');
    background-size: round(@screen-scale*60px) round(@screen-scale*210px);
    width: round(@screen-scale*14px);
    height: round(@screen-scale*14px);
    background-position: 0px round(@screen-scale*-180px);
}
#overlay .remaining {
  color:#b4b4b4;
}

#overlay #remainingTime {
  padding-left:round(@screen-scale*10px);
}

#overlay .purchaseOptions {
  display:none;
}

#overlay #purchasePreviewProduct {
  width:round(@screen-scale*1050px);
  color:#b4b4b4;
  font-family: opensans;
  font-size:round(@screen-scale*16px);
  text-align: right;
  float:right;
  line-height: round(@screen-scale*60px);
  margin-right: round(@screen-scale*20px);
}

#overlay #leftPreviewButton, #overlay #rightPreviewButton {
  float:right;
  width:round(@screen-scale*250px);
  height:round(@screen-scale*60px);
  background-color: #000;
  border:1px solid #b4b4b4;
  color:#b4b4b4;
  font-family: opensans;
  font-size:round(@screen-scale*20px);
  font-weight: bold;
  line-height:round(@screen-scale*60px);
  margin-right:round(@screen-scale*15px);
  text-align: center;
}

#overlay #leftPreviewButton.focus, #overlay #rightPreviewButton.focus {
  background-color: #f0f0f0;
  color:#000;
}

#purchaseSuccesfull {
  display: none;
  position: absolute;
  top:round(@screen-scale*310px);
  left:round(@screen-scale*580px);
  width:round(@screen-scale*750px);
  height:round(@screen-scale*300px);
  background-color:rgba(0,0,0,0.8);
  padding:round(@screen-scale*20px);
  z-index:20;
}

#purchaseSuccesfull .thumb {
  width:round(@screen-scale*240px);
  height:round(@screen-scale*300px);
  float:left;
  margin-top: round(@screen-scale*10px);
  margin-left: round(@screen-scale*5px);
}

#purchaseSuccesfull .thumb img {
  width: round(@screen-scale*200px);
  height: round(@screen-scale*280px);
}


#purchaseSuccesfull .content {
  width:round(@screen-scale*450px);
  float:left;
}

#purchaseSuccesfull .content p {
  color:#b4b4b4;
  font-family: opensans;
  font-size:round(@screen-scale*20px);  
  margin-top:round(@screen-scale*50px);
  margin-bottom:round(@screen-scale*30px);
}

#purchaseSuccesfull .buttons {
  height:round(@screen-scale*100px);
}

#purchaseSuccesfull .buttons #previewContinueButton, 
#purchaseSuccesfull .buttons #previewBackButton  {
  float:left;
  width:round(@screen-scale*250px);
  height:round(@screen-scale*60px);
  background-color: #000;
  border:1px solid #b4b4b4;
  color:#b4b4b4;
  font-family: opensans;
  font-size:round(@screen-scale*20px);
  font-weight: bold;
  line-height:round(@screen-scale*60px);
  margin-right:round(@screen-scale*15px);
  text-align: center;
}

#purchaseSuccesfull .buttons #previewBackButton {  
  width:round(@screen-scale*115px);  
  background-color: #000;
  margin-right:round(@screen-scale*0px);
}

#purchaseSuccesfull .buttons #previewContinueButton.focus, 
#purchaseSuccesfull .buttons #previewBackButton.focus  {
  background-color: #f0f0f0;
  color:#000;
}

#overlay #progress{
  width: round(@screen-scale*1920px);
  bottom: round(@screen-scale*124px);
  position: absolute;
}


#overlay #progress #progress-dot {
  width: round(@screen-scale*20px);
  height: round(@screen-scale*20px);
  background: white;
  border-radius: round(@screen-scale*10px);
  position: absolute;
  position: absolute;
  left: 0%;
  top: round(@screen-scale*3px);
  margin-left: round(@screen-scale*-10px);
  z-index: 100;
}

#overlay .progress {
  width:round(@screen-scale*1920px)-(2*@playerPaddingLeft);
  height:round(@screen-scale*13px);
  margin: 0 @playerPaddingLeft;
  margin-bottom: round(@screen-scale*2px);
  position: relative;
}

#overlay .progress #progressBar {
  float:left;
  width:round(@screen-scale*1920px)-(2*@playerPaddingLeft);
  height:round(@screen-scale*12px);
  background-color: rgba(255, 255, 255, 0.2);
  margin-top:round(@screen-scale*7px);
}

#progressBar #video-progress{
  height:round(@screen-scale*12px);
  width: 0%;
  background-color: rgba(255, 255, 255, 0.8);
}

#overlay .progress #curTime, #overlay .progress #totalTime {
  .text-main();
  position: absolute;
  bottom: 0px;
  height:round(@screen-scale*50px);
  width:round(@screen-scale*130px);
}

#overlay .progress #curTime {
  padding-right:round(@screen-scale*20px);
  text-align: left;
}

#overlay .progress #totalTime {
  padding-left:round(@screen-scale*20px);
  text-align: right;
  right: 0px;
}


/* Chapters */
#chapters{
  float: left;
  width:round(@screen-scale*1920px)-(2*@playerPaddingLeft);
  height:round(@screen-scale*16px);
  margin-top:round(@screen-scale*0px);
  position: absolute;
}

#chapters .chapter-point{
  width: round(@screen-scale*8px);
  height: round(@screen-scale*12px);
  position: absolute;
  margin-top: round(@screen-scale*7px);
  margin-left: round(@screen-scale*-8px);
  padding-left: round(@screen-scale*6px);
  padding-right: round(@screen-scale*6px);
}

#chapters .chapter-point:after{
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
}

#chapters .chapter-point .marker{
  width: round(@screen-scale*8px);
  background: white;
  height: 100%;
  display: block;
}

#chapter-thumb-container{
  width: round(@screen-scale*292px);
  height: round(@screen-scale*208px);
  background: #717171;
  position: absolute;
  left: round(@screen-scale*0px);
  top: round(@screen-scale*-225px);
  display: none;
  font-size: round(@screen-scale*20px);
  text-align: center;
}

#chapter-thumb{
  display: block;
  position: relative;
  width: round(@screen-scale*292px);
  height: round(@screen-scale*164px);
}

#chapter-thumb-container .chapter-info {
  margin-top: round(@screen-scale*7px);
}

#chapter-arrow-down{
  width: 0;
  height: 0;
  border-left: round(@screen-scale*14px) solid transparent;
  border-right: round(@screen-scale*14px) solid transparent;

  border-top: round(@screen-scale*12px) solid #717171;
  margin-top: round(@screen-scale*10px);
  left: round(@screen-scale*-14px);
  position: relative;
}


#overlay .videoInfo{
  height: round(@screen-scale*99px);
  width: @full-screen-width;
  position: absolute;
  bottom: round(@screen-scale*131px);
}

#overlay .videoInfo .title{
  .text-light-large();
  color: #ffffff;
  margin-left: @playerPaddingLeft;
  float: left;
  margin-top: round(@screen-scale*25px);
}

#overlay .videoInfo .year{
  font-size: round(@screen-scale*16px);
  color: #717171;
  margin-left: round(@screen-scale*18px);
  margin-top: round(@screen-scale*42px);
  float: left;
}

#overlay .videoInfo .quality {
  position: absolute;
  right: @playerPaddingLeft;
  top: round(@screen-scale*22px);
  font-size: round(@screen-scale*28px);
  color: #b4b4b4;
}

#subtitleContainer {
  position: absolute;
  display: table;
  bottom:round(@screen-scale*100px);
  left:round(@screen-scale*100px);
  width:round(@screen-scale*1720px);
  height:round(@screen-scale*150px);
  color:#FFFFFF;
  font-family: opensans;
  font-size:round(@screen-scale*55px);
  line-height: round(@screen-scale*60px);
  text-shadow: 1px 1px 1px #888888;
  text-align: center;
  z-index:8;
}

#subtitleContainer .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#subtitleContainer .background {
  padding:round(@screen-scale*10px);
  display:inline-block;
  border:2px solid;
  border-color:rgba(0,0,0,0);
  visibility: hidden;
}

#subtitleContainer .background p {
  line-height: 40px;
  text-align: center;
}

#overlay #controls .buttonControls #alerts{
  width: round(@screen-scale*221px);
  line-height: round(@screen-scale*70px);
  text-align: center;
  background-image: none;
  display: none;
}



#overlay #controls .audio-sub-button{
  width: auto;
  background: none;
  color: #717171;
  margin-top: round(@screen-scale*17px);
}

#overlay #controls .audio-sub-button.focus {
  color: #ffffff;
}

#overlay #controls .audio-sub-button span{
  width: round(@screen-scale*28px);
  height: round(@screen-scale*24px);
  background-image:url('../../../@{screen-width}/media/videoplayer/subs_audio.png');
  margin-right: round(@screen-scale*5px);
  display: inline-block;
  top: round(@screen-scale*7px);
  position: relative;
}

#overlay #controls #subs{
  margin-left: round(@screen-scale*27px);
}

#overlay #controls #audio{
  margin-left: round(@screen-scale*38px);
}


#overlay #controls #subs span{
  background-position: 0px round(@screen-scale*0px);
}
#overlay #controls #audio span{
  background-position: round(@screen-scale*-28px) round(@screen-scale*0px);
  margin-right: round(@screen-scale*10px);
}
#overlay #controls #subs.focus span{
  background-position: 0px round(@screen-scale*-24px);
}
#overlay #controls #audio.focus span{
  background-position: round(@screen-scale*-28px) round(@screen-scale*-24px);
}


/* Trivia messages */
#triviaContainer{
  position: absolute;
  width: auto;
  height: auto;
  top: round(@screen-scale*37px);
  right: round(@screen-scale*78px);
  background: rgba(0,0,0,.85);
  display: none;
  z-index: 20;
}

#triviaContainer.disabled{
  display: none !important;
}

#triviaContainer.video{
  height: round(@screen-scale*145px);
}

#triviaContainer .thumbnail{
  display: none;
  height: round(@screen-scale*145px);
  background: black;
  background-size: cover;
  background-position: center;
  float: left;
  width: round(@screen-scale*235px);
  margin-right: round(@screen-scale*27px);
}

#triviaContainer .thumbnail .icon {
  width: round(@screen-scale*64px);
  height: round(@screen-scale*64px);
  background-image:url('../../../@{screen-width}/media/videoplayer/buttons.png');
  background-position: round(@screen-scale*0px) round(@screen-scale*-633px);
  margin-top: round(@screen-scale*38px);
  margin-left: round(@screen-scale*79px);
}

#triviaContainer .focus .thumbnail .icon {
  background-position: round(@screen-scale*-71px) round(@screen-scale*-634px);
}

#triviaContainer.video .thumbnail {
  display: block;
}

#triviaContainer .message{
  .text-main();
  font-weight: 300;
  position: relative;
  padding: round(@screen-scale*24px) round(@screen-scale*34px);
  width: round(@screen-scale*485px);
  height: auto;
  color: #ebebeb;
}

#triviaContainer.video .videoDescription {
  height:round(@screen-scale*48px);
  font-size: round(@screen-scale*18px);
  font-weight: 300;
  margin-top: round(@screen-scale*10px);
  line-height: round(@screen-scale*24px);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden;
}

#triviaContainer.video .message .videoType{
  text-transform: uppercase;
  font-size: round(@screen-scale*28px);
  font-weight: 600;
  margin-top: round(@screen-scale*-18px);
}

/* Leanback */

#overlay .vpContainer.leanback .videoInfo{
  bottom: round(@screen-scale*224px);
  background: none;
}

.vpContainer.leanback #leanback{
  height: round(@screen-scale*122px);
  width: @full-screen-width;
  position: absolute;
  bottom: 0px;

}

#leanback .thumbnail-container{
  width: round(@screen-scale*10000px);
  height: round(@screen-scale*185px);
  overflow: hidden;
  margin-left: round(@screen-scale*100px);
}

#leanback .thumbnail-container .scroll-container{
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#leanback .thumbnail-container .extra-thumbnail{
  float: left;
  width: round(@screen-scale*292px);
  height: round(@screen-scale*165px);
  overflow: hidden;
  margin-top: round(@screen-scale*5px);
  margin-right: round(@screen-scale*24px);
  position: relative;
}

#leanback .thumbnail-container .thumbnail-border{
  width: round(@screen-scale*288px);
  height: round(@screen-scale*161px);
  border: 2px solid white;
  position: absolute;
  display: none;
}

#leanback .thumbnail-container .focus .thumbnail-border {
  display: block;
}

#leanback .thumbnail-container .extra-thumbnail img{
  width: 100%;
  height: 100%;
}

/* Autoplay */
.autoplay-controls{
  position: absolute;
  height: auto;
  width: round(@screen-scale*531px);
  right: round(@screen-scale*23px);
  top: round(@screen-scale*169px);
}

.autoplay-controls .counter{
  font-size: round(@screen-scale*20px);
  line-height: round(@screen-scale*20px);
  color: #b4b4b4;
  margin-bottom: round(@screen-scale*20px);
}

.autoplay-controls img {
  width: round(@screen-scale*292px);
  height: round(@screen-scale*164px);
  margin-bottom: round(@screen-scale*45px);
}

.autoplay-controls .autoplay-title{
  font-size: round(@screen-scale*32px);
  color: white;
}

.autoplay-controls .autoplay-subtitle{
  font-size: round(@screen-scale*20px);
  color: #b4b4b4;
  margin-top: round(@screen-scale*4px);
}

.autoplay-controls .autoplay-description{
  font-size: round(@screen-scale*20px);
  color: #838383;
  margin-top: round(@screen-scale*20px);
}


.autoplay-controls .button{
  .large-button();
  .text-button-small();
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  margin-top: round(@screen-scale*38px);
}

.autoplay-controls .button.disable{
  display: none;
}

.autoplay-controls .button.inactive {
  opacity: 0.6;
}

.autoplay-controls .button.focus{
  border:1px solid #efefef;
  background: #efefef;
  color: black;
}

#videoWrapper{
  width: round(@screen-scale*1322px);
  height: round(@screen-scale*742px);
  position: absolute;
  top: round(@screen-scale*169px);
  left: round(@screen-scale*23px);
}

#videoWrapper.focus{
  border: 2px solid white;
}