@import "../../../globals.less";
@import "../../../theme.less";

/* Locker */
/*.locker #backgroundOverlay{
  width: 100%;
  height: 100%;
  background:  url("../../../../@{screen-width}/media/theme/placeholder.jpg") no-repeat left bottom;
  position: absolute;
}*/

.locker #content{
  width: round(@screen-scale*1600px);
  height: round(@screen-scale*1080px);
  margin-left: round(@screen-scale*320px);
  position: relative;
}

.locker .playlistContent{
  transform: translate3d(0, 0, 0);
  padding-left: 0px;
}


.locker .playlistContent, .favorites .playlistContent {
  margin-left: round(@screen-scale*18px);
}

.locker .noResultsContent{
  top: round(@screen-scale*504px);
  left: round(@screen-scale*436px);
  position: absolute;
}

.noResultsContent .info{
  color: #fefefe;
  text-transform: uppercase;
  font-size: round(@screen-scale*20px);
  font-weight: 300;
}

.noResultsContent .blueRect{
  height: round(@screen-scale*15px);
  width: round(@screen-scale*5px);
  background-color: @global-select-color;
  display: inline-block;
  margin-right: round(@screen-scale*8px);
  margin-top: -1px;
}

.noResultsContent .description{
  color: #929292;
  font-size: round(@screen-scale*30px);
  font-weight: 600;
}

.remainingWatchTimeLeft {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: round(@screen-scale*22px);
  line-height: round(@screen-scale*63px);
  background: rgba(2,2,2,.85);
}
