@import "../../../globals.less";
@import "../../../theme.less";

.search #searchInput{
  position: absolute;
  width: round(@screen-scale*1367px);
  height: round(@screen-scale*86px);
  border: 2px solid #2c2c2c;
  left: round(@screen-scale*103px);
  top: round(@screen-scale*80px);
  background: black;
  color: #b1b1b1;
  font-size: round(@screen-scale*40px);
  padding-left: round(@screen-scale*28px);
}

.search #backgroundOverlay{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
}

.search #content{
  width: round(@screen-scale*1600px);
  height: @full-screen-height;
  margin-left: round(@screen-scale*320px);
  position: relative;
}

.search #logo{
  width: round(@screen-scale*230px);
  height: round(@screen-scale*91px);
  background: url('../../../../@{screen-width}/media/logo.png') top center no-repeat;
  margin-top: round(@screen-scale*195px);
  margin-left: round(@screen-scale*-115px);
  left: 50%;
  position: relative;
}

.search .noResultsContent{
  margin-left: round(@screen-scale*483px);
  margin-top: round(@screen-scale*180px);
}

.search .noResultsContent .info{
  display:none;
}

.search #searchResults{
  position: absolute;
  top: 0px;
  left: 0px;
  height: round(@screen-scale*400px);
  width: round(@screen-scale*1600px);
  top: round(@screen-scale*200px);
}

.search #searchResults .playlistContent{
  transform: translate3d(round(@screen-scale*0px), 0, 0);
  padding-left: round(@screen-scale*103px);
}

.search #searchResults .product{
  margin-right: round(@screen-scale*24px);
  overflow: visible;
  width: round(@screen-scale*212px);
  height: round(@screen-scale*320px);
}

.search #searchResults .productTitle{
  bottom: -5px;
  // opacity: 1;
  // height: round(@screen-scale*34px);
  // font-size: round(@screen-scale*18px);
  // padding: 0px;
  // background: none;
  // text-align: center;
  // top: round(@screen-scale*333px);
  // color: white;
  // width: 100%;
  // min-width: 100%;
  // text-align: left;
}

.search #ime{
  bottom: 0px;
  top: auto;
}

.search #ime #backButton{
  display: none;
}
