/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input() {
//  font-family: @main-font-bold;
  font-size: @main-font-size-small;
  color: @main-input-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
.search #searchInput {
  position: absolute;
  width: 1367px;
  height: 86px;
  border: 2px solid #2c2c2c;
  left: 103px;
  top: 80px;
  background: black;
  color: #b1b1b1;
  font-size: 40px;
  padding-left: 28px;
}
.search #backgroundOverlay {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #121212 50%, #000000 100%);
  background-image: -o-linear-gradient(bottom, #000000 0%, #121212 50%, #000000 100%);
  background-image: linear-gradient(to top, #000000 0%, #121212 50%, #000000 100%);
  position: absolute;
}
.search #content {
  width: 1600px;
  height: 1080px;
  margin-left: 320px;
  position: relative;
}
.search #logo {
  width: 230px;
  height: 91px;
  background: url('../../../../1080/media/logo.png') top center no-repeat;
  margin-top: 195px;
  margin-left: -115px;
  left: 50%;
  position: relative;
}
.search .noResultsContent {
  margin-left: 483px;
  margin-top: 180px;
}
.search .noResultsContent .info {
  display: none;
}
.search #searchResults {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 400px;
  width: 1600px;
  top: 200px;
}
.search #searchResults .playlistContent {
  transform: translate3d(0px, 0, 0);
  padding-left: 103px;
}
.search #searchResults .product {
  margin-right: 24px;
  overflow: visible;
  width: 212px;
  height: 320px;
}
.search #searchResults .productTitle {
  bottom: -5px;
}
.search #ime {
  bottom: 0px;
  top: auto;
}
.search #ime #backButton {
  display: none;
}
