// GLOBAL SETUP

// Application default development resolution (do not change)
@screen-scale: 1;
@screen-width: "1080";
@full-screen-width: round(@screen-scale*1920px);
@full-screen-height: round(@screen-scale*1080px);

// font file location
@fonts-path: "../fonts";
// font-family reference name (used in css code)
@font: opensans;

// font file-name without extension, should correspond with fontfilename, e.g. <fontfilename>.ttf/<fontfilename>.wof
@font-normal: opensans-regular;
@font-bold: opensans-bold;
@font-light: opensans-light;
@font-semibold: opensans-semibold;

// BASE THEME PROPERTIES

// application images
//@login-background: transparent url('../../../@{screen-width}/media/theme/bglogin.jpg') no-repeat top left;
@splash-background: #000 no-repeat top left;
@app-background-image: none;

// color schemes

// color of focusable UI elements in a normal (default) state
@global-default-color: #202123;
// color of focusable UI elements in a focused state
@global-focus-color: #df0818;
// color of focusable UI elements in a selected state (selected means active but not in focus, e.g. active menu tab)
@global-select-color: #3e83e4;

// color of text for displaying errors/warnings
@global-text-warning-color: #df0818;


// color of text in the application
@global-text-default-color: #f7f7f7;
// color of text in a focusable UI elements in a focused state
@global-text-focus-color: #f7f7f7;
// color of text in a focusable UI elements in a selected state (selected means active but not in focus, e.g. active menu tab)
@global-text-select-color: #f7f7f7;
