.sk-folding-cube {
  animation: sk-foldCubeAngleOpera 2.4s infinite linear;
  transform: scale(0.5);
}
.sk-folding-cube .sk-cube {
  transform: scale(1);
}
@keyframes sk-foldCubeAngleOpera {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
