@import "globals.less";
@import "theme.less";

@import (css) "loading.css";

@import (css) "popups/popup.css";

@import (css) "screens/splashscreen/splashscreen.css";

@font-face {
  src: url('@{fonts-path}/@{font-normal}.woff') format('woff'),
       url('@{fonts-path}/@{font-normal}.ttf') format('truetype');
  font-family: @font;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('@{fonts-path}/@{font-light}.woff') format('woff'),
       url('@{fonts-path}/@{font-light}.ttf') format('truetype');
  font-family: @font;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('@{fonts-path}/@{font-bold}.woff') format('woff'),
       url('@{fonts-path}/@{font-bold}.ttf') format('truetype');
  font-family: @font;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url('@{fonts-path}/@{font-semibold}.woff') format('woff'),
    url('@{fonts-path}/@{font-semibold}.ttf') format('truetype');
  font-family: @font;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url('@{fonts-path}/icons.woff') format('woff'),
  url('@{fonts-path}/icons.ttf') format('truetype');
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
}


//subtitle fonts
@font-face {
  src: url('@{fonts-path}/comicsans-msregular.ttf') format('truetype');
  font-family: 'comicsans';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('@{fonts-path}/arial-regular.ttf') format('truetype');
  font-family: 'arial';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('@{fonts-path}/courier-regular.ttf') format('truetype');
  font-family: 'courier';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('@{fonts-path}/times-regular.ttf') format('truetype');
  font-family: 'times';
  font-weight: normal;
  font-style: normal;
}

//* {
//  -webkit-font-smoothing: antialiased;
//}
p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  .text-title();
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  -o-touch-callout: none;
  -o-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: @main-background-color;
  .text-smaller();
}


body.nobackground {
  background: none;
}

:focus {
    outline: 0 solid;
}

a:link {
  text-decoration: none;
  color: #fff;
}

#rootContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.menuBg{
  position: absolute;
  height: 100%;
  width: round(@screen-scale*85px);
  background: #141414;
}

.focus {
  cursor: pointer;
}
.focus.disable {
  cursor: default;
}

.noAnimation {
  -o-border-radius: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

#vendor {
  visibility: hidden;
}

input {
  .text-input();
  border: @main-input-border-width solid @main-input-border-color;
  color: @main-input-text-color;
  background-color: @main-input-background-color;
  padding: 0 round(@screen-scale*10px);
  margin: 0;
  -webkit-border-radius: @main-input-border-radius;
  -o-border-radius: @main-input-border-radius;
  border-radius: @main-input-border-radius;
  height:round(@screen-scale*40px);
  line-height: round(@screen-scale*35px);
  width: round(@screen-scale*500px);
}

button {
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}


.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    border: 2px solid #f44336;
}

#screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: "opensans";
  font-weight: normal;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
}

#info {
  position:absolute;
  top:round(@screen-scale*200px);
  left:round(@screen-scale*20px);
}

.title,
.playlistTitle {
  .text-title-larger();
  float: left;
}

#backgroundContainer {
  width: 100%;
  height: 100%;
  background: black url('../@{screen-width}/media/theme/placeholder.jpg') no-repeat center;
  background-size: cover;

}

#backgroundContainer.vplayer{
  display: none;
}

#backgroundContainer img{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  opacity: 1;
  -o-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transform: translate(0,0);
  -webkit-transform: translate3d(0,0,0);
}

#backgroundContainer img.disable {
  opacity: 0;
}

.cpe{
  position: absolute;
  top:0px;
  left:0px;
  border:none;
  width: @full-screen-width;
  height: @full-screen-height;
  visibility: hidden;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  z-index:100;
}

#viewPort {
  position: absolute;
  left: 0px;
  top: 0px;
  height: @full-screen-height;
  width: @full-screen-width;
  top: 50%;
  margin-top: -@full-screen-height/2;
}

#otiframe{
  opacity: 0;
  display:none;
}

.navigationContainer {
  display: none;
}

#container.detail .navigationContainer,
#settings_1 .navigationContainer{
  width: inherit;
}

.navigationContainer .navigationButton {
  display: none;
  background-color: rgba(0,0,0,0.8);
  width: round(@screen-scale*80px);
  height: 100%;
  z-index: 1;
  opacity: 0.5;

  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transform: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.navigationContainer .navigationButton.vertical {
  display: none;
  background-color: rgba(0,0,0,0.8);
  width: inherit;
  height: round(@screen-scale*80px);
  z-index: 1;
  opacity: 0.5;

  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transform: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.navigationContainer .navigationButton:hover {
  opacity: 1;
}

.navigationContainer .navigationButton .icon {
  position: absolute;
  top: 50%;
  margin-top: -(round(@screen-scale*29px));
  width: round(@screen-scale*80px);
  height: round(@screen-scale*58px);
  background: transparent url('../@{screen-width}/media/nav-icons.png') no-repeat round(@screen-scale*12px) round(@screen-scale*-70px);
}

.navigationContainer .navigationButton.vertical .icon {
  position: absolute;
  left: 50%;
  margin-left: -(round(@screen-scale*29px));
  height: round(@screen-scale*80px);
  width: round(@screen-scale*58px);
  background: transparent url('../@{screen-width}/media/nav-icons.png') no-repeat round(@screen-scale*0px) round(@screen-scale*-70px);
}

.navigationContainer .navigationButton.vertical:hover .icon {
  background-position-x: round(@screen-scale*-66px);
}

.navigationContainer .navigationButton:hover .icon {
  background-position-x: round(@screen-scale*-54px);
}

.navigationContainer #navigationLeft{
  position: absolute;
  left: round(@screen-scale*312px);
}
.navigationContainer #navigationLeftVideos,
.navigationContainer #navigationLeftImages {
  position: absolute;
  left: round(@screen-scale*0px);
}
.navigationContainer #navigationLeft.navigationButton .icon {
}

.navigationContainer #navigationRight,
.navigationContainer #navigationRightVideos,
.navigationContainer #navigationRightImages {
  display: block;
  position: absolute;
  right: 0px;
}

.navigationContainer #navigationRight.navigationButton .icon,
.navigationContainer #navigationRightVideos.navigationButton .icon,
.navigationContainer #navigationRightImages.navigationButton .icon{
    background-position-y: round(@screen-scale*-140px);
}



.navigationContainer{
  display: block !important;
}

.navigationContainer #navigationTop{
  position: fixed;
  top: 0px;
}

.navigationContainer #navigationBottom{
  display: block;
  position: fixed;
  bottom: 0px;
}

#settings_1 .navigationContainer #navigationBottom,
#settings_1 .navigationContainer #navigationTop{
  width: 85%;
}

.navigationContainer #navigationTop.navigationButton .icon{
  background-position-y: round(@screen-scale*-300px);
}

.navigationContainer #navigationBottom.navigationButton .icon{
  background-position-y: round(@screen-scale*-370px);
}



@keyframes foregroundAnimation{
  0% {
    -o-transform:scale(1,1);
    -webkit-transform: scale3d(1,1,1);
  }
  45% {
    -o-transform:scale(1.3,1.3);
    -webkit-transform: scale3d(1.3,1.3,1);
  }
  50% {
    -o-transform:scale(1.3,1.3);
    -webkit-transform: scale3d(1.3,1.3,1);
  }
  95% {
    -o-transform:scale(1,1);
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -o-transform:scale(1,1);
    -webkit-transform: scale3d(1,1,1);
  }
}
@keyframes backgroundAnimation{
  0% {
    -o-transform:scale(1.3,1.3);
    -webkit-transform: scale3d(1.3,1.3,1);
  }
  45% {
    -o-transform:scale(1,1);
    -webkit-transform: scale3d(1,1,1);
  }
  50% {
    -o-transform:scale(1,1);
    -webkit-transform: scale3d(1,1,1);
  }
  95% {
    -o-transform:scale(1.3,1.3);
    -webkit-transform: scale3d(1.3,1.3,1);
  }
  100% {
    -o-transform:scale(1.3,1.3);
    -webkit-transform: scale3d(1.3,1.3,1);
  }
}

/* Windows 10 specific css */
html, body {
  -ms-content-zooming: none;
}

@-ms-viewport {
  width: 1920px;
}
