/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
.login,
.pin {
  width: 1920px;
  height: 1080px;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(to top, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
  top: 0px;
}
#launchContent {
  width: 1598px;
  height: 1080px;
  left: 322px;
  top: 0px;
  position: absolute;
}
#launchContent .buttonsContainer {
  width: 1100px;
  height: 450px;
  margin: 105px auto;
}
#launchContent .menuBlock {
  width: 350px;
  height: 350px;
  display: block;
  float: left;
  border: 1px solid #FFF;
  margin-right: 13px;
}
#launchContent .menuBlock p {
  text-align: center;
  padding-top: 130px;
  font-weight: lighter;
}
#launchContent .menuBlock.focus {
  border: 1px solid #00bbd1;
}
#launchContent.fullscreen {
  width: 1920px;
  left: 0px;
}
.login #logo,
.pin #logo {
  width: 230px;
  height: 91px;
  background: url('../../../1080/media/logo.png') top center no-repeat;
  margin-top: 112px;
  margin-left: -115px;
  left: 50%;
  position: relative;
}
.login .loginContainer,
.pin .pinContainer {
  width: 1083px;
  margin-left: 257px;
  margin-top: 65px;
}
.login .fullscreen .loginContainer,
.pin .fullscreen .pinContainer {
  margin-left: 418px;
}
.login .helpContainer.disabled {
  display: none;
}
#launchContent .header {
  width: 1100px;
  margin: 0 auto;
  height: 60px;
}
#launchContent .header.long-email {
  height: 68px;
}
#launchContent .header .title {
  font-weight: lighter;
  text-align: left;
  font-size: 32px;
  color: white;
  clear: both;
  height: 100px;
  line-height: 200px;
}
#accountFrame {
  z-index: 8;
}
#iframeOverlay {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
}
.returnButton {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 65px;
  height: 65px;
  padding-right: 0px;
  background-image: url('../../../1080/media/nav-icons.png');
  background-position: 0px -216px;
  z-index: 12;
}
