/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
.redemption {
  width: 1920px;
  height: 1080px;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url('../../../1080/media/temp/bg_redemption.jpg');
  background-image: -o-linear-gradient(to top, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url('../../../1080/media/temp/bg_redemption.jpg');
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url('../../../1080/media/temp/bg_redemption.jpg');
  position: absolute;
  top: 0px;
}
.redemption.noBackground {
  width: 1920px;
  height: 1080px;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(to top, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
  top: 0px;
}
#redemptionContent,
#promotionContent,
#successContent {
  width: 1600px;
  height: 1080px;
  left: 160px;
  top: 0px;
  position: absolute;
}
#redemptionContent .buttonsContainer {
  width: 1100px;
  height: 450px;
  margin: 0 auto;
}
#redemptionContent .menuBlock {
  width: 350px;
  height: 350px;
  display: block;
  float: left;
  border: 1px solid #FFF;
  margin-right: 13px;
}
.redemption #inputField,
.pin #inputField {
  width: 436px;
  height: 57px;
  background: #d7d7d7;
  line-height: 57px;
  font-size: 24px;
  color: black;
  padding-left: 24px;
  position: absolute;
  top: 360px;
  left: 878px;
}
.redemption .divider {
  width: 100%;
  height: 1px;
  background: #4b4b4b;
  margin: 22px 0px;
  margin-top: 30px;
}
.redemption #redemptionContent .divider {
  margin-top: 80px !important;
}
.redemption .helpContainer .divider {
  margin-top: 22px;
}
.redemption .buttons {
  position: absolute;
  top: 495px;
  text-align: center;
  width: 1082px;
}
#redemptionContent #inputField {
  left: 718px !important;
}
#redemptionContent .menuBlock p {
  text-align: center;
  padding-top: 130px;
  font-weight: lighter;
}
#redemptionContent .menuBlock.focus {
  border: 1px solid #00bbd1;
}
#redemptionContent.fullscreen {
  width: 1920px;
  left: 0px;
}
.redemption #logo,
.pin #logo {
  width: 230px;
  height: 91px;
  background: url('../../../1080/media/logo.png') top center no-repeat;
  margin-top: 112px;
  margin-left: -115px;
  left: 50%;
  position: relative;
}
.redemption .loginContainer,
.pin .pinContainer {
  width: 1083px;
  margin-left: 257px;
  margin-top: 65px;
}
.redemption .fullscreen .loginContainer,
.pin .fullscreen .pinContainer {
  margin-left: 418px;
}
.redemptionredemption .helpContainer.disabled {
  display: none;
}
#redemptionContent .redemption .buttons {
  position: absolute;
  top: 455px !important;
  text-align: center;
  width: 1100px;
}
.redemption .button.disabled {
  opacity: 0.5;
}
.redemption .button,
.pin .button {
  height: 58px;
  line-height: 58px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 20px;
  background: black;
  border: 1px solid #9c9c9c;
  color: white;
  font-family: opensans;
  font-size: 24px;
  color: #f7f7f7;
  margin-left: 6px;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
#promotionContent .buttons {
  position: static;
  text-align: center;
  width: 1600px;
}
#redemptionContent .header {
  width: 1100px;
  margin: 0 auto;
}
#successContent .header {
  margin-top: 30px;
}
#successContent {
  width: 1100px;
  margin: 0 auto;
  height: 100px;
}
#redemptionContent .header.long-email {
  height: 68px;
}
#redemptionContent .header .title,
#successContent .header .title {
  font-weight: lighter;
  text-align: left;
  font-size: 32px;
  color: #848484;
  clear: both;
  height: 60px;
  line-height: 150px;
}
#successContent {
  display: none;
}
#promotionContent .content,
#successContent .content {
  height: 700px;
  width: 1600px;
}
#successContent .subtitle {
  width: 1100px;
  margin: 0 auto;
  height: 100px;
  margin-top: 50px;
}
#successContent .divider {
  width: 1100px;
  margin: 0 auto;
  margin-top: 80px !important;
}
#promotionContent .content .top img {
  height: 280px;
  margin-right: 30px;
}
#promotionContent .redemption-success h1 {
  display: inline-block;
  color: #848484;
}
#promotionContent .redemption-success h1 .white {
  color: white;
}
#promotionContent .redemption-success .buttons {
  position: absolute;
  top: 780px;
  left: 140px;
}
#promotionContent .redemption-success #redemptionBack {
  margin-right: 0px;
}
#promotionContent .redemptionTitle,
#successContent .redemptionTitle {
  font-weight: lighter;
  font-size: 32px;
  position: absolute;
  color: white;
  height: 70px;
  width: 800px;
  padding-top: 50px;
}
#promotionContent .redemptionTitle .blue {
  color: #00bbd1;
}
#promotionContent .redemptionSubtitle {
  text-align: right;
  color: white;
  position: absolute;
  font-weight: lighter;
  font-size: 24px;
  height: 70px;
  width: 500px;
  padding-top: 50px;
  right: 0;
}
#promotionContent .divider {
  width: 1700px;
  margin: 0 auto;
  margin-top: 100px !important;
}
#promotionContent .redemptionPlaylistContent {
  position: absolute;
  height: 700px;
  width: 99999px;
  left: 0px;
  top: 310px;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -o-transform: translate(237px, 0);
  -webkit-transform: translate3d(237px, 0, 0);
}
#promotionContent .redemptionPlaylistContent .product {
  width: 219px;
  height: 330px;
  float: left;
  margin-bottom: ound(18px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.57);
  background-color: #141414;
  position: relative;
  opacity: 1;
  overflow: hidden;
  margin-right: 18px;
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
#promotionContent .redemptionPlaylistContent .product .productBorder {
  position: absolute;
  height: 322px;
  width: 211px;
  border: 4px solid white;
  display: none;
  z-index: 2;
}
#promotionContent .redemptionPlaylistContent .product.selected .productBorder {
  position: absolute;
  height: 322px;
  width: 211px;
  border: 4px solid #00bbd1;
  display: none;
  z-index: 2;
}
#promotionContent .redemptionPlaylistContent .product.focus.selected .productBorder {
  position: absolute;
  height: 322px;
  width: 211px;
  border: 4px solid white;
  display: none;
  z-index: 2;
}
#promotionContent .redemptionPlaylistContent .product img {
  width: 219px;
  height: 330px;
  background-size: cover;
  background-position: center;
}
#promotionContent .redemptionPlaylistContent .product.focus .productBorder {
  display: block;
}
#promotionContent .redemptionPlaylistContent .product.selected .productBorder {
  display: block;
}
#promotionContent .redemptionPlaylistContent .product.focus.selected .productBorder {
  display: block;
}
