/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
#ime {
  position: absolute;
  display: block;
  width: 1145px;
  height: 410px;
  overflow: hidden;
  top: 540px;
  left: 249px;
  opacity: 1;
}
.fullscreen #ime {
  left: 411px;
}
#ime.numeric {
  width: 350px;
}
#keyboard {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 1145px;
  height: 450px;
  font-family: opensans;
  font-size: 27px;
  color: #f7f7f7;
}
@keyframes keyboardAni {
  from {
    bottom: -380px;
  }
  to {
    bottom: 0px;
  }
}
@-webkit-keyframes keyboardAni {
  from {
    bottom: -380px;
  }
  to {
    bottom: 0px;
  }
}
@-moz-keyframes keyboardAni {
  from {
    bottom: -380px;
  }
  to {
    bottom: 0px;
  }
}
@-o-keyframes keyboardAni {
  from {
    bottom: -380px;
  }
  to {
    bottom: 0px;
  }
}
.clearRow {
  clear: both;
}
.hidden {
  display: none;
}
#input {
  display: none;
  width: 1220px;
  height: 65px;
  position: relative;
  top: 0px;
  left: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
/*make sure .input-element has same font-type and font-size for correct placement*/
#input input {
  /*font-family: arial;*/
  width: 550px;
  height: 35px;
  line-height: 32px;
  font-size: 24px;
  padding-left: 5px;
  border-color: #FFF;
  background-color: #FFF;
}
#input input.focus {
  border-color: #219161;
  transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  box-shadow: 0 0 10px #FFF;
  -o-box-shadow: 0 0 10px #FFF;
  -webkit-box-shadow: 0 0 10px #FFF;
  -moz-box-shadow: 0 0 10px #FFF;
}
.testform {
  width: 550px;
  margin: 0 auto;
  padding-top: 12px;
  height: 35px;
  line-height: 30px;
}
#keyboardScreen {
  width: 1920px;
  height: 450px;
  position: relative;
  top: 30px;
}
#keyboardFrame {
  width: 1920px;
  margin: 0 auto;
  padding-top: 20px;
}
#keyboardScreen .character,
#keyboardScreen .characterBe,
#keyboardScreen .characterSign,
#keyboardScreen .characterExtra,
#keyboardScreen .characterMoveCarot,
#keyboardScreen .characterSpecial,
#keyboardScreen .numbers,
#keyboardScreen .special,
#keyboardScreen .button {
  list-style-type: none;
  float: left;
  height: 61px;
  width: 86px;
  line-height: 61px;
  background-color: #141414;
  border-radius: 0px;
  border: 2px;
  border-style: solid;
  border-color: #2c2c2c;
  color: #fefefe;
  margin: 5px;
  font-weight: normal;
  text-align: center;
  margin-right: 4px;
}
#keyboardScreen .character.moveToTop {
  line-height: 54px;
}
#keyboardScreen .character.moveToTop.uppercase {
  line-height: 61px;
}
#keyboardScreen .character.moveUppercaseToTop.uppercase {
  line-height: 58px;
}
#keyboardScreen .character.deactivated,
#keyboardScreen .characterBe.deactivated,
#keyboardScreen .characterSign.deactivated,
#keyboardScreen .characterExtra.deactivated,
#keyboardScreen .characterMoveCarot.deactivated,
#keyboardScreen .characterSpecial.deactivated,
#keyboardScreen .special.deactivated,
#keyboardScreen .button.deactivated {
  color: #000;
  background-color: #323232;
}
#keyboardScreen .caps,
#keyboardScreen .submit,
#keyboardScreen .switchlan {
  background-color: #141414;
}
#keyboardScreen .button {
  width: 160px;
}
#keyboardScreen .smallbutton {
  width: 70px;
}
#keyboardScreen .special {
  width: 160px;
}
#keyboardScreen .space {
  width: 284px;
}
#keyboardScreen .characterExtra {
  font-size: 20px;
}
#keyboardScreen .character.uppercase,
#keyboardScreen .characterSpecial.uppercase,
#keyboardScreen .characterBe.uppercase {
  text-transform: capitalize;
}
#keyboardScreen .character.com.uppercase {
  text-transform: lowercase;
}
#keyboardFrame .numpad {
  float: left;
  width: 350px;
  height: 500px;
  margin-top: 10px;
  display: none;
}
#keyboardFrame .numpad li {
  list-style-type: none;
  float: left;
  position: relative;
}
#keyboardFrame .functions {
  display: none;
  float: left;
  width: 260px;
  height: 500px;
  margin-top: 10px;
  font-size: 30px;
}
#keyboardFrame .characters {
  float: left;
  width: 1145px;
  height: 500px;
  font-size: 20px;
}
#keyboardFrame .character,
#keyboardFrame .characterBe,
#keyboardFrame .numpad,
#keyboardFrame .characterSign,
#keyboardFrame .characterSpecial {
  font-size: 20px;
  position: relative;
}
#keyboardFrame .character .glow,
#keyboardFrame .numbers .glow {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 8px #ffffff;
  position: absolute;
  display: none;
}
#keyboardFrame .character.focus,
#keyboardFrame .numbers.focus {
  box-shadow: 0 0 8px #ffffff;
}
#keyboardFrame .character.focus .glow,
#keyboardFrame .numbers.focus .glow {
  display: block;
}
#keyboardFrame .character.disable {
  box-shadow: none;
}
#keyboardFrame .character.disable .glow {
  display: none;
}
#keyboardFrame .characters ul,
#keyboardFrame .extras ul,
#keyboardFrame .numpad ul,
#keyboardFrame .functions ul {
  margin: 0;
  padding: 0;
}
#keyboardScreen .character.focus,
#keyboardScreen .characterSpecial.focus,
#keyboardScreen .characterBe.focus,
#keyboardScreen .characterSign.focus,
#keyboardScreen .characterExtra.focus,
#keyboardScreen .characterMoveCarot.focus,
#keyboardScreen .numbers.focus,
#keyboardScreen .special.focus,
#keyboardScreen .button.focus {
  background-color: #141414;
  color: #fefefe;
  border-color: white;
  margin: 5px;
  margin-right: 4px;
}
#keyboardScreen .button.focus {
  width: 160px;
}
#keyboardScreen .smallbutton.focus {
  width: 70px;
}
#keyboardScreen .special.focus {
  width: 160px;
}
#keyboardScreen .space.focus {
  width: 284px;
}
#keyboardScreen .character,
#keyboardScreen .numbers {
  transition: background 0.075s ease-in-out, color 0.075s ease-in-out;
  -webkit-transition: background 0.075s ease-in-out, color 0.075s ease-in-out;
  -o-transition: background 0.075s ease-in-out, color 0.075s ease-in-out;
}
#keyboardScreen .character.disable {
  opacity: .25;
}
#keyboardScreen .character.disable.focus {
  border-color: #2c2c2c;
}
#keyboardScreen .character.pressed,
#keyboardScreen .numbers.pressed {
  background: #fefefe;
  color: #141414;
}
#keyboardScreen .shift {
  background-image: url("../../../1080/media/shift-icon.png");
  background-position: 32px 21px;
  background-repeat: no-repeat;
}
#keyboardScreen .character.caps.active {
  border-color: #fefefe;
}
/*images*/
/*#num_10 {*/
/*width:40px; height:40px;*/
/*background: url("../../media/sprite.png") no-repeat 5px 5px;*/
/*overflow:hidden;*/
/*}*/
/*#num_10.focus {*/
/*background: url("../../media/sprite.png") no-repeat 10px -60px;*/
/*}*/
/*#num_11 {*/
/*width:40px; height:40px;*/
/*background: url("../../media/sprite.png") no-repeat -30px 5px;*/
/*overflow:hidden;*/
/*}*/
/*#num_11.focus {*/
/*background: url("../../media/sprite.png") no-repeat -25px -60px;*/
/*}*/
/*.space {    */
/*width:120px; height:40px;*/
/*background: url("../../media/sprite.png") no-repeat 70px -33px;*/
/*overflow:hidden;*/
/*}*/
/*.space.focus {*/
/*background: url("../../media/sprite.png") no-repeat 75px -98px;*/
/*}*/
#keyboardLoading {
  float: right;
  width: 150px;
  color: #777;
  margin-top: 25px;
  height: 30px;
  line-height: 30px;
  margin-right: 130px;
}
@-webkit-keyframes ajax-loader-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes ajax-loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes ajax-loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ajax-loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ajax-loader {
  opacity: .8;
  display: block;
  border-radius: 50%;
  font-size: 29px;
  width: .25em;
  height: .25em;
  box-shadow: 0 -0.4em 0 0 #000000, -0.28em -0.28em 0 0 rgba(0, 0, 0, 0.75), -0.4em 0 0 0 rgba(0, 0, 0, 0.5), -0.28em 0.28em 0 0 rgba(0, 0, 0, 0.25);
  -webkit-animation: 0.85s ajax-loader-rotate steps(8) infinite;
  -moz-animation: 0.85s ajax-loader-rotate steps(8) infinite;
  animation: 0.85s ajax-loader-rotate steps(8) infinite;
}
@keyframes nodeInserted {
  from {
    clip: rect(1px, auto, auto, auto);
  }
  to {
    clip: rect(0px, auto, auto, auto);
  }
}
.characters li {
  animation-duration: 0.001s;
  animation-name: nodeInserted;
}
#sizer {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  margin: 3px;
  /* simulate padding and border without affecting height and width */
  font-size: 24px;
}
.input-element {
  border: 0;
  padding: 3px;
  background: #fff;
  size: 24px;
  font-size: 24px;
}
.tmp-element {
  visibility: hidden;
  white-space: pre;
}
.fakeCursor {
  /*background: url("../../media/fakecursor.png") no-repeat top left;*/
  width: 10px;
  height: 20px;
  position: absolute;
  left: -50px;
  top: -12px;
  color: #FFF;
}
