/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
.imageviewer #slider-items img {
  width: 1920px;
  height: 1080px;
}
.imageviewer #slider-items li {
  display: none;
}
.imageviewer #slider-items li.active {
  display: block;
}
.imageviewer #galleryContent {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
}
.imageviewer #thumbnails {
  bottom: 40px;
  height: 200px;
  width: 9000px;
  position: absolute;
  left: 0px;
  margin-left: 24px;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.imageviewer .leanback-image {
  width: 292px;
  height: 165px;
  margin-left: 24px;
  float: left;
  margin-top: 10px;
}
.imageviewer .leanback-image img {
  width: 292px;
  height: 165px;
}
.imageviewer .leanback-image.focus .focusBorder {
  width: 288px;
  height: 161px;
  border: 2px solid white;
  position: absolute;
}
.imageviewer #buttonLeft {
  width: 39px;
  height: 72px;
  background-image: url("../../../1080/media/imageviewer-arrows.png");
  position: absolute;
  left: 24px;
  top: 50%;
  margin-top: -36px;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.imageviewer #buttonRight {
  width: 39px;
  height: 72px;
  background-image: url("../../../1080/media/imageviewer-arrows.png");
  background-position: -39px 0px;
  position: absolute;
  right: 24px;
  top: 50%;
  margin-top: -36px;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.imageviewer .button.disable {
  display: none;
}
