@import "../../globals.less";
@import "../../theme.less";

#popupButtons .paymentOption.button {
  display: inline-block;
  height: @screen-scale*78px;
  line-height: @screen-scale*78px;
  margin: 0 auto @screen-scale*5px auto;
  min-width: @screen-scale*390px;
}


#popupButtons #leftButton.button{
  line-height: @screen-scale*78px;
  height: @screen-scale*78px;
}
