/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input() {
//  font-family: @main-font-bold;
  font-size: @main-font-size-small;
  color: @main-input-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
/* Season list */
.series-list .scroll-container {
  position: absolute;
  width: 8000px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.series-list .series-name {
  position: absolute;
  left: 421px;
  top: 525px;
  font-size: 55px;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.series-list .season-container {
  margin-left: 315px;
  bottom: 0px;
  height: 460px;
  background: black;
  position: absolute;
  width: 1580px;
  padding-left: 106px;
  background: rgba(2, 2, 2, 0.85);
}
.series-list .season-thumbnail {
  width: 214px;
  height: 322px;
  margin-right: 25px;
  float: left;
  margin-bottom: 60px;
  margin-top: 45px;
}
.series-list .season-thumbnail .season-border {
  width: 210px;
  height: 318px;
  border: 2px solid white;
  position: absolute;
  display: none;
}
.series-list .season-thumbnail.focus .season-border {
  display: block;
}
.series-list .season-thumbnail img {
  width: 214px;
  height: 322px;
}
.series-list .season-thumbnail .season-title {
  font-size: 20px;
  color: #b4b4b4;
}
/* Bundle detail */
.bundle-detail #product .productInfoContainer {
  height: auto;
}
#product .seasonTitle {
  margin-left: 114px;
  font-size: 20px;
  position: absolute;
  font-weight: 300;
  color: #efefef;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  top: 85px;
}
/*
@iterations: 25;
.seasonEpisodes-loop (@i) when (@i > 0){
  #product.episodesOffset-@{i}{
        -webkit-transform: translate3d(0px, @screen-scale*(-100-(@i*227))px, 0px);
  }

  .seasonEpisodes-loop(@i - 1);
}
.seasonEpisodes-loop(-1){}
.seasonEpisodes-loop(@iterations);
*/
#product.episodesOffset-25 {
  -webkit-transform: translate3d(0px, -5775px, 0px);
}
#product.episodesOffset-24 {
  -webkit-transform: translate3d(0px, -5548px, 0px);
}
#product.episodesOffset-23 {
  -webkit-transform: translate3d(0px, -5321px, 0px);
}
#product.episodesOffset-22 {
  -webkit-transform: translate3d(0px, -5094px, 0px);
}
#product.episodesOffset-21 {
  -webkit-transform: translate3d(0px, -4867px, 0px);
}
#product.episodesOffset-20 {
  -webkit-transform: translate3d(0px, -4640px, 0px);
}
#product.episodesOffset-19 {
  -webkit-transform: translate3d(0px, -4413px, 0px);
}
#product.episodesOffset-18 {
  -webkit-transform: translate3d(0px, -4186px, 0px);
}
#product.episodesOffset-17 {
  -webkit-transform: translate3d(0px, -3959px, 0px);
}
#product.episodesOffset-16 {
  -webkit-transform: translate3d(0px, -3732px, 0px);
}
#product.episodesOffset-15 {
  -webkit-transform: translate3d(0px, -3505px, 0px);
}
#product.episodesOffset-14 {
  -webkit-transform: translate3d(0px, -3278px, 0px);
}
#product.episodesOffset-13 {
  -webkit-transform: translate3d(0px, -3051px, 0px);
}
#product.episodesOffset-12 {
  -webkit-transform: translate3d(0px, -2824px, 0px);
}
#product.episodesOffset-11 {
  -webkit-transform: translate3d(0px, -2597px, 0px);
}
#product.episodesOffset-10 {
  -webkit-transform: translate3d(0px, -2370px, 0px);
}
#product.episodesOffset-9 {
  -webkit-transform: translate3d(0px, -2143px, 0px);
}
#product.episodesOffset-8 {
  -webkit-transform: translate3d(0px, -1916px, 0px);
}
#product.episodesOffset-7 {
  -webkit-transform: translate3d(0px, -1689px, 0px);
}
#product.episodesOffset-6 {
  -webkit-transform: translate3d(0px, -1462px, 0px);
}
#product.episodesOffset-5 {
  -webkit-transform: translate3d(0px, -1235px, 0px);
}
#product.episodesOffset-4 {
  -webkit-transform: translate3d(0px, -1008px, 0px);
}
#product.episodesOffset-3 {
  -webkit-transform: translate3d(0px, -781px, 0px);
}
#product.episodesOffset-2 {
  -webkit-transform: translate3d(0px, -554px, 0px);
}
#product.episodesOffset-1 {
  -webkit-transform: translate3d(0px, -327px, 0px);
}
#product.episodesOffset-25 {
  -o-transform: translate(0px, -5775px);
}
#product.episodesOffset-24 {
  -o-transform: translate(0px, -5548px);
}
#product.episodesOffset-23 {
  -o-transform: translate(0px, -5321px);
}
#product.episodesOffset-22 {
  -o-transform: translate(0px, -5094px);
}
#product.episodesOffset-21 {
  -o-transform: translate(0px, -4867px);
}
#product.episodesOffset-20 {
  -o-transform: translate(0px, -4640px);
}
#product.episodesOffset-19 {
  -o-transform: translate(0px, -4413px);
}
#product.episodesOffset-18 {
  -o-transform: translate(0px, -4186px);
}
#product.episodesOffset-17 {
  -o-transform: translate(0px, -3959px);
}
#product.episodesOffset-16 {
  -o-transform: translate(0px, -3732px);
}
#product.episodesOffset-15 {
  -o-transform: translate(0px, -3505px);
}
#product.episodesOffset-14 {
  -o-transform: translate(0px, -3278px);
}
#product.episodesOffset-13 {
  -o-transform: translate(0px, -3051px);
}
#product.episodesOffset-12 {
  -o-transform: translate(0px, -2824px);
}
#product.episodesOffset-11 {
  -o-transform: translate(0px, -2597px);
}
#product.episodesOffset-10 {
  -o-transform: translate(0px, -2370px);
}
#product.episodesOffset-9 {
  -o-transform: translate(0px, -2143px);
}
#product.episodesOffset-8 {
  -o-transform: translate(0px, -1916px);
}
#product.episodesOffset-7 {
  -o-transform: translate(0px, -1689px);
}
#product.episodesOffset-6 {
  -o-transform: translate(0px, -1462px);
}
#product.episodesOffset-5 {
  -o-transform: translate(0px, -1235px);
}
#product.episodesOffset-4 {
  -o-transform: translate(0px, -1008px);
}
#product.episodesOffset-3 {
  -o-transform: translate(0px, -781px);
}
#product.episodesOffset-2 {
  -o-transform: translate(0px, -554px);
}
#product.episodesOffset-1 {
  -o-transform: translate(0px, -327px);
}
#product .episodeList {
  width: 963px;
  margin-left: 395px;
  position: relative;
  height: auto;
  margin-top: 60px;
}
#product .episodeList .episode-thumbnail {
  float: left;
  width: 292px;
  height: 165px;
  margin-top: 5px;
  margin-right: 24px;
  position: relative;
  margin-bottom: 62px;
}
#product .episodeList .episode-thumbnail .thumbnail-border {
  width: 288px;
  height: 161px;
  border: 2px solid white;
  position: absolute;
  display: none;
}
#product .episodeList .episode-thumbnail.focus .thumbnail-border {
  display: block;
}
#product .episodeList .episode-meta {
  font-size: 20px;
  margin-top: 2px;
}
#product .episodeList .episode-title {
  height: 62px;
  color: #b4b4b4;
  font-size: 16px;
}
#product .episodeList .episode-thumbnail img {
  width: 292px;
  height: 165px;
}
.episodeProgressDetail {
  height: 5px;
  width: 218px;
  margin-top: 327px;
  display: none;
}
.episodeProgress {
  height: 5px;
  width: 292px;
  margin-top: -7px;
}
.episodeProgress .episodeProgressBar,
.episodeProgressDetail .episodeProgressBar {
  height: 5px;
  width: 0%;
  background-color: #00bbd1;
}
