@import "../../../globals.less";
@import "../../../theme.less";


/* Season list */
.series-list .scroll-container{
  position: absolute;
  width: 8000px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.series-list .series-name{
  position: absolute;
  left: round(@screen-scale*421px);
  top: round(@screen-scale*525px);
  font-size: round(@screen-scale*55px);
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.series-list .season-container{
  margin-left: round(@screen-scale*315px);
  bottom: 0px;
  height: round(@screen-scale*460px);
  background: black;
  position: absolute;
  width: round(@screen-scale*1580px);
  padding-left: round(@screen-scale*106px);
  background: rgba(2,2,2,.85);
}

.series-list .season-thumbnail{
  width: round(@screen-scale*214px);
  height: round(@screen-scale*322px);
  margin-right: round(@screen-scale*25px);
  float: left;
  margin-bottom: round(@screen-scale*60px);
  margin-top: round(@screen-scale*45px);
}

.series-list .season-thumbnail .season-border{
  width: round(@screen-scale*210px);
  height: round(@screen-scale*318px);
  border: 2px solid white;
  position: absolute;
  display: none;
}


.series-list .season-thumbnail.focus .season-border {
  display: block;
}

.series-list .season-thumbnail img{
  width: round(@screen-scale*214px);
  height: round(@screen-scale*322px);
}

.series-list .season-thumbnail .season-title{
  font-size: 20px;
  color: #b4b4b4;
}

/* Bundle detail */
.bundle-detail #product .productInfoContainer{
  height: auto;
}

#product .seasonTitle{
  margin-left: round(@screen-scale*114px);
  font-size: round(@screen-scale*20px);
  position: absolute;
  font-weight: 300;
  color: #efefef;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  top: round(@screen-scale*85px);
}

/*
@iterations: 25;
.seasonEpisodes-loop (@i) when (@i > 0){
  #product.episodesOffset-@{i}{
        -webkit-transform: translate3d(0px, @screen-scale*(-100-(@i*227))px, 0px);
  }

  .seasonEpisodes-loop(@i - 1);
}
.seasonEpisodes-loop(-1){}
.seasonEpisodes-loop(@iterations);
*/
#product.episodesOffset-25 { -webkit-transform: translate3d(0px, -5775px, 0px);}
#product.episodesOffset-24 { -webkit-transform: translate3d(0px, -5548px, 0px);}
#product.episodesOffset-23 { -webkit-transform: translate3d(0px, -5321px, 0px);}
#product.episodesOffset-22 { -webkit-transform: translate3d(0px, -5094px, 0px);}
#product.episodesOffset-21 { -webkit-transform: translate3d(0px, -4867px, 0px);}
#product.episodesOffset-20 { -webkit-transform: translate3d(0px, -4640px, 0px);}
#product.episodesOffset-19 { -webkit-transform: translate3d(0px, -4413px, 0px);}
#product.episodesOffset-18 { -webkit-transform: translate3d(0px, -4186px, 0px);}
#product.episodesOffset-17 { -webkit-transform: translate3d(0px, -3959px, 0px);}
#product.episodesOffset-16 { -webkit-transform: translate3d(0px, -3732px, 0px);}
#product.episodesOffset-15 { -webkit-transform: translate3d(0px, -3505px, 0px);}
#product.episodesOffset-14 { -webkit-transform: translate3d(0px, -3278px, 0px);}
#product.episodesOffset-13 { -webkit-transform: translate3d(0px, -3051px, 0px);}
#product.episodesOffset-12 { -webkit-transform: translate3d(0px, -2824px, 0px);}
#product.episodesOffset-11 { -webkit-transform: translate3d(0px, -2597px, 0px);}
#product.episodesOffset-10 { -webkit-transform: translate3d(0px, -2370px, 0px);}
#product.episodesOffset-9 { -webkit-transform: translate3d(0px, -2143px, 0px);}
#product.episodesOffset-8 { -webkit-transform: translate3d(0px, -1916px, 0px);}
#product.episodesOffset-7 { -webkit-transform: translate3d(0px, -1689px, 0px);}
#product.episodesOffset-6 { -webkit-transform: translate3d(0px, -1462px, 0px);}
#product.episodesOffset-5 { -webkit-transform: translate3d(0px, -1235px, 0px);}
#product.episodesOffset-4 { -webkit-transform: translate3d(0px, -1008px, 0px);}
#product.episodesOffset-3 { -webkit-transform: translate3d(0px, -781px, 0px);}
#product.episodesOffset-2 { -webkit-transform: translate3d(0px, -554px, 0px);}
#product.episodesOffset-1 { -webkit-transform: translate3d(0px, -327px, 0px);}

#product.episodesOffset-25 { -o-transform: translate(0px, round(@screen-scale*-5775px));}
#product.episodesOffset-24 { -o-transform: translate(0px, round(@screen-scale*-5548px));}
#product.episodesOffset-23 { -o-transform: translate(0px, round(@screen-scale*-5321px));}
#product.episodesOffset-22 { -o-transform: translate(0px, round(@screen-scale*-5094px));}
#product.episodesOffset-21 { -o-transform: translate(0px, round(@screen-scale*-4867px));}
#product.episodesOffset-20 { -o-transform: translate(0px, round(@screen-scale*-4640px));}
#product.episodesOffset-19 { -o-transform: translate(0px, round(@screen-scale*-4413px));}
#product.episodesOffset-18 { -o-transform: translate(0px, round(@screen-scale*-4186px));}
#product.episodesOffset-17 { -o-transform: translate(0px, round(@screen-scale*-3959px));}
#product.episodesOffset-16 { -o-transform: translate(0px, round(@screen-scale*-3732px));}
#product.episodesOffset-15 { -o-transform: translate(0px, round(@screen-scale*-3505px));}
#product.episodesOffset-14 { -o-transform: translate(0px, round(@screen-scale*-3278px));}
#product.episodesOffset-13 { -o-transform: translate(0px, round(@screen-scale*-3051px));}
#product.episodesOffset-12 { -o-transform: translate(0px, round(@screen-scale*-2824px));}
#product.episodesOffset-11 { -o-transform: translate(0px, round(@screen-scale*-2597px));}
#product.episodesOffset-10 { -o-transform: translate(0px, round(@screen-scale*-2370px));}
#product.episodesOffset-9 { -o-transform: translate(0px, round(@screen-scale*-2143px));}
#product.episodesOffset-8 { -o-transform: translate(0px, round(@screen-scale*-1916px));}
#product.episodesOffset-7 { -o-transform: translate(0px, round(@screen-scale*-1689px));}
#product.episodesOffset-6 { -o-transform: translate(0px, round(@screen-scale*-1462px));}
#product.episodesOffset-5 { -o-transform: translate(0px, round(@screen-scale*-1235px));}
#product.episodesOffset-4 { -o-transform: translate(0px, round(@screen-scale*-1008px));}
#product.episodesOffset-3 { -o-transform: translate(0px, round(@screen-scale*-781px));}
#product.episodesOffset-2 { -o-transform: translate(0px, round(@screen-scale*-554px));}
#product.episodesOffset-1 { -o-transform: translate(0px, round(@screen-scale*-327px));}



#product .episodeList{
  width: round(@screen-scale*963px);
  margin-left: round(@screen-scale*395px);
  position: relative;
  height: auto;
  margin-top: round(@screen-scale*60px);
}

#product .episodeList .episode-thumbnail{
  float: left;
  width: round(@screen-scale*292px);
  height: round(@screen-scale*165px);
  margin-top: round(@screen-scale*5px);
  margin-right: round(@screen-scale*24px);
  position: relative;
  margin-bottom: round(@screen-scale*62px);
}

#product .episodeList .episode-thumbnail .thumbnail-border{
  width: round(@screen-scale*288px);
  height: round(@screen-scale*161px);
  border: 2px solid white;
  position: absolute;
  display: none;
}

#product .episodeList .episode-thumbnail.focus .thumbnail-border {
  display: block;
}

#product .episodeList .episode-meta{
  font-size: round(@screen-scale*20px);
  margin-top: 2px;
}

#product .episodeList .episode-title{
  height: round(@screen-scale*62px);
  color: #b4b4b4;
  font-size: round(@screen-scale*16px);
}

#product .episodeList .episode-thumbnail img{
  width: round(@screen-scale*292px);
  height: round(@screen-scale*165px);
}
.episodeProgressDetail {
  height:round(@screen-scale*5px);
  width: round(@screen-scale*218px);
  margin-top:round(@screen-scale*327px);
  display: none;
}

.episodeProgress {
  height:round(@screen-scale*5px);
  width: round(@screen-scale*292px);
  margin-top:round(@screen-scale*-7px);
}
.episodeProgress .episodeProgressBar, .episodeProgressDetail .episodeProgressBar{
  height:round(@screen-scale*5px);
  width: 0%;
  background-color: #00bbd1;
}
