@import "../../globals.less";
@import "../../theme.less";


#container.settings{
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
}

.settings #content{
  position: absolute;
  height: @full-screen-height;
  width: round(@screen-scale*1598px);
  left: round(@screen-scale*322px);
}

.settings #content .content{
  padding-top: round(@screen-scale*248px);
  padding-left: round(@screen-scale*262px);
  width: round(@screen-scale*1082px);

  -o-transition: padding-top 200ms ease-in-out;
  -webkit-transition: padding-top 200ms ease-in-out;
  -o-transform: translate(0,0);
  -webkit-transform: translate3d(0,0,0);
}

.settings #content .content h1{
  .text-light-large();
}

.settings #content .content .versionNumber{
  float: right;
  margin-top: round(@screen-scale*-26px);
  color: #4c4c4c;
  font-size: round(@screen-scale*17px);
}

.settings #content .content .divider{
  width: 100%;
  height: 1px;
  background-color: #4b4b4b;
  margin-top: round(@screen-scale*20px);
  margin-bottom: round(@screen-scale*20px);
}

.settings #content .content p {
  font-size: round(@screen-scale*20px);
  color: #b3b3b3;
  line-height: round(@screen-scale*32px);
}

.settings #content .content .white{
  color: white;
}

.settings #content .content p.margin-bottom {
  margin-bottom: round(@screen-scale*30px);
}

.settings .button{
  .large-button();
  .text-button-small();
  margin-left: round(@screen-scale*0px);
  margin-right: round(@screen-scale*20px);
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.settings .button.payment-button{
  margin-bottom: round(@screen-scale*22px);
}

.settings .button.payment-button.select{
  border: 2px solid white;
}

.settings .button#button_account{
  margin-top: round(@screen-scale*15px);
  margin-bottom: round(@screen-scale*40px);
}

.settings .payment-content{
  margin-bottom: round(@screen-scale*32px);
}

.settings .payment-methods {
  margin-top: round(@screen-scale*15px);
  width: round(@screen-scale*1600px);
  height: round(@screen-scale*68px);
  position: relative;
}

.settings .payment-methods p{
  max-width: round(@screen-scale*1000px);
}

.settings .payment-methods .payment-scroll-container {
  width: round(@screen-scale*5000px);
  left: 0px;
  position: absolute;
}

.settings .payment-button .lowercase{
  text-transform: none;
}

.settings .pin-settings{
  display: none;
}

.settings .pin-settings.visible{
  display: block;
}

.settings .pin-title{
  margin-bottom: round(@screen-scale*15px);
}

.settings .uv-account-description {
  margin-top: round(@screen-scale*30px);
}

.settings .uv-account-description .uv-icon {
  margin-right: round(@screen-scale*10px);
}

.settings .button.disable{
  display: none;

}

.settings .button.focus{
  border:1px solid #efefef;
  color: black;
  background: #efefef;
}

/* Redemption */

.settings #content .redemption .content{
  padding-top: round(@screen-scale*75px);
  padding-left: round(@screen-scale*150px) !important;
}

.settings #content .redemption #logo {
  margin-top:round(@screen-scale*30px) !important;
}

.settings #content .redemption #inputField {
  display: block !important;
  position: absolute !important;
  opacity: 1 !important;
  top: round(@screen-scale*426px) !important;
  height: round(@screen-scale*80px) !important;
  left: round(@screen-scale*450px) !important;
  width: round(@screen-scale*436px) !important;
  height: round(@screen-scale*57px) !important;
  background: #d7d7d7;
  line-height: round(@screen-scale*57px) !important;
  font-size: round(@screen-scale*24px) !important;
  color: black;
  padding-left: round(@screen-scale*24px) !important;
}

.settings #content .redemption .header {
  margin-top:round(@screen-scale*130px) !important;
  height:round(@screen-scale*50px) !important;
}

.settings #content .redemption .redemption-code{
  height: round(@screen-scale*57px);
  margin-top: round(@screen-scale*54px);
  margin-bottom: round(@screen-scale*54px);
}

.settings #content .redemption .redemption-char{
  width: round(@screen-scale*53px);
  height: round(@screen-scale*57px);
  background: #d7d7d7;
  margin-right: round(@screen-scale*10px);
  float: left;
}

.settings #content .redemption .redemption-char .text{
  color: black;
  font-size: round(@screen-scale*30px);
  text-align: center;
  line-height: round(@screen-scale*57px);
  height: round(@screen-scale*57px);
  text-transform: uppercase;
}


.settings #content .redemption #redemptionChar-3,
.settings #content .redemption #redemptionChar-7,
.settings #content .redemption #redemptionChar-11{
  margin-right: round(@screen-scale*38px);
}

.settings #content .redemption #redemptionChar-15 {
  margin-right: 0px;
}

.settings #content .redemption .description{
  font-size: round(@screen-scale*15px);
  color: #767676;
}

/* Visible, but out of screen */
.settings #content .redemption #inputField {
  display: block;
  opacity: 0;
  position: absolute;
  top: -100px;
  height: 80px;
}

.settings #content .redemption .buttons {
  width: 100%;
  text-align: center;
  top: round(@screen-scale*100px);
  position: relative;
}

.settings #content .redemption .actionResult{
  font-size: round(@screen-scale*20px);
  color: #f31f65;
}

.settings #content .redemption-success .content{
  padding-top: round(@screen-scale*230px);
}

.settings #content .redemption-success .content .top img{
  height: round(@screen-scale*280px);
  margin-right: round(@screen-scale*30px);
}

.settings #content .redemption-success h1{
  display: inline-block;
  color: #848484;
}

.settings #content .redemption-success h1 .white{
  color: white;
}

.settings #content .redemption-success .buttons{
  position: absolute;
  top: round(@screen-scale*780px);
  left: round(@screen-scale*140px);
}

.settings #content .redemption-success #redemptionBack{
  margin-right: 0px;
}

.settings #content .redemptionTitle {
  position: absolute;
  color:#848484;
  font-size:round(@screen-scale*32px);
  height: round(@screen-scale*70px);
  width: round(@screen-scale*1000px);
  left: round(@screen-scale*140px);
  padding-top: round(@screen-scale*80px);
}

.settings #content .redemptionPlaylistContent {
  position: absolute;
  height: 100%;
  width: round(@screen-scale*99999px);
  left: round(@screen-scale*-100px);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -o-transform: translate(237px, 0);
  -webkit-transform: translate3d(237px, 0, 0);
  padding-top: round(@screen-scale*130px);
}

.settings #content .redemptionPlaylistContent .product {
  width: round(@screen-scale*219px);
  height:  round(@screen-scale*330px);
  float: left;
  margin-bottom: ound(@screen-scale*18px);
  box-shadow: 0 round(@screen-scale*10px) round(@screen-scale*16px) rgba(0, 0, 0, 0.57);
  background-color: #141414;
  position: relative;
  opacity: 1;
  overflow: hidden;
  margin-right: round(@screen-scale*18px);
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0,0,0); //prevent artifacts when scrolling main container
}

.settings #content .redemptionPlaylistContent .product .productBorder {
  position: absolute;
  height: round(@screen-scale*322px);
  width: round(@screen-scale*211px);
  border: round(@screen-scale*4px) solid white;
  display: none;
  z-index: 2;
}

.settings #content .redemptionPlaylistContent .product img {
  width: round(@screen-scale*219px);
  height: round(@screen-scale*330px);
  background-size: cover;
  background-position: center;
}

.settings #content .redemptionPlaylistContent .product.focus .productBorder {
  display: block;
}

/* FAQ */
.settings #content .faq .content{
  padding-left: round(@screen-scale*100px);
  padding-top: round(@screen-scale*63px);
  width: round(@screen-scale*1400px);
}

.settings #content .faq .faq-scroll {
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
}

.settings .faq .faq-item{
  height: round(@screen-scale*77px);
  border: round(@screen-scale*2px) solid #252525;
  overflow: hidden;
  color: white;
  font-size: round(@screen-scale*20px);
  line-height: round(@screen-scale*65px);
  margin-bottom: round(@screen-scale*10px);
  position: relative;
  cursor: pointer;
}

.settings .faq .faq-item.open{
  height: auto;
}

.settings .faq .faq-item.focus{
  border: round(@screen-scale*2px) solid white;
  box-shadow: 0 0 round(@screen-scale*8px) rgba(255, 255, 255, 1);
}

.settings .faq .faq-item.focus .glow{
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 round(@screen-scale*8px) rgba(255, 255, 255, 1);
  position: absolute;
}

.settings .faq .faq-item .sign {
  font-size: round(@screen-scale*40px);
  margin-left: round(@screen-scale*30px);
  margin-right: round(@screen-scale*18px);
  top: round(@screen-scale*5px);
  position: relative;
}

.settings .faq .faq-item .answer{
  color: #b3b3b3;
  font-size: round(@screen-scale*16px);
  line-height: round(@screen-scale*28px);
  padding-left: round(@screen-scale*64px);
  padding-right: round(@screen-scale*64px);
  padding-bottom: round(@screen-scale*59px);
  display: none;
}

.settings .faq .faq-item.open .answer{
  display: block;
}

.settings .faq .faq-container{
  overflow: hidden;
}

/* Contact */

.settings #content .contact .content{
  padding-top: round(@screen-scale*308px);
  height: round(@screen-scale*770px);
}

.contact .contact-options{
  margin-top: round(@screen-scale*65px);
}

.contact .option-title{
  text-transform: uppercase;
  font-size: round(@screen-scale*20px);
  color: white;
  font-weight: 600;
}

.contact .option-title .icon {
  height: round(@screen-scale*15px);
  width: round(@screen-scale*4px);
  margin-right: round(@screen-scale*10px);
  background: @menu-button-focus-color;
  display: inline-block;
  margin-top: -1px;
}

.contact .option-value{
  margin-top: round(@screen-scale*2px);
  margin-bottom: round(@screen-scale*33px);
  color: #929292;
  font-size: round(@screen-scale*34px);
}
.contact .option-value a {
  color: #929292;
}

.settings #content .contact .copyright{
  position: absolute;
  bottom: round(@screen-scale*40px);
}

/* Privacy, Terms */
.settings #content .serviceText .content h1{
  display: inline-block;
}

.settings #content .serviceText .content {
  padding-top: round(@screen-scale*73px);
  padding-left: round(@screen-scale*0px);
  width: round(@screen-scale*1400px);
  margin-left: round(@screen-scale*103px);
  overflow: hidden;
}

.settings #content .serviceText .contentText {
  height: round(@screen-scale*875px);

  -o-transition: margin-left 200ms ease-in-out;
  -webkit-transition: margin-left 200ms ease-in-out;
  -o-transform: translate(0,0);
  -webkit-transform: translate3d(0,0,0);
}

.settings #content .serviceText .contentText h1 {
  margin-bottom: round(@screen-scale*10px);
}

.settings #content .serviceText .contentText h3 {
  color: white;
  margin-top: round(@screen-scale*25px);
  margin-bottom: 0px;
  font-size: round(@screen-scale*20px);
  font-weight: normal;
}

.settings #content .serviceText .pageLeft{
  width: round(@screen-scale*39px);
  height: round(@screen-scale*72px);
  background-image: url("../../../@{screen-width}/media/imageviewer-arrows.png");
  background-position: round(@screen-scale*-2px) round(@screen-scale*-144px);
  background-repeat: no-repeat;
  position: absolute;
  left: round(@screen-scale*36px);
  top: 50%;
  margin-top: round(@screen-scale*-36px);
}


.settings #content .serviceText .pageLeft.focus {
  background-position: round(@screen-scale*-2px) round(@screen-scale*-72px);
}

.settings #content .serviceText .pageRight{
  width: round(@screen-scale*39px);
  height: round(@screen-scale*72px);
  background-image: url("../../../@{screen-width}/media/imageviewer-arrows.png");
  background-position: round(@screen-scale*-42px) round(@screen-scale*-144px);
  background-repeat: no-repeat;
  position: absolute;
  right: round(@screen-scale*36px);
  top: 50%;
  margin-top: round(@screen-scale*-36px);
}

.settings #content .serviceText .pageRight.focus {
  background-position: round(@screen-scale*-42px) round(@screen-scale*-72px);
}


.settings #content .serviceText .pageLeft.disable,
.settings #content .serviceText .pageRight.disable{
  display: none;
}

.settings #content .serviceText .paginator{
  float: right;
  display: inline-block;
  font-size: round(@screen-scale*20px);
  margin-top: round(@screen-scale*20px);
}
