@import "../../../globals.less";
@import "../../../theme.less";

//
///* Mixins */
//.pointer() {
//  cursor: pointer;
//  position: absolute;
//  left: 0px;
//  width: 100%;
//  background-repeat: no-repeat;
//  z-index: 10;
//}
///* End mixins */
//

#container.productDetail, #container.bundle-detail{
  overflow: hidden;
}

.productWindow{
  position: absolute;
  top: 0px;
  height: @full-screen-height;
  width: round(@screen-scale*1625px);
  left: round(@screen-scale*315px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#product {
  position: absolute;
  margin-top: round(@screen-scale*420px);
  position: absolute;
  height: auto;
  width: 100%;

  -o-transform: translate(0px, round(@screen-scale*1080px));
//  -webkit-transform: translate3d(0px, round(@screen-scale*1080px), 0px);
  //transform: translate3d(0px, round(@screen-scale*1080px), 0px);
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
//  -webkit-transform: translate3d(0px, round(@screen-scale*-100px), 0px);
}

#product.overlay {
  -o-transform: translate(0px, round(@screen-scale*380px));
  //-webkit-transform: translate3d(0px, round(@screen-scale*380px), 0px);
  //transform: translate3d(0px, round(@screen-scale*400px), 0px);
}

#product.fullscreen {
  -o-transform: translate(0px, round(@screen-scale*-100px));
//  -webkit-transform: translate3d(0px, round(@screen-scale*-100px), 0px);
  //transform: translate3d(0px, round(@screen-scale*-100px), 0px);
}

#product.extraImages {
  -o-transform: translate(0px, round(@screen-scale*-285px));
//  -webkit-transform: translate3d(0px, round(@screen-scale*-285px), 0px);
  //transform: translate3d(0px, round(@screen-scale*-285px), 0px);
}

#product .title-row{
  height: round(@screen-scale*100px);
  width: round(@screen-scale*1605px);
  background-image: -o-linear-gradient(top, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.1) 30%,rgba(2, 2, 2, 0.5) 100%);
  background-image: -webkit-linear-gradient(top, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.1) 30%,rgba(2, 2, 2, 0.5) 100%);
  padding-top: round(@screen-scale*100px);
}

#product .title {
  .text-light-xlarge();
  max-width:round(@screen-scale*1150px);
  line-height: round(@screen-scale*100px);
  height: round(@screen-scale*100px);
  margin-left:  round(@screen-scale*113px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  color: #efefef;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#productPlayButton.disable{
  display: none;
}

#productPlayButton .icon{
  position: relative;
  display: inline-block;
  margin-right: round(@screen-scale*10px);
  float: left;
  background-image: url("../../../../@{screen-width}/media/detail-buttonicons.png");
}

#productPlayButton .icon {
  width: round(@screen-scale*12px);
  height: round(@screen-scale*15px);
  top: round(@screen-scale*18px);
  background-position: round(@screen-scale*0px) round(@screen-scale*0px);
}

#productPlayButton.focus .icon {
  background-position: round(@screen-scale*-30px) round(@screen-scale*0px);
}

#product .productInfo .title.shortened {
  width:round(@screen-scale*860px);
}

#product .productInfoContainer{
  width: 100%;
  height: auto;
  background: rgba(2,2,2,.85);
  position: relative;
  padding-bottom: round(@screen-scale*70px);
}

#product .thumb {
  float: left;
  left: round(@screen-scale*113px);
  top: round(@screen-scale*45px);
  width: round(@screen-scale*218px);
  position: absolute;
}

#product .thumb img {
  width: 100%;
  height: 100%;
  background-image: url("../../../../@{screen-width}/media/videos/default_thumb_large.png");
  float: left;
}

#product .remainingWatchTimeLeft {
  position: relative;
  float: left;
}

#product .productInfo {
  width: round(@screen-scale*1200px);
  margin-left: round(@screen-scale*390px);
  color: @main-text-color;
  overflow: hidden;
}

#product .productInfo .buttonContainer {
  width: 100%;
  height: round(@screen-scale*81px);
  margin-top: round(@screen-scale*45px);
  margin-left: round(@screen-scale*10px);
}

#product .productInfo .buttonContainer .button {
  .button();
  float: left;
  margin-right: round(@screen-scale*18px);
  position: relative;
}

#product .productInfo .buttonContainer .button.focus {
  border: 2px solid #efefef;
  color: black;
  background: #efefef;
}

#product .productInfo .buttonContainer .button.disable {
  display: none;
}

#product .productInfo .buttonContainer .button .highlight {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

#product .productInfo .buttonContainer .button#productUpgradeButton .highlight,
#product .productInfo .buttonContainer .button#productPurchaseButton .highlight{
  text-transform: none;
}


#product .productInfo .buttonContainer .button.focus .highlight {
  color: black;
}

#product .productInfo .buttonContainer .button .icon{
  position: relative;
  display: inline-block;
  margin-right: round(@screen-scale*10px);
  float: left;
  background-image: url("../../../../@{screen-width}/media/detail-buttonicons.png");
  background-size:round(@screen-scale*60px) round(@screen-scale*210px);
}

#product .productInfo .buttonContainer #watch10MinPreviewButton .icon {
  width: round(@screen-scale*15px);
  height: round(@screen-scale*15px);
  top: round(@screen-scale*18px);
  background-position: round(@screen-scale*0px) round(@screen-scale*-180px);
}

#product .productInfo .buttonContainer #watch10MinPreviewButton.focus .icon {
  background-position: round(@screen-scale*-30px) round(@screen-scale*-180px);
}

#product .productInfo .buttonContainer #watchPreviewButton.focus .icon {
  background-position: round(@screen-scale*-30px) round(@screen-scale*0px);
}

#product .productInfo .buttonContainer #productExtrasButton .icon {
  width: round(@screen-scale*23px);
  height: round(@screen-scale*15px);
  top: round(@screen-scale*18px);
  background-position: round(@screen-scale*0px) round(@screen-scale*-30px);
}

#product .productInfo .buttonContainer #productExtrasButton.focus .icon {
  background-position: round(@screen-scale*-30px) round(@screen-scale*-30px);
}

#product .productInfo .buttonContainer #productPreviewExtrasButton .icon {
  width: round(@screen-scale*23px);
  height: round(@screen-scale*15px);
  top: round(@screen-scale*18px);
  background-position: round(@screen-scale*0px) round(@screen-scale*-30px);
}

#product .productInfo .buttonContainer #productPreviewExtrasButton.focus .icon {
  background-position: round(@screen-scale*-30px) round(@screen-scale*-30px);
}

#product .productInfo .buttonContainer #productFavoritesButton  .icon {
  width: round(@screen-scale*19px);
  height: round(@screen-scale*19px);
  top: round(@screen-scale*15px);
  background-position: round(@screen-scale*0px) round(@screen-scale*-90px);
}

#product .productInfo .buttonContainer #productFavoritesButton.focus .icon {
  background-position: round(@screen-scale*-30px) round(@screen-scale*-90px);
}

#product .productInfo .buttonContainer #productFavoritesButton.removeFromFavorites  .icon {
  width: round(@screen-scale*19px);
  height: round(@screen-scale*19px);
  top: round(@screen-scale*14px);
  background-position: round(@screen-scale*0px) round(@screen-scale*-120px);
}

#product .productInfo .buttonContainer #productFavoritesButton.removeFromFavorites.focus .icon {
  background-position: round(@screen-scale*-30px) round(@screen-scale*-120px);
}


#product .productInfo .buttonContainer #productMoreInfoButton  .icon {
  width: round(@screen-scale*24px);
  height: round(@screen-scale*5px);
  top: round(@screen-scale*20px);
  background-position: round(@screen-scale*0px) round(@screen-scale*-150px);
}

#product .productInfo .buttonContainer #productMoreInfoButton.focus .icon {
  background-position: round(@screen-scale*-30px) round(@screen-scale*-150px);
}


#product .buttonContainer .buttonContainerContent {
  width: auto;
  float: left;
}

#product .buttonContainer .button:not(.disable) {
  margin-right: round(@screen-scale*10px);
}

#product .productInfo .metadata .separator {
  padding: 0 @screen-scale*0px;
}

#product .metadata{
  font-size: round(@screen-scale*19px);
  color: #9c9c9c;

  margin-bottom: round(@screen-scale*20px);
  margin-left: round(@screen-scale*10px);
}

#product .metadata .guidanceRating{
  font-size: round(@screen-scale*20px);
  height: round(@screen-scale*36px);
  padding-left: round(@screen-scale*10px);
  padding-right: round(@screen-scale*10px);
  border: 1px solid #9c9c9c;
  display: inline-block;
  line-height: round(@screen-scale*36px);
  margin-right: round(@screen-scale*7px);
  font-weight: bold;
}

.uv-icon{
  width: round(@screen-scale*24px);
  height: round(@screen-scale*25px);
  background-image: url("../../../../@{screen-width}/media/uv-redeem.png");
  display: inline-block;
  top: 5px;
  position: relative;

}

#product #productDescriptionContainer{
  margin-left: round(@screen-scale*10px);
}

#product .productInfo .productDescription {
  overflow: hidden;
  color: #c5c5c5;
  font-size: @main-font-size-small;
  width: round(@screen-scale*656px);
  line-height: round(@screen-scale*32px);
}

#product .productInfo .copyright{
  margin-top: round(@screen-scale*20px);
  width: round(@screen-scale*656px);
  font-size: round(@screen-scale*18px);
  color: #9c9c9c;
}

#product .productInfo #productMeta{
  position: absolute;
  top: round(@screen-scale*186px);
  left: round(@screen-scale*1130px);
  width: round(@screen-scale*345px);
  font-size: round(@screen-scale*18px);
  color: #9c9c9c;
  margin-left: round(@screen-scale*10px);
  max-height: round(@screen-scale*245px);
  overflow: hidden;
}

#product .productInfo #productMeta .metaDataTitle {
  font-size: round(@screen-scale*16px);
}

#product .productInfo .metadataBlock {
  margin-bottom: round(@screen-scale*20px);
}

#product .productInfo .metadataBlock .bold {
  font-weight: bold;
}

#product .productInfo #metadataBlocks {
  display: none;
  width:round(@screen-scale*350px);
  float:left;
}

/* Extras */
#product .productExtras{
  margin-top: round(@screen-scale*52px);
  margin-left: round(@screen-scale*100px);
}

#product .productExtras .extraTitle{
  font-size: round(@screen-scale*20px);
  color: white;
  text-transform: uppercase;
  margin-bottom: round(@screen-scale*20px);
}

#product .productExtras .extraTitle .icon{
  height: round(@screen-scale*17px);
  width: round(@screen-scale*4px);
  margin-right: round(@screen-scale*10px);
  background: @menu-button-focus-color;
  display: inline-block;
  margin-top: -1px;
}

#product .thumbnail-container{
  width: round(@screen-scale*1604px);
  height: round(@screen-scale*185px);
  overflow: hidden;
  position: relative;
  left: round(@screen-scale*-100px);
}

#product .thumbnail-container .scroll-container{
  width: round(@screen-scale*10000px);
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-left: round(@screen-scale*100px);
}

#product .thumbnail-container .extra-thumbnail{
  float: left;
  width: round(@screen-scale*292px);
  height: round(@screen-scale*165px);
  overflow: hidden;
  margin-top: round(@screen-scale*5px);
  margin-right: round(@screen-scale*24px);
  position: relative;
}

#product .thumbnail-container .thumbnail-border{
  width: round(@screen-scale*288px);
  height: round(@screen-scale*161px);
  border: 2px solid white;
  position: absolute;
  display: none;
}

#product .thumbnail-container .focus .thumbnail-border {
  display: block;
}

#product .thumbnail-container .extra-thumbnail .play-icon{
  width: round(@screen-scale*61px);
  height: round(@screen-scale*59px);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: round(@screen-scale*-30px);
  margin-left: round(@screen-scale*-30px);
  background-image: url("../../../../@{screen-width}/media/detail-playextra-icon.png");
}

#product .thumbnail-container .extra-thumbnail .lock-icon {
  width: round(@screen-scale*42px);
  height: round(@screen-scale*48px);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: round(@screen-scale*-24px);
  margin-left: round(@screen-scale*-21px);
  background-image: url("../../../../@{screen-width}/media/icon_lock.png");
  background-size: cover;
  display: none;
}

#product .thumbnail-container .extra-thumbnail.locked .play-icon{
  display: none;
}

#product .thumbnail-container .extra-thumbnail.locked .lock-icon{
  display: block;
}


#product .thumbnail-container .extra-thumbnail img{
  width: 100%;
  height: 100%;
}

#product .relatedImages{
  margin-top: round(@screen-scale*20px);
  padding-bottom: round(@screen-scale*215px);
}

/* Series */
#product .episode .episodeList{
  margin-top: round(@screen-scale*50px);
}

#product .episode #prevEpisode,
#product .episode #nextEpisode {
  display: none;
}


#product .episodeList .episode-thumbnail .related-title{
  position: absolute;
  top: round(@screen-scale*-51px);
  text-transform: uppercase;
  font-size: round(@screen-scale*20px);
  color: white;
}

#product .episodeList .episode-thumbnail .related-title .blue-rect{
  height: round(@screen-scale*16px);
  width: round(@screen-scale*5px);
  margin-right: round(@screen-scale*8px);
  background: @menu-button-focus-color;
  display: inline-block;
  margin-top: -1px;
}

#product .episode .episodeList .episode-thumbnail{
  margin-top: round(@screen-scale*65px);
}

#product .episodeList .episode-thumbnail .thumbnail-border{
  width: round(@screen-scale*288px);
  height: round(@screen-scale*161px);
  border: 2px solid white;
  position: absolute;
  display: none;
}

#product .episodeList .episode-thumbnail.focus .thumbnail-border {
  display: block;
}

#product .episodeList .episode-meta{
  font-size: round(@screen-scale*20px);
}

#product .episodeList .episode-title{
  height: round(@screen-scale*62px);
  color: #b4b4b4;
  font-size: round(@screen-scale*16px);
}

#product .episodeList .episode-thumbnail img{
  width: round(@screen-scale*292px);
  height: round(@screen-scale*165px);
}

#product #episodeTitle{
  margin-left: 0px;
  display: block;
  float: none;
  margin-bottom: 0px;
  margin-top: round(@screen-scale*45px);
  font-size: round(@screen-scale*36px);
  height: round(@screen-scale*36px);
  line-height: round(@screen-scale*36px);
  text-transform: none;
}

#product .episode .buttonContainer{
  margin-top: round(@screen-scale*20px);
}

#navigationTop{

}