@import "../../globals.less";
@import "../../theme.less";

.imageviewer #slider-items img{
  width: @full-screen-width;
  height: @full-screen-height;
}

.imageviewer #slider-items li {
  display: none;
}

.imageviewer #slider-items li.active {
  display: block;
}

.imageviewer #galleryContent{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
}

.imageviewer #thumbnails{
  bottom: round(@screen-scale*40px);
  height: round(@screen-scale*200px);
  width: 9000px;
  position: absolute;
  left: 0px;
  margin-left: round(@screen-scale*24px);
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;

}

.imageviewer .leanback-image{
  width: round(@screen-scale*292px);
  height: round(@screen-scale*165px);
  margin-left: round(@screen-scale*24px);
  float: left;
  margin-top: round(@screen-scale*10px);
}

.imageviewer .leanback-image img {
  width: round(@screen-scale*292px);
  height: round(@screen-scale*165px);
}

.imageviewer .leanback-image.focus .focusBorder{
  width: round(@screen-scale*288px);
  height: round(@screen-scale*161px);
  border: 2px solid white;
  position: absolute;
}

.imageviewer #buttonLeft{
  width: round(@screen-scale*39px);
  height: round(@screen-scale*72px);
  background-image: url("../../../@{screen-width}/media/imageviewer-arrows.png");
  position: absolute;
  left: round(@screen-scale*24px);
  top: 50%;
  margin-top: round(@screen-scale*-36px);
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.imageviewer #buttonRight{
  width: round(@screen-scale*39px);
  height: round(@screen-scale*72px);
  background-image: url("../../../@{screen-width}/media/imageviewer-arrows.png");
  background-position: round(@screen-scale*-39px) 0px;
  position: absolute;
  right: round(@screen-scale*24px);
  top: 50%;
  margin-top: round(@screen-scale*-36px);
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.imageviewer .button.disable{
  display: none;
}