/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
#container.productDetail,
#container.bundle-detail {
  overflow: hidden;
}
.productWindow {
  position: absolute;
  top: 0px;
  height: 1080px;
  width: 1625px;
  left: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#product {
  margin-top: 420px;
  position: absolute;
  height: auto;
  width: 100%;
  -o-transform: translate(0px, 1080px);
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#product.overlay {
  -o-transform: translate(0px, 380px);
}
#product.fullscreen {
  -o-transform: translate(0px, -100px);
}
#product.extraImages {
  -o-transform: translate(0px, -285px);
}
#product .title-row {
  height: 100px;
  width: 1605px;
  background-image: -o-linear-gradient(top, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.1) 30%, rgba(2, 2, 2, 0.5) 100%);
  background-image: -webkit-linear-gradient(top, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.1) 30%, rgba(2, 2, 2, 0.5) 100%);
  padding-top: 100px;
}
#product .title {
  font-size: 55px;
  font-weight: 300;
  color: #b7b7b7;
  max-width: 1150px;
  line-height: 100px;
  height: 100px;
  margin-left: 113px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  color: #efefef;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#productPlayButton.disable {
  display: none;
}
#productPlayButton .icon {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: left;
  background-image: url("../../../../1080/media/detail-buttonicons.png");
}
#productPlayButton .icon {
  width: 12px;
  height: 15px;
  top: 18px;
  background-position: 0px 0px;
}
#productPlayButton.focus .icon {
  background-position: -30px 0px;
}
#product .productInfo .title.shortened {
  width: 860px;
}
#product .productInfoContainer {
  width: 100%;
  height: auto;
  background: rgba(2, 2, 2, 0.85);
  position: relative;
  padding-bottom: 70px;
}
#product .thumb {
  float: left;
  left: 113px;
  top: 45px;
  width: 218px;
  position: absolute;
}
#product .thumb img {
  width: 100%;
  height: 100%;
  background-image: url("../../../../1080/media/videos/default_thumb_large.png");
  float: left;
}
#product .remainingWatchTimeLeft {
  position: relative;
  float: left;
}
#product .productInfo {
  width: 1200px;
  margin-left: 390px;
  color: #f7f7f7;
  overflow: hidden;
}
#product .productInfo .buttonContainer {
  width: 100%;
  height: 81px;
  margin-top: 45px;
  margin-left: 10px;
}
#product .productInfo .buttonContainer .button {
  height: 52px;
  line-height: 52px;
  text-align: center;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 20px;
  background: black;
  border: 2px solid #9c9c9c;
  color: #9c9c9c;
  float: left;
  margin-right: 18px;
  position: relative;
}
#product .productInfo .buttonContainer .button.focus {
  border: 2px solid #efefef;
  color: black;
  background: #efefef;
}
#product .productInfo .buttonContainer .button.disable {
  display: none;
}
#product .productInfo .buttonContainer .button .highlight {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
#product .productInfo .buttonContainer .button#productUpgradeButton .highlight,
#product .productInfo .buttonContainer .button#productPurchaseButton .highlight {
  text-transform: none;
}
#product .productInfo .buttonContainer .button.focus .highlight {
  color: black;
}
#product .productInfo .buttonContainer .button .icon {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: left;
  background-image: url("../../../../1080/media/detail-buttonicons.png");
  background-size: 60px 210px;
}
#product .productInfo .buttonContainer #watch10MinPreviewButton .icon {
  width: 15px;
  height: 15px;
  top: 18px;
  background-position: 0px -180px;
}
#product .productInfo .buttonContainer #watch10MinPreviewButton.focus .icon {
  background-position: -30px -180px;
}
#product .productInfo .buttonContainer #watchPreviewButton.focus .icon {
  background-position: -30px 0px;
}
#product .productInfo .buttonContainer #productExtrasButton .icon {
  width: 23px;
  height: 15px;
  top: 18px;
  background-position: 0px -30px;
}
#product .productInfo .buttonContainer #productExtrasButton.focus .icon {
  background-position: -30px -30px;
}
#product .productInfo .buttonContainer #productPreviewExtrasButton .icon {
  width: 23px;
  height: 15px;
  top: 18px;
  background-position: 0px -30px;
}
#product .productInfo .buttonContainer #productPreviewExtrasButton.focus .icon {
  background-position: -30px -30px;
}
#product .productInfo .buttonContainer #productFavoritesButton .icon {
  width: 19px;
  height: 19px;
  top: 15px;
  background-position: 0px -90px;
}
#product .productInfo .buttonContainer #productFavoritesButton.focus .icon {
  background-position: -30px -90px;
}
#product .productInfo .buttonContainer #productFavoritesButton.removeFromFavorites .icon {
  width: 19px;
  height: 19px;
  top: 14px;
  background-position: 0px -120px;
}
#product .productInfo .buttonContainer #productFavoritesButton.removeFromFavorites.focus .icon {
  background-position: -30px -120px;
}
#product .productInfo .buttonContainer #productMoreInfoButton .icon {
  width: 24px;
  height: 5px;
  top: 20px;
  background-position: 0px -150px;
}
#product .productInfo .buttonContainer #productMoreInfoButton.focus .icon {
  background-position: -30px -150px;
}
#product .buttonContainer .buttonContainerContent {
  width: auto;
  float: left;
}
#product .buttonContainer .button:not(.disable) {
  margin-right: 10px;
}
#product .productInfo .metadata .separator {
  padding: 0 0px;
}
#product .metadata {
  font-size: 19px;
  color: #9c9c9c;
  margin-bottom: 20px;
  margin-left: 10px;
}
#product .metadata .guidanceRating {
  font-size: 20px;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #9c9c9c;
  display: inline-block;
  line-height: 36px;
  margin-right: 7px;
  font-weight: bold;
}
.uv-icon {
  width: 24px;
  height: 25px;
  background-image: url("../../../../1080/media/uv-redeem.png");
  display: inline-block;
  top: 5px;
  position: relative;
}
#product #productDescriptionContainer {
  margin-left: 10px;
}
#product .productInfo .productDescription {
  overflow: hidden;
  color: #c5c5c5;
  font-size: 20px;
  width: 656px;
  line-height: 32px;
}
#product .productInfo .copyright {
  margin-top: 20px;
  width: 656px;
  font-size: 18px;
  color: #9c9c9c;
}
#product .productInfo #productMeta {
  position: absolute;
  top: 186px;
  left: 1130px;
  width: 345px;
  font-size: 18px;
  color: #9c9c9c;
  margin-left: 10px;
  max-height: 245px;
  overflow: hidden;
}
#product .productInfo #productMeta .metaDataTitle {
  font-size: 16px;
}
#product .productInfo .metadataBlock {
  margin-bottom: 20px;
}
#product .productInfo .metadataBlock .bold {
  font-weight: bold;
}
#product .productInfo #metadataBlocks {
  display: none;
  width: 350px;
  float: left;
}
/* Extras */
#product .productExtras {
  margin-top: 52px;
  margin-left: 100px;
}
#product .productExtras .extraTitle {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#product .productExtras .extraTitle .icon {
  height: 17px;
  width: 4px;
  margin-right: 10px;
  background: #039eb0;
  display: inline-block;
  margin-top: -1px;
}
#product .thumbnail-container {
  width: 1604px;
  height: 185px;
  overflow: hidden;
  position: relative;
  left: -100px;
}
#product .thumbnail-container .scroll-container {
  width: 10000px;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 100px;
}
#product .thumbnail-container .extra-thumbnail {
  float: left;
  width: 292px;
  height: 165px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 24px;
  position: relative;
}
#product .thumbnail-container .thumbnail-border {
  width: 288px;
  height: 161px;
  border: 2px solid white;
  position: absolute;
  display: none;
}
#product .thumbnail-container .focus .thumbnail-border {
  display: block;
}
#product .thumbnail-container .extra-thumbnail .play-icon {
  width: 61px;
  height: 59px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background-image: url("../../../../1080/media/detail-playextra-icon.png");
}
#product .thumbnail-container .extra-thumbnail .lock-icon {
  width: 42px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -21px;
  background-image: url("../../../../1080/media/icon_lock.png");
  background-size: cover;
  display: none;
}
#product .thumbnail-container .extra-thumbnail.locked .play-icon {
  display: none;
}
#product .thumbnail-container .extra-thumbnail.locked .lock-icon {
  display: block;
}
#product .thumbnail-container .extra-thumbnail img {
  width: 100%;
  height: 100%;
}
#product .relatedImages {
  margin-top: 20px;
  padding-bottom: 215px;
}
/* Series */
#product .episode .episodeList {
  margin-top: 50px;
}
#product .episode #prevEpisode,
#product .episode #nextEpisode {
  display: none;
}
#product .episodeList .episode-thumbnail .related-title {
  position: absolute;
  top: -51px;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
}
#product .episodeList .episode-thumbnail .related-title .blue-rect {
  height: 16px;
  width: 5px;
  margin-right: 8px;
  background: #039eb0;
  display: inline-block;
  margin-top: -1px;
}
#product .episode .episodeList .episode-thumbnail {
  margin-top: 65px;
}
#product .episodeList .episode-thumbnail .thumbnail-border {
  width: 288px;
  height: 161px;
  border: 2px solid white;
  position: absolute;
  display: none;
}
#product .episodeList .episode-thumbnail.focus .thumbnail-border {
  display: block;
}
#product .episodeList .episode-meta {
  font-size: 20px;
}
#product .episodeList .episode-title {
  height: 62px;
  color: #b4b4b4;
  font-size: 16px;
}
#product .episodeList .episode-thumbnail img {
  width: 292px;
  height: 165px;
}
#product #episodeTitle {
  margin-left: 0px;
  display: block;
  float: none;
  margin-bottom: 0px;
  margin-top: 45px;
  font-size: 36px;
  height: 36px;
  line-height: 36px;
  text-transform: none;
}
#product .episode .buttonContainer {
  margin-top: 20px;
}
