/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
.playlistHeader {
  height: 70px;
  line-height: 70px;
  padding-bottom: 10px;
}
.playlistButtons {
  position: relative;
  float: right;
  display: inline-block;
  margin-top: 12px;
  z-index: 10;
}
.playlistButtons .button {
  font-family: opensans;
  font-size: 24px;
  color: #f7f7f7;
  float: left;
  margin-left: 6px;
  text-align: center;
}
.playlistButtons .showAll.disable {
  display: none;
}
.playlistContent {
  position: absolute;
  height: 100%;
  width: 99999px;
  left: 0px;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -o-transform: translate(237px, 0);
  -webkit-transform: translate3d(237px, 0, 0);
  padding-top: 30px;
  padding-left: 78px;
}
.playlistContent .playlist-page {
  width: 1426px;
  height: 1050px;
  float: left;
  position: relative;
}
.playlistContent .playlist-page.first-page {
  width: 1106px;
  margin-right: 18px;
}
.playlistContent .playlist-page.left-margin {
  margin-left: 18px;
}
.playlistContent .playlist-col {
  height: 100%;
  float: left;
  width: 219px;
  margin-left: 18px;
}
.playlistContent #playlist_col-0,
.playlistContent #playlist_col-1 {
  width: 535px;
}
.locker .playlistContent #playlist_col-0,
.locker .playlistContent #playlist_col-1 {
  width: 219px;
}
.playlistContent .product {
  width: 219px;
  height: 330px;
  float: left;
  margin-bottom: 18px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.57);
  background-color: #141414;
  position: relative;
  opacity: 0;
  overflow: hidden;
  margin-right: 18px;
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.playlistContent.visibleProducts .product {
  opacity: 1;
}
.playlistContent .product.featured {
  margin-right: 0px;
  width: 688px;
}
.playlistContent .product.featured.large {
  height: 688px;
}
.playlistContent .product.featured.small {
  height: 317px;
}
.playlistContent .product.featured-0,
.playlistContent .product.featured-1,
.playlistContent .product.featured-2,
.playlistContent .product.featured-3 {
  width: 535px;
  height: 504px;
}
.playlistContent .product img {
  width: 219px;
  height: 330px;
  background-image: url("../../../../1080/media/videos/default_thumb.png");
  background-size: cover;
  background-position: center;
}
.playlistContent .product img.background-asset {
  background: none;
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-animation: backgroundAnimation 18s infinite;
  -webkit-animation: backgroundAnimation 18s infinite;
  -o-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
.playlistContent .product.animate img.background-asset {
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
}
.playlistContent .product img.foreground-asset {
  background: none;
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-animation: foregroundAnimation 18s infinite;
  -webkit-animation: foregroundAnimation 18s infinite;
  -o-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
.playlistContent .product.animate img.foreground-asset {
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
}
.playlistContent .product.featured img,
.playlistContent .product.featured.focus img {
  margin-top: 0px;
  margin-left: 0px;
  left: 0;
  top: 0;
  opacity: 1;
  position: absolute;
}
/*.playlistContent .product.featured.featured-0 img,
.playlistContent .product.featured.featured-1 img{
  width: round(@screen-scale*690px);
  height: round(@screen-scale*317px);
  top: round(@screen-scale*0px);
  left: round(@screen-scale*0px);
}

.playlistContent .product.featured.large.featured-0 img,
.playlistContent .product.featured.large.featured-1 img{
  width: round(@screen-scale*760px);
  height: round(@screen-scale*760px);
  top: round(@screen-scale*-35px);
  left: round(@screen-scale*-35px);
}*/
.playlistContent .product.featured.featured-0 img,
.playlistContent .product.featured.featured-1 img,
.playlistContent .product.featured.featured-2 img,
.playlistContent .product.featured.featured-3 img {
  width: 589px;
  height: 558px;
  top: -27px;
  left: -27px;
}
.playlistContent .product.featured.large img.small,
.playlistContent .product.featured.small img.large {
  visibility: hidden;
  /*  opacity:0;*/
}
.playlistContent .product .productBorder {
  position: absolute;
  height: 322px;
  width: 211px;
  border: 4px solid white;
  opacity: 0;
  box-shadow: inset 0 0 8px #ffffff;
  z-index: 2;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
}
.playlist.featured .playlistContent .product .productBorder {
  width: 1164px;
}
.playlistContent .product.large .productBorder {
  width: 680px;
  height: 680px;
}
.playlistContent .product.small .productBorder {
  width: 680px;
  height: 309px;
}
.playlistContent .product.featured-0 .productBorder,
.playlistContent .product.featured-1 .productBorder,
.playlistContent .product.featured-2 .productBorder {
  width: 527px;
  height: 496px;
  border: 6px solid white;
  margin-left: -2px;
  margin-top: -2px;
}
.playlistContent .product.featured-3 .productBorder {
  width: 527px;
  height: 496px;
  border: 6px solid white;
  margin-left: -2px;
  margin-top: -2px;
}
.playlistContent .product .productDescriptionContainer {
  position: absolute;
  background: transparent url("../../../../1080/media/product_overlay_large.png") no-repeat left bottom;
  width: 330px;
  height: 330px;
  /*  padding: @storefront-product-description-padding;*/
  overflow: hidden;
}
.playlistContent .product .productTitle {
  bottom: 0px;
  font-size: 16px;
  line-height: 43px;
  height: 43px;
  overflow: hidden;
  position: absolute;
  width: 179px;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.8);
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
}
.playlistContent .product .productTitle .hdr {
  color: #039eb0;
}
.playlistContent .product.focus .productTitle {
  opacity: 1;
}
.playlistContent .product.focus .remainingWatchTimeLeft {
  display: none;
}
.playlistContent .product.featured .productTitle {
  bottom: 0px;
  height: 70px;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  padding-left: 30px;
  text-align: left;
  margin-left: 0px;
  opacity: 1;
  font-weight: 300;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.playlistContent .product.featured.featured-0 .productTitle,
.playlistContent .product.featured.featured-1 .productTitle {
  width: 658px;
}
.playlistContent .product.featured.featured-2 .productTitle,
.playlistContent .product.featured.featured-3 .productTitle {
  width: 505px;
}
.playlistContent .product.focus .productBorder {
  opacity: 1;
}
