@import "../../globals.less";
@import "../../theme.less";

#splash {
  display: block;
  position: absolute;
  z-index: 80;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  background: @splash-background;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

#splashPlayer {
  position: absolute;
  width: 100%;
  height: @full-screen-height;
  top: 50%;
  margin-top: -@full-screen-height/2;
}