@import "../../globals.less";
@import "../../theme.less";

.login, .pin{
  width: @full-screen-width;
  height: @full-screen-height;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(to top, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
  top: 0px;
}

#launchContent{
  width: round(@screen-scale*1598px);
  height: @full-screen-height;
  left: round(@screen-scale*322px);
  top: 0px;
  position: absolute;
}

#launchContent .buttonsContainer {
  width:1100px;
  height:450px;
  margin:round(@screen-scale*105px) auto;
}

#launchContent .menuBlock {
  width:round(@screen-scale*350px);
  height:round(@screen-scale*350px);
  display: block;
  float:left;
  border:1px solid #FFF;
  margin-right: round(@screen-scale*13px);
   
}

#launchContent .menuBlock p{
  text-align: center; 
  padding-top:130px;
  font-weight: lighter;
}

#launchContent .menuBlock.focus {
  border:1px solid #00bbd1;
}

#launchContent.fullscreen{
  width: @full-screen-width;
  left: 0px;
}

.login #logo, .pin #logo{
  width: round(@screen-scale*230px);
  height: round(@screen-scale*91px);
  background: url('../../../@{screen-width}/media/logo.png') top center no-repeat;
  margin-top: round(@screen-scale*112px);
  margin-left: round(@screen-scale*-115px);
  left: 50%;
  position: relative;
}

.login .loginContainer, .pin .pinContainer{
  width: round(@screen-scale*1083px);
  margin-left: round(@screen-scale*257px);
  margin-top: round(@screen-scale*65px);
}

.login .fullscreen .loginContainer, .pin .fullscreen .pinContainer{
  margin-left: round(@screen-scale*418px);
}

.login .helpContainer.disabled{
  display: none;
}

#launchContent .header{
  width: round(@screen-scale*1100px);
  margin:0 auto;  
  height: round(@screen-scale*60px);
}

#launchContent .header.long-email{
  height: round(@screen-scale*68px);
}

#launchContent .header .title{
  font-weight: lighter;
  text-align: left;
  font-size: round(@screen-scale*32px);
  color: white;
  clear:both;
  height:round(@screen-scale*100px);
  line-height: round(@screen-scale*200px);
}


#accountFrame {
  z-index:8;
}

#iframeOverlay {
  position:absolute;
  top:0;
  z-index:10;
  width:100%;
  height:round(@screen-scale*100px);
}
.returnButton {
  position: absolute;
  top: round(@screen-scale*10px);
  right: round(@screen-scale*13px);
  width: round(@screen-scale*65px);
  height: round(@screen-scale*65px);
  padding-right: 0px;
  background-image: url('../../../@{screen-width}/media/nav-icons.png');  
  background-position: round(@screen-scale*0px) round(@screen-scale*-216px);
  z-index: 12;
}