@import "../../globals.less";
@import "../../theme.less";

.redemption{
  width: @full-screen-width;
  height: @full-screen-height;
  background-color: black;
  // background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('../../../@{screen-width}/media/temp/bg_redemption.jpg');

  // background: url('../../../@{screen-width}/media/temp/bg_redemption.jpg') top center no-repeat;    
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6) 100%,rgba(0,0,0,0.6) 100%), url('../../../@{screen-width}/media/temp/bg_redemption.jpg');
  background-image: -o-linear-gradient(to top, rgba(0,0,0,0.6) 100%,rgba(0,0,0,0.6) 100%), url('../../../@{screen-width}/media/temp/bg_redemption.jpg');
  background-image: linear-gradient(to top, rgba(0,0,0,0.6) 100%,rgba(0,0,0,0.6) 100%), url('../../../@{screen-width}/media/temp/bg_redemption.jpg');
  position: absolute;
  top: 0px;
}
.redemption.noBackground{
  width: @full-screen-width;
  height: @full-screen-height;
  background-color: black;
  background-image: -webkit-linear-gradient(bottom, black 0%, #121212 50%, black 100%);
  background-image: -o-linear-gradient(to top, black 0%, #121212 50%, black 100%);
  background-image: linear-gradient(to top, black 0%, #121212 50%, black 100%);
  position: absolute;
  top: 0px;
}


#redemptionContent, #promotionContent, #successContent{
  width: round(@screen-scale*1600px);
  height: @full-screen-height;
  left: round(@screen-scale*160px);
  top: 0px;
  position: absolute;
}

#redemptionContent .buttonsContainer {
  width:1100px;
  height:450px;
  margin:0 auto;
}

#redemptionContent .menuBlock {
  width:round(@screen-scale*350px);
  height:round(@screen-scale*350px);
  display: block;
  float:left;
  border:1px solid #FFF;
  margin-right: round(@screen-scale*13px);   
}

.redemption #inputField, .pin #inputField{
  width: round(@screen-scale*436px);
  height: round(@screen-scale*57px);
  background: #d7d7d7;
  line-height: round(@screen-scale*57px);
  font-size: round(@screen-scale*24px);
  color: black;
  padding-left: round(@screen-scale*24px);
  position: absolute;
  top: round(@screen-scale*360px);
  left: round(@screen-scale*878px);
}


.redemption .divider{
  width: 100%;
  height: 1px;
  background: #4b4b4b;
  margin: round(@screen-scale*22px) 0px;
  margin-top: round(@screen-scale*30px);
}
 .redemption #redemptionContent .divider{
  margin-top: round(@screen-scale*80px) !important;
}

.redemption .helpContainer .divider{
  margin-top: round(@screen-scale*22px);
}

.redemption .buttons{
  position: absolute;
  top: round(@screen-scale*495px);
  text-align: center;
  width: round(@screen-scale*1082px);
}

#redemptionContent #inputField {
  left: 718px !important;
}

#redemptionContent .menuBlock p{
  text-align: center; 
  padding-top:130px;
  font-weight: lighter;
}

#redemptionContent .menuBlock.focus {
  border:1px solid #00bbd1;
}

#redemptionContent.fullscreen{
  width: @full-screen-width;
  left: 0px;
}

.redemption #logo, .pin #logo{
  width: round(@screen-scale*230px);
  height: round(@screen-scale*91px);
  background: url('../../../@{screen-width}/media/logo.png') top center no-repeat;
  margin-top: round(@screen-scale*112px);
  margin-left: round(@screen-scale*-115px);
  left: 50%;
  position: relative;
}

.redemption .loginContainer, .pin .pinContainer{
  width: round(@screen-scale*1083px);
  margin-left: round(@screen-scale*257px);
  margin-top: round(@screen-scale*65px);
}

.redemption .fullscreen .loginContainer, .pin .fullscreen .pinContainer{
  margin-left: round(@screen-scale*418px);
}

.redemptionredemption .helpContainer.disabled{
  display: none;
}

#redemptionContent .redemption .buttons {
  position: absolute;
  top: round(@screen-scale*455px) !important;
  text-align: center;
  width: round(@screen-scale*1100px);
  
}

.redemption .button.disabled {
  opacity:0.5;
}

.redemption .button, .pin .button{
  .large-button();
  .text-button-small();
  margin-left: round(@screen-scale*6px);
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

#promotionContent .buttons {
  position: static;
  text-align: center;
  width: round(@screen-scale*1600px);  
}

#redemptionContent .header {
  width: round(@screen-scale*1100px);
  margin:0 auto;   
}

#successContent .header {
  margin-top: round(@screen-scale*30px);
}

#successContent {
    width: round(@screen-scale*1100px);
  margin:0 auto;  
  height: round(@screen-scale*100px);
}

#redemptionContent .header.long-email{
  height: round(@screen-scale*68px);
}

#redemptionContent .header .title, #successContent .header .title{
  font-weight: lighter;
  text-align: left;
  font-size: round(@screen-scale*32px);
  color: #848484;
  clear:both;
  height:round(@screen-scale*60px);
  line-height: round(@screen-scale*150px);
}

#successContent {
  display: none;
}

 #successContent .header .title {

 }


#promotionContent .content, #successContent .content{  
  height: round(@screen-scale*700px);
  width:round(@screen-scale*1600px);  
}

#successContent .subtitle{  
    width:round(@screen-scale* 1100px);
    margin: 0 auto;
    height: round(@screen-scale*100px);
    margin-top: round(@screen-scale*50px);
}

#successContent .divider {
    width: round(@screen-scale*1100px);
    margin: 0 auto;
    margin-top: 80px !important;
}
#promotionContent .content .top img{
  height: round(@screen-scale*280px);
  margin-right: round(@screen-scale*30px);
}

#promotionContent .redemption-success h1{
  display: inline-block;
  color: #848484;
}

#promotionContent .redemption-success h1 .white{
  color: white;
}

#promotionContent .redemption-success .buttons{
  position: absolute;
  top: round(@screen-scale*780px);
  left: round(@screen-scale*140px);
}

#promotionContent .redemption-success #redemptionBack{
  margin-right: 0px;
}

#promotionContent .redemptionTitle, #successContent .redemptionTitle {
  font-weight: lighter;  
  font-size: round(@screen-scale*32px);
  position: absolute;
  color:white;
  height: round(@screen-scale*70px);
  width: round(@screen-scale*800px);  
  padding-top: round(@screen-scale*50px);
}
#promotionContent .redemptionTitle .blue {
  color:#00bbd1
}

#promotionContent .redemptionSubtitle {
  text-align: right;
  color:white;
  position: absolute;
  font-weight: lighter;    
  font-size:round(@screen-scale*24px);
  height: round(@screen-scale*70px);
  width: round(@screen-scale*500px);  
  padding-top: round(@screen-scale*50px);
  right:0;
}


#promotionContent .divider{
  width: round(@screen-scale*1700px);
  margin:0 auto;
  margin-top:round(@screen-scale*100px) !important;  
}

#promotionContent .redemptionPlaylistContent {
  position: absolute;
  height: round(@screen-scale*700px);
  width: round(@screen-scale*99999px);
  left: round(@screen-scale*0px);
  top:round(@screen-scale*310px);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -o-transform: translate(237px, 0);
  -webkit-transform: translate3d(237px, 0, 0);
}

#promotionContent .redemptionPlaylistContent .product {
  width: round(@screen-scale*219px);
  height:  round(@screen-scale*330px);
  float: left;
  margin-bottom: ound(@screen-scale*18px);
  box-shadow: 0 round(@screen-scale*10px) round(@screen-scale*16px) rgba(0, 0, 0, 0.57);
  background-color: #141414;
  position: relative;
  opacity: 1;
  overflow: hidden;
  margin-right: round(@screen-scale*18px);
  -o-transform: translate(0, 0);
  -webkit-transform: translate3d(0,0,0); //prevent artifacts when scrolling main container
}

#promotionContent .redemptionPlaylistContent .product .productBorder {
  position: absolute;
  height: round(@screen-scale*322px);
  width: round(@screen-scale*211px);
  border: round(@screen-scale*4px) solid white;
  display: none;
  z-index: 2;
}

#promotionContent .redemptionPlaylistContent .product.selected .productBorder {
  position: absolute;
  height: round(@screen-scale*322px);
  width: round(@screen-scale*211px);
  border: round(@screen-scale*4px) solid #00bbd1;
  display: none;
  z-index: 2;
}


#promotionContent .redemptionPlaylistContent .product.focus.selected .productBorder {
  position: absolute;
  height: round(@screen-scale*322px);
  width: round(@screen-scale*211px);
  border: round(@screen-scale*4px) solid white;
  display: none;
  z-index: 2;
}

#promotionContent .redemptionPlaylistContent .product img {
  width: round(@screen-scale*219px);
  height: round(@screen-scale*330px);
  background-size: cover;
  background-position: center;
}

#promotionContent .redemptionPlaylistContent .product.focus .productBorder {
  display: block;
}

#promotionContent .redemptionPlaylistContent .product.selected .productBorder {
  display: block;
}

#promotionContent .redemptionPlaylistContent .product.focus.selected .productBorder {
  display: block;
}