@import "../../globals.less";
@import "../../theme.less";

/*Top menu*/

#menu{
  position: absolute;
  height: 100%;
  z-index: 100;
}

#mainMenu {
  width: @main-menu-width;
  float: left;
  position: absolute;
  z-index: 12;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

#menuBar {
  width: 100%;
  height: 100%;
  background-color: #141414;
}

#menuBar #mainMenuItems {
  position: absolute;
}

#menuBar #menuTopSpacing {
  width: 100%;
  height: 33%;
  background-color:@menu-background-color;
}

#menuBar #menuTopSpacing .ultra-logo{
  width: round(@screen-scale*38px);
  height: round(@screen-scale*130px);
  position: absolute;
  top: round(@screen-scale*36px);
  left: round(@screen-scale*26px);
  background-image: url("../../../@{screen-width}/media/theme/ultra-logo.png");
  background-repeat: no-repeat;
  opacity: 0.1;
}

#menuBar #menuBottomSpacing {
  width: 100%;
  height: 33%;
  background-color:@menu-background-color;
}

#menuBar .menuButton {
  height:round(@screen-scale*84px);
  width:round(@screen-scale*78px);
  display: block;
  position: relative;
  background-repeat: no-repeat;

}

#menuBar .menuButton .icon{
  height:round(@screen-scale*78px);
  width:round(@screen-scale*85px);
  display: block;
  background-image: url("../../../@{screen-width}/media/menubuttons.png");
  background-size:round(@screen-scale*261px) auto; //use same image for 720 and 1080, but scale down to keep image crisp on 720 resolution
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
}

#menuBar .menuButton.focus {
}

#menuBar .menuButton.select {

}

#menuBar .menuButton#browse,
#menuBar .menuButton#library,
#menuBar .menuButton#favorites,
#menuBar .menuButton#search,
#menuBar .menuButton#settings{
  background-color: @menu-background-color;
}


/* Menu icons */
#menuBar .menuButton#browse .icon{
  background-position: round(@screen-scale*-4px) round(@screen-scale*0px);
}

#menuBar .menuButton#library .icon{
  background-position: round(@screen-scale*-4px) round(@screen-scale*-87px);
}

#menuBar .menuButton#favorites .icon{
  background-position: round(@screen-scale*-4px) round(@screen-scale*-174px);
}

#menuBar .menuButton#search .icon{
  background-position: round(@screen-scale*-4px) round(@screen-scale*-261px);
}

#menuBar .menuButton#settings .icon{
  background-position: round(@screen-scale*-4px) round(@screen-scale*-349px);
}

/* Select menu icons */
#menuBar .menuButton#browse.select .icon{
  background-position: round(@screen-scale*-91px) round(@screen-scale*0px);
}

#menuBar .menuButton#library.select .icon{
  background-position: round(@screen-scale*-91px) round(@screen-scale*-87px);
}

#menuBar .menuButton#favorites.select .icon{
  background-position: round(@screen-scale*-91px) round(@screen-scale*-174px);
}

#menuBar .menuButton#search.select .icon{
  background-position: round(@screen-scale*-91px) round(@screen-scale*-261px);
}

#menuBar .menuButton#settings.select .icon{
  background-position: round(@screen-scale*-91px) round(@screen-scale*-349px);
}


/* Focus menu icons */
#menuBar .menuButton#browse.focus .icon{
  background-position: round(@screen-scale*-178px) round(@screen-scale*0px);
}

#menuBar .menuButton#library.focus .icon{
  background-position: round(@screen-scale*-178px) round(@screen-scale*-87px);
}

#menuBar .menuButton#favorites.focus .icon{
  background-position: round(@screen-scale*-178px) round(@screen-scale*-174px);
}

#menuBar .menuButton#search.focus .icon{
  background-position: round(@screen-scale*-178px) round(@screen-scale*-260px);
}

#menuBar .menuButton#settings.focus .icon{
  background-position: round(@screen-scale*-178px) round(@screen-scale*-348px);
}


#subBar {
  height:100%;
  width:round(@screen-scale*237px);
  background-color: #1d1d1d;
  background-image: -webkit-linear-gradient(bottom, #1d1d1d 0%, #2c2c2c 50%, #1d1d1d 100%);
  background-image: -o-linear-gradient(bottom, #1d1d1d 0%, #2c2c2c 50%, #1d1d1d 100%);
  background-image: linear-gradient(to top, #1d1d1d 0%, #2c2c2c 50%, #1d1d1d 100%);
  overflow: hidden;
  float: left;
  display: table;
  position: absolute;
  z-index: 11;
  left: 0px;
  padding-left: @main-menu-width;
}

#subBar #subMenuItems{
  padding-left: round(@screen-scale*36px);
  display: table-cell;
  vertical-align: middle;
  padding-top: round(@screen-scale*20px);
}

#subBar #subMenuHeader{
  .text-light-large();
  margin-bottom: round(@screen-scale*21px);
  padding-top: round(@screen-scale*14px);
}

#subBar .divider{
  background-color: #6c6c6c;
  height: 1px;
  width: round(@screen-scale*161px);
  margin-bottom: round(@screen-scale*25px);
}

.backButton,
.closeButton,
#subBar .menuButton{
  .text-submenu-button();
  line-height:round(@screen-scale*50px);
  padding-right:round(@screen-scale*20px);
  line-height: round(@screen-scale*25px);
  margin-bottom: round(@screen-scale*16px);
}

#subBar .menuButton.select{
  color: #00bbd1;
}

.backButton {
  position: absolute;
  top: round(@screen-scale*35px);
  left: round(@screen-scale*120px);
  width: round(@screen-scale*65px);
  height: round(@screen-scale*65px);
  padding-right: 0px;
  background-image: url('../../../@{screen-width}/media/nav-icons.png');
  background-position: round(@screen-scale*4px) 0px;
  z-index: 12;
}

.backButton.disable {
  display: none;
}

.backButton:hover {
  background-position: round(@screen-scale*-63px) 0px;
}

.backButton.languageoverlay{
  display: block;
}

.backButton .buttonText {
  display: none;
  line-height: round(@screen-scale*70px);
  margin-left: round(@screen-scale*70px);
}

.backButton.focus,
#subBar .menuButton.focus{
  color: @menu-button-focus-text-color;
  text-shadow:#ffffff 0px 0px round(@screen-scale*8px);
}

.backButton.focus .buttonText {
  display: block;
}

.closeButton {
  position: absolute;
  top: round(@screen-scale*35px);
  right: round(@screen-scale*100px);
  width: round(@screen-scale*65px);
  height: round(@screen-scale*65px);
  padding-right: 0px;
  background-image: url('../../../@{screen-width}/media/nav-icons.png');
  background-position: round(@screen-scale*4px) round(@screen-scale*-216px);
  z-index: 12;
}
.closeButton:hover {
  background-position: round(@screen-scale*-63px) round(@screen-scale*-216px);
}

.closeButton.languageoverlay{
  display: block;
}

.closeButton .buttonText {
  display: none;
  line-height: round(@screen-scale*70px);
  margin-left: round(@screen-scale*-57px);
}

.closeButton.focus{
  color: @menu-button-focus-text-color;
  text-shadow:#ffffff 0px 0px round(@screen-scale*8px);
}

.closeButton.focus .buttonText {
  display: block;
}