@import "../../../globals.less";
@import "../../../theme.less";

//@storefront-product-border-width: ceil(round(@screen-scale*15px));

@storefront-product-height: round(@screen-scale*330px);
@storefront-product-width: round(@screen-scale*219px);
@storefront-item-padding: round(@screen-scale*18px);

@storefront-product-featured-width-large: floor(@screen-scale*688px);
@storefront-product-featured-width-small: round(@screen-scale*535px);

@storefront-product-featured-height-large: floor(@screen-scale*688px);
@storefront-product-featured-height-medium: floor(@screen-scale*504px);
@storefront-product-featured-height-small: round(@screen-scale*317px);



.playlistHeader {
  height: round(@screen-scale*70px);
  line-height: round(@screen-scale*70px);
  padding-bottom: round(@screen-scale*10px);

}

.playlistButtons {
  position: relative;
  float: right;
  display: inline-block;
  margin-top: round(@screen-scale*12px);
  z-index: 10;
}

.playlistButtons .button {
  .text-button-small();
  float: left;
  margin-left: round(@screen-scale*6px);
  text-align: center;
}

.playlistButtons .showAll.disable {
  display: none;
}

.playlistContent {
  position: absolute;
  height: 100%;
  width: round(@screen-scale*99999px);
  left: 0px;
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -o-transform: translate(round(@screen-scale*237px), 0);
  -webkit-transform: translate3d(round(@screen-scale*237px), 0, 0);
  //transform: translate3d(round(@screen-scale*237px), 0, 0);
  padding-top: round(@screen-scale*30px);
  padding-left:@main-menu-width;
}

.playlistContent .playlist-page{
  width: round(@screen-scale*1426px);
  height: round(@screen-scale*1050px);
  float: left;
  position: relative;
}

.playlistContent .playlist-page.first-page {
  width: round(@screen-scale*1106px);
  margin-right: @storefront-item-padding;
}

.playlistContent .playlist-page.left-margin {
  margin-left: @storefront-item-padding;
}

.playlistContent .playlist-col{
  height: 100%;
  float: left;
  width: @storefront-product-width;
  margin-left: @storefront-item-padding;
}

.playlistContent #playlist_col-0,
.playlistContent #playlist_col-1 {
  width: @storefront-product-featured-width-small;
}

.locker .playlistContent #playlist_col-0,
.locker .playlistContent #playlist_col-1 {
  width: @storefront-product-width;
}

.playlistContent .product {
  width: @storefront-product-width;
  height: @storefront-product-height;
  float: left;
  margin-bottom: @storefront-item-padding;
  box-shadow: 0 round(@screen-scale*10px) round(@screen-scale*16px) rgba(0, 0, 0, 0.57);
  background-color: #141414;
  position: relative;
  opacity: 0;
  //-o-transition: height .25s ease-in-out;
  //-webkit-transition:height .25s ease-in-out;
  //transition: height .25s ease-in-out;
  overflow: hidden;
  margin-right: round(@screen-scale*18px);
  -o-transform: translate(0,0);
  -webkit-transform: translate3d(0,0,0); //prevent artefacts when scrolling main container
}

.playlistContent.visibleProducts .product{
  opacity: 1;
}

.playlistContent .product.focus{
  //disabled for performance
  //box-shadow: 0 0 round(@screen-scale*8px) rgb(255, 255, 255), 0 round(@screen-scale*10px) round(@screen-scale*16px) rgba(0, 0, 0, 0.57);
}

.playlistContent .product.featured {
  margin-right: 0px;
  width: @storefront-product-featured-width-large;
}

.playlistContent .product.featured.large{
  height: @storefront-product-featured-height-large;
}

.playlistContent .product.featured.small{
  height: @storefront-product-featured-height-small;
}

.playlistContent .product.featured-0,
.playlistContent .product.featured-1,
.playlistContent .product.featured-2,
.playlistContent .product.featured-3{
  width: @storefront-product-featured-width-small;
  height: @storefront-product-featured-height-medium;
}

.playlistContent .product img {
  width: @storefront-product-width;
  height: @storefront-product-height;
  background-image: url("../../../../@{screen-width}/media/videos/default_thumb.png");
  background-size: cover;
  background-position: center;
}

.playlistContent .product img.background-asset{
  background: none;
  -o-transform: translate(0,0);
  -webkit-transform: translate3d(0,0,0);

  -o-animation: backgroundAnimation 18s infinite;
  -webkit-animation: backgroundAnimation 18s infinite;

//  -o-animation-fill-mode: forwards;
//  -webkit-animation-fill-mode: forwards;

  -o-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.playlistContent .product.animate img.background-asset {
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
}

.playlistContent .product img.foreground-asset{
  background: none;
  -o-transform: translate(0,0);
  -webkit-transform: translate3d(0,0,0);

//  -o-animation-fill-mode: forwards;
//  -webkit-animation-fill-mode: forwards;

  -o-animation: foregroundAnimation 18s infinite;
  -webkit-animation: foregroundAnimation 18s infinite;

  -o-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.playlistContent .product.animate img.foreground-asset {
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
}

.playlistContent .product.featured img,
.playlistContent .product.featured.focus img{
  margin-top: 0px;
  margin-left: 0px;
  left: 0;
  top: 0;
  opacity:1;
  position: absolute;
  //-webkit-transition: opacity 1s linear .5s;
  //-moz-transition: opacity 1s linear .5s;
  //-ms-transition: opacity 1s linear .5s;
  //-o-transition: opacity 1s linear .5s;
  //transition: opacity 1s linear .5s;
}

/*.playlistContent .product.featured.featured-0 img,
.playlistContent .product.featured.featured-1 img{
  width: round(@screen-scale*690px);
  height: round(@screen-scale*317px);
  top: round(@screen-scale*0px);
  left: round(@screen-scale*0px);
}

.playlistContent .product.featured.large.featured-0 img,
.playlistContent .product.featured.large.featured-1 img{
  width: round(@screen-scale*760px);
  height: round(@screen-scale*760px);
  top: round(@screen-scale*-35px);
  left: round(@screen-scale*-35px);
}*/


.playlistContent .product.featured.featured-0 img,
.playlistContent .product.featured.featured-1 img,
.playlistContent .product.featured.featured-2 img,
.playlistContent .product.featured.featured-3 img{
  width: round(@screen-scale*589px);
  height: round(@screen-scale*558px);
  top: round(@screen-scale*-27px);
  left: round(@screen-scale*-27px);
}


.playlistContent .product.featured.large img.small,
.playlistContent .product.featured.small img.large{
  visibility: hidden;
/*  opacity:0;*/
}

.playlistContent .product .productBorder {
  position: absolute;
  height: @storefront-product-height - 8;
  width: @storefront-product-width - 8;
  border: 4px solid white;
  opacity: 0;
  //disabled for performance
  box-shadow: inset 0 0 round(@screen-scale*8px) rgba(255, 255, 255, 1);
  z-index: 2;

  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;

  transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
}


.playlist.featured .playlistContent .product .productBorder {
  width: @screen-scale*1164px;
}

.playlistContent .product.large .productBorder {
  width: @storefront-product-featured-width-large - 8;
  height: @storefront-product-featured-height-large - 8;
}

.playlistContent .product.small .productBorder {
  width: @storefront-product-featured-width-large - 8;
  height: @storefront-product-featured-height-small - 8;
}


.playlistContent .product.featured-0 .productBorder,
.playlistContent .product.featured-1 .productBorder,
.playlistContent .product.featured-2 .productBorder {
  width: @storefront-product-featured-width-small - 8;
  height: @storefront-product-featured-height-medium - 8;
  border: 6px solid white;
  margin-left: -2px;
  margin-top: -2px;
}

.playlistContent .product.featured-3 .productBorder {
  width: @storefront-product-featured-width-small - 8;
  height: @storefront-product-featured-height-medium - 8;
  border: 6px solid white;
  margin-left: -2px;
  margin-top: -2px;
}


.playlistContent .product .productDescriptionContainer {
  position: absolute;
  background: transparent url("../../../../@{screen-width}/media/product_overlay_large.png") no-repeat left bottom;
  width: @storefront-product-height;
  height: @storefront-product-height;
/*  padding: @storefront-product-description-padding;*/
  overflow: hidden;
}

.playlistContent .product .productTitle {
  bottom: 0px;
  font-size: round(@screen-scale*16px);
  line-height: round(@screen-scale*43px);
  height: round(@screen-scale*43px);
  overflow: hidden;
  position: absolute;
  width: round(@screen-scale*179px);
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  padding: round(@screen-scale*10px) round(@screen-scale*20px);
  background: rgba(0,0,0,.8);
  text-align: left;

  opacity: 0;

  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;

  transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
}

.playlistContent .product .productTitle .hdr{
  color: #039eb0;
}

.playlistContent .product.focus .productTitle {
  opacity: 1;
}

.playlistContent .product.focus .remainingWatchTimeLeft {
  display: none;
}

.playlistContent .product.featured .productTitle {
  bottom: 0px;
  height: round(@screen-scale*70px);
  line-height: round(@screen-scale*70px);
  background: rgba(0,0,0,.7);
  font-size: round(@screen-scale*30px);
  padding-left: round(@screen-scale*30px);
  text-align: left;
  margin-left: 0px;
  opacity: 1;
  font-weight: 300;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}

.playlistContent .product.featured.featured-0 .productTitle,
.playlistContent .product.featured.featured-1 .productTitle {
  width: @storefront-product-featured-width-large - round(@screen-scale*30px);
}

.playlistContent .product.featured.featured-2 .productTitle,
.playlistContent .product.featured.featured-3 .productTitle {
  width: @storefront-product-featured-width-small - round(@screen-scale*30px);
}

.playlistContent .product.focus .productBorder {
  opacity: 1;
}