/** Theme **/
/*
// Text mixin(s)
.text-title-xlarge() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-xlarge;
  font-weight: bold;
  color: @main-text-color;
}

.text-title-largest() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-largest;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-title-small() {
  //font-family: @main-font-bold;
  font-size: @main-font-size-small;
  font-weight: bold;
  color: @main-text-color;
}
*/
/*
.text-large() {
  font-family: @font;
  font-size: @main-font-size-large;
  color: @main-text-color;
}

.text-larger() {
  font-family: @font;
  font-size: @main-font-size-larger;
  color: @main-text-color;
}

.text-xlarge() {
  font-family: @font;
  font-size: @main-font-size-xlarge;
  color: @main-text-color;
}

.text-small() {
  font-family: @font;
  font-size: @main-font-size-small;
  color: @main-text-color;
}
*/
/*
.text-button() {
  font-family: @font;
  font-size: @main-button-font-size;
  color: @main-button-text-color;
}
*/
/*
.text-light() {
  font-weight: 200;
  font-size: @main-font-size;
  color: @main-text-color;
}

.text-input-bold() {
  //  font-family: @main-font-bold;
  font-size: @main-font-size;
  color: @secondary-input-text-color;
  font-weight: bold;
}

// List mixin(s)
.list-item() {
  background-color: @main-button-background-color;
  color: @secondary-button-text-color;
  font-size: @main-font-size-large;
  line-height: round(@screen-scale*69px);
  height: round(@screen-scale*69px);
  margin-bottom: @screen-scale*10px;
}

.list-item-focus() {
//  font-family: @main-font-bold;
  background-color: @main-button-focus-color;
  color: @main-button-focus-text-color;
  font-weight: bold;
}
*/
/*
@main-font-size-largest: @screen-scale*40px;*/
/*@main-button-border-radius: 0px;
@main-button-border-color: @global-default-color;
@main-button-border-width: 0px;
*/
/*

@main-button-focus-border-color: @global-focus-color;
@main-button-focus-border-width: 0px;

@main-button-active-background-color: @global-select-color;
@main-button-active-text-color: @global-text-select-color;

@secondary-button-text-color: #5c5e64;

@secondary-button-focus-text-color: @global-text-focus-color;

// Input
@main-input-background-color: @global-default-color;
@main-input-placeholder-color: @global-default-color;
@main-input-text-color: @global-text-default-color;
@main-input-border-radius: 0px;
@main-input-border-color: @global-default-color;
@main-input-border-width: 0px;

@main-input-focus-background-color: @global-focus-color;
@main-input-focus-border-color: @global-focus-color;
@main-input-focus-text-color: @global-text-focus-color;
@main-input-focus-placeholder-color: @global-text-focus-color;

@secondary-input-background-color: @global-text-default-color;
@secondary-input-text-color: @global-focus-color;

@secondary-input-focus-background-color: @global-focus-color;
@secondary-input-focus-text-color: @global-text-default-color;
*/
/*
// Login
@login-container-background-color: transparent;
*/
/*
// Dropdownlist
@dropdown-background-color: #000000;
@dropdown-text-color: #5e5c64;
@dropdown-separator-color: #000000;
@dropdown-separator-width: 0px;
*/
/*Top menu*/
#menu {
  position: absolute;
  height: 100%;
  z-index: 100;
}
#mainMenu {
  width: 78px;
  float: left;
  z-index: 12;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
#menuBar {
  width: 100%;
  height: 100%;
  background-color: #141414;
}
#menuBar #mainMenuItems {
  position: absolute;
}
#menuBar #menuTopSpacing {
  width: 100%;
  height: 33%;
  background-color: #141414;
}
#menuBar #menuTopSpacing .ultra-logo {
  width: 38px;
  height: 130px;
  position: absolute;
  top: 36px;
  left: 26px;
  background-image: url("../../../1080/media/theme/ultra-logo.png");
  background-repeat: no-repeat;
  opacity: 0.1;
}
#menuBar #menuBottomSpacing {
  width: 100%;
  height: 33%;
  background-color: #141414;
}
#menuBar .menuButton {
  height: 84px;
  width: 78px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
}
#menuBar .menuButton .icon {
  height: 78px;
  width: 85px;
  display: block;
  background-image: url("../../../1080/media/menubuttons.png");
  background-size: 261px auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
}
#menuBar .menuButton#browse,
#menuBar .menuButton#library,
#menuBar .menuButton#favorites,
#menuBar .menuButton#search,
#menuBar .menuButton#settings {
  background-color: #141414;
}
/* Menu icons */
#menuBar .menuButton#browse .icon {
  background-position: -4px 0px;
}
#menuBar .menuButton#library .icon {
  background-position: -4px -87px;
}
#menuBar .menuButton#favorites .icon {
  background-position: -4px -174px;
}
#menuBar .menuButton#search .icon {
  background-position: -4px -261px;
}
#menuBar .menuButton#settings .icon {
  background-position: -4px -349px;
}
/* Select menu icons */
#menuBar .menuButton#browse.select .icon {
  background-position: -91px 0px;
}
#menuBar .menuButton#library.select .icon {
  background-position: -91px -87px;
}
#menuBar .menuButton#favorites.select .icon {
  background-position: -91px -174px;
}
#menuBar .menuButton#search.select .icon {
  background-position: -91px -261px;
}
#menuBar .menuButton#settings.select .icon {
  background-position: -91px -349px;
}
/* Focus menu icons */
#menuBar .menuButton#browse.focus .icon {
  background-position: -178px 0px;
}
#menuBar .menuButton#library.focus .icon {
  background-position: -178px -87px;
}
#menuBar .menuButton#favorites.focus .icon {
  background-position: -178px -174px;
}
#menuBar .menuButton#search.focus .icon {
  background-position: -178px -260px;
}
#menuBar .menuButton#settings.focus .icon {
  background-position: -178px -348px;
}
#subBar {
  height: 100%;
  width: 237px;
  background-color: #1d1d1d;
  background-image: -webkit-linear-gradient(bottom, #1d1d1d 0%, #2c2c2c 50%, #1d1d1d 100%);
  background-image: -o-linear-gradient(bottom, #1d1d1d 0%, #2c2c2c 50%, #1d1d1d 100%);
  background-image: linear-gradient(to top, #1d1d1d 0%, #2c2c2c 50%, #1d1d1d 100%);
  overflow: hidden;
  float: left;
  display: table;
  position: absolute;
  z-index: 11;
  left: 0px;
  padding-left: 78px;
}
#subBar #subMenuItems {
  padding-left: 36px;
  display: table-cell;
  vertical-align: middle;
  padding-top: 20px;
}
#subBar #subMenuHeader {
  font-size: 32px;
  font-weight: 300;
  color: #f7f7f7;
  margin-bottom: 21px;
  padding-top: 14px;
}
#subBar .divider {
  background-color: #6c6c6c;
  height: 1px;
  width: 161px;
  margin-bottom: 25px;
}
.backButton,
.closeButton,
#subBar .menuButton {
  font-family: opensans;
  font-size: 20px;
  color: #747474;
  line-height: 50px;
  padding-right: 20px;
  line-height: 25px;
  margin-bottom: 16px;
}
#subBar .menuButton.select {
  color: #00bbd1;
}
.backButton {
  position: absolute;
  top: 35px;
  left: 120px;
  width: 65px;
  height: 65px;
  padding-right: 0px;
  background-image: url('../../../1080/media/nav-icons.png');
  background-position: 4px 0px;
  z-index: 12;
}
.backButton.disable {
  display: none;
}
.backButton:hover {
  background-position: -63px 0px;
}
.backButton.languageoverlay {
  display: block;
}
.backButton .buttonText {
  display: none;
  line-height: 70px;
  margin-left: 70px;
}
.backButton.focus,
#subBar .menuButton.focus {
  color: white;
  text-shadow: #ffffff 0px 0px 8px;
}
.backButton.focus .buttonText {
  display: block;
}
.closeButton {
  position: absolute;
  top: 35px;
  right: 100px;
  width: 65px;
  height: 65px;
  padding-right: 0px;
  background-image: url('../../../1080/media/nav-icons.png');
  background-position: 4px -216px;
  z-index: 12;
}
.closeButton:hover {
  background-position: -63px -216px;
}
.closeButton.languageoverlay {
  display: block;
}
.closeButton .buttonText {
  display: none;
  line-height: 70px;
  margin-left: -57px;
}
.closeButton.focus {
  color: white;
  text-shadow: #ffffff 0px 0px 8px;
}
.closeButton.focus .buttonText {
  display: block;
}
