@import "../../globals.less";
@import "../../theme.less";

@keyboard-width: round(@screen-scale*1145px);

#ime{
  position:absolute;
  display: block;
  width: @keyboard-width;
  height: round(@screen-scale*410px);
  overflow:hidden;
  top: round(@screen-scale*540px);
  left: round(@screen-scale*249px);
  opacity: 1;
}

.fullscreen #ime{
  left: round(@screen-scale*411px);
}


#ime.numeric{
  width: round(@screen-scale*350px);
}

#keyboard{
  position:absolute;
  bottom:0px;
  left:0px;
  width: @keyboard-width;
  height:round(@screen-scale*450px);
  .text-main();
}

@keyframes keyboardAni {
  from {bottom:round(@screen-scale*-380px);}
  to {bottom:0px;}
}
@-webkit-keyframes keyboardAni {
  from {bottom:round(@screen-scale*-380px);}
  to {bottom:0px;}
}
@-moz-keyframes keyboardAni {
  from {bottom:round(@screen-scale*-380px);}
  to {bottom:0px;}
}
@-o-keyframes keyboardAni {
  from {bottom:round(@screen-scale*-380px);}
  to {bottom:0px;}
}
.clearRow {
  clear:both;
}
.hidden {
  display:none;
}

#input {
  display: none;
  width:round(@screen-scale*1220px);
  height:round(@screen-scale*65px);
  position: relative;
  top:0px;
  left:round(@screen-scale*30px);
  background: rgba(0,0,0,0.5);
  color:#FFF;
}

/*make sure .input-element has same font-type and font-size for correct placement*/
#input input {
  /*font-family: arial;*/
  width:round(@screen-scale*550px);
  height:round(@screen-scale*35px);
  line-height:round(@screen-scale*32px);
  font-size:round(@screen-scale*24px);
  padding-left:round(@screen-scale*5px);
  border-color: #FFF;
  background-color: #FFF;
}

#input input.focus {
  border-color: #219161;
  transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  box-shadow: 0 0 round(@screen-scale*10px) #FFF;
  -o-box-shadow: 0 0 round(@screen-scale*10px) #FFF;
  -webkit-box-shadow: 0 0 round(@screen-scale*10px) #FFF;
  -moz-box-shadow: 0 0 round(@screen-scale*10px) #FFF;
}

.testform {
  width:round(@screen-scale*550px);
  margin:0 auto;
  padding-top:round(@screen-scale*12px);
  height:round(@screen-scale*35px);
  line-height: round(@screen-scale*30px);
}

#keyboardScreen {
  width:round(@screen-scale*1920px);
  height:round(@screen-scale*450px);
  position:relative;
  top:round(@screen-scale*30px);
}

#keyboardFrame {
  width:round(@screen-scale*1920px);
  margin:0 auto;
  padding-top:round(@screen-scale*20px);
}

#keyboardScreen .character,
#keyboardScreen .characterBe,
#keyboardScreen .characterSign,
#keyboardScreen .characterExtra,
#keyboardScreen .characterMoveCarot,
#keyboardScreen .characterSpecial,
#keyboardScreen .numbers,
#keyboardScreen .special,
#keyboardScreen .button {
  list-style-type: none;
  float:left;
  height:round(@screen-scale*61px);
  width:round(@screen-scale*86px);
  line-height: round(@screen-scale*61px);
  background-color: @keyboard-key-background-color;
  border-radius: @keyboard-key-border-radius;
  border: @keyboard-key-border-width;
  border-style: solid;
  border-color: @keyboard-key-border-color;
  color: @keyboard-key-text-color;
  margin:round(@screen-scale*5px);
  font-weight: normal;
  text-align: center;
  margin-right: round(@screen-scale*4px);
}

#keyboardScreen .character.moveToTop{
  line-height: round(@screen-scale*54px);
}

#keyboardScreen .character.moveToTop.uppercase {
  line-height: round(@screen-scale*61px);
}

#keyboardScreen .character.moveUppercaseToTop.uppercase {
  line-height: round(@screen-scale*58px);
}

#keyboardScreen .character.deactivated,
#keyboardScreen .characterBe.deactivated,
#keyboardScreen .characterSign.deactivated,
#keyboardScreen .characterExtra.deactivated,
#keyboardScreen .characterMoveCarot.deactivated,
#keyboardScreen .characterSpecial.deactivated,
#keyboardScreen .special.deactivated,
#keyboardScreen .button.deactivated {
  color:#000;
  background-color: #323232;
}

#keyboardScreen .caps, #keyboardScreen .submit, #keyboardScreen .switchlan {
  background-color: @keyboard-key-background-color;
}

#keyboardScreen .button {   width:round(@screen-scale*160px);  }
#keyboardScreen .smallbutton {   width:round(@screen-scale*70px);  }
#keyboardScreen .special {   width:round(@screen-scale*160px);  }
#keyboardScreen .space {
  width:round(@screen-scale*284px);
}
#keyboardScreen .characterExtra {
  font-size:round(@screen-scale*20px);
}

#keyboardScreen .character.uppercase,
#keyboardScreen .characterSpecial.uppercase,
#keyboardScreen .characterBe.uppercase {
  text-transform: capitalize;
}

#keyboardScreen .character.com.uppercase{
  text-transform: lowercase;
}


#keyboardFrame .numpad {
  float:left;
  width:round(@screen-scale*350px);
  height:round(@screen-scale*500px);
  margin-top:round(@screen-scale*10px);
  display: none;
}

#keyboardFrame .numpad li {
  list-style-type: none;
  float:left;
  position: relative;
}

#keyboardFrame .functions  {
  display: none;
  float:left;
  width:round(@screen-scale*260px);
  height:round(@screen-scale*500px);
  margin-top:round(@screen-scale*10px);
  font-size:round(@screen-scale*30px);
}

#keyboardFrame .characters {
  float:left;
  width:@keyboard-width;
  height:round(@screen-scale*500px);
  font-size:round(@screen-scale*20px);
}

#keyboardFrame .character,
#keyboardFrame .characterBe,
#keyboardFrame .numpad,
#keyboardFrame .characterSign,
#keyboardFrame .characterSpecial {
  font-size:round(@screen-scale*20px);
  position: relative;
}

#keyboardFrame .character .glow, #keyboardFrame .numbers .glow {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 round(@screen-scale*8px) rgba(255, 255, 255, 1);
  position: absolute;
  display: none;
}

#keyboardFrame .character.focus, #keyboardFrame .numbers.focus{
  box-shadow: 0 0 round(@screen-scale*8px) rgba(255, 255, 255, 1);
}

#keyboardFrame .character.focus .glow, #keyboardFrame .numbers.focus .glow {
  display: block;
}


#keyboardFrame .character.disable{
  box-shadow: none;
}

#keyboardFrame .character.disable .glow{
  display: none;
}


#keyboardFrame .characters ul,
#keyboardFrame .extras ul,
#keyboardFrame .numpad ul,
#keyboardFrame .functions ul {
  margin:0;
  padding:0;
}

#keyboardScreen .character.focus,
#keyboardScreen .characterSpecial.focus,
#keyboardScreen .characterBe.focus,
#keyboardScreen .characterSign.focus,
#keyboardScreen .characterExtra.focus,
#keyboardScreen .characterMoveCarot.focus,
#keyboardScreen .numbers.focus,
#keyboardScreen .special.focus,
#keyboardScreen .button.focus  {
  background-color: @keyboard-key-focus-background-color;
  color: @keyboard-key-focus-text-color;
  border-color: @keyboard-key-focus-border-color;
  margin: round(@screen-scale*5px);
  margin-right: round(@screen-scale*4px);
}
#keyboardScreen .button.focus {   width:round(@screen-scale*160px);  }
#keyboardScreen .smallbutton.focus {   width:round(@screen-scale*70px);  }
#keyboardScreen .special.focus {   width:round(@screen-scale*160px);  }
#keyboardScreen .space.focus {
  width:round(@screen-scale*284px);
}

#keyboardScreen .character,
#keyboardScreen .numbers{
  transition: background 0.075s ease-in-out, color 0.075s ease-in-out;
  -webkit-transition: background 0.075s ease-in-out, color 0.075s ease-in-out;
  -o-transition: background 0.075s ease-in-out, color 0.075s ease-in-out;
}

#keyboardScreen .character.disable{
  opacity: .25;
}

#keyboardScreen .character.disable.focus {
  border-color: @keyboard-key-border-color;
}

#keyboardScreen .character.pressed,
#keyboardScreen .numbers.pressed{
  background: #fefefe;
  color: #141414;
}

#keyboardScreen .shift{
  background-image: url("../../../@{screen-width}/media/shift-icon.png");
  background-position: round(@screen-scale*32px) round(@screen-scale*21px);
  background-repeat: no-repeat;
}

#keyboardScreen .character.caps.active{
  border-color: #fefefe;
}




/*images*/

/*#num_10 {*/
/*width:40px; height:40px;*/
/*background: url("../../media/sprite.png") no-repeat 5px 5px;*/
/*overflow:hidden;*/
/*}*/
/*#num_10.focus {*/
/*background: url("../../media/sprite.png") no-repeat 10px -60px;*/
/*}*/
/*#num_11 {*/
/*width:40px; height:40px;*/
/*background: url("../../media/sprite.png") no-repeat -30px 5px;*/
/*overflow:hidden;*/
/*}*/
/*#num_11.focus {*/
/*background: url("../../media/sprite.png") no-repeat -25px -60px;*/
/*}*/

/*.space {    */
/*width:120px; height:40px;*/
/*background: url("../../media/sprite.png") no-repeat 70px -33px;*/
/*overflow:hidden;*/
/*}*/
/*.space.focus {*/
/*background: url("../../media/sprite.png") no-repeat 75px -98px;*/
/*}*/

#keyboardLoading {
  float:right;
  width:round(@screen-scale*150px);
  color:#777;
  margin-top:round(@screen-scale*25px);
  height:round(@screen-scale*30px);
  line-height: round(@screen-scale*30px);
  margin-right:round(@screen-scale*130px);
}

@-webkit-keyframes ajax-loader-rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ajax-loader {
  opacity: .8;
  display: block;
  border-radius: 50%;

  font-size: 29px;
  width: .25em;
  height: .25em;

  box-shadow:
    0 -.4em       0 0 rgba(0,0,0,1),
    -.28em -.28em 0 0 rgba(0,0,0,.75),
  -.4em 0       0 0 rgba(0,0,0,.50),
  -.28em .28em  0 0 rgba(0,0,0,.25)
;

  -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
  -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
  animation: .85s ajax-loader-rotate steps(8) infinite;
}

@keyframes nodeInserted {
  from { clip: rect(1px, auto, auto, auto); }
  to { clip: rect(0px, auto, auto, auto); }
}

.characters li{
  animation-duration: 0.001s;
  animation-name: nodeInserted;
}

#sizer
{
  position: absolute;
  display: inline-block;
  visibility: hidden;
  margin: 3px; /* simulate padding and border without affecting height and width */
  font-size: 24px;
}

.input-element {
  border: 0;
  padding:round(@screen-scale*3px);
  background: #fff;
  size:round(@screen-scale*24px);
  font-size: round(@screen-scale*24px);
}

.tmp-element {
  visibility: hidden;
  white-space: pre;
}

.fakeCursor {
  /*background: url("../../media/fakecursor.png") no-repeat top left;*/
  width:round(@screen-scale*10px);
  height:round(@screen-scale*20px);
  position: absolute;
  left:round(@screen-scale*-50px);
  top:round(@screen-scale*-12px);
  color:#FFF;
}